/* ============================================================================
  Accordion
============================================================================== */
$ACCORDION_PADDING: 16px;
$ACCORDION_PADDING_LARGE: 22px;

.accordion {
  $parent: &;
  border-top: 1px solid $COLOR_PRIMARY_LIGHT;
  margin: 0 0 16px;
  padding: 0;

  &--large {
    border-top: 0;

    @include media-query($medium-up) {
      #{$parent}__control {
        font-size: $FONT_SIZE_SMALL;
        padding: $ACCORDION_PADDING_LARGE 0;
      }

      #{$parent}__content {
        font-size: $FONT_SIZE_SMALL;
        

        p {
          margin-bottom: 20px;
        }

        * {
          font-size: $FONT_SIZE_SMALL;
        }
      }

      &__item.is-active {
        #{$parent}__content {
          font-size: $FONT_SIZE_SMALL;
          padding-bottom: $ACCORDION_PADDING_LARGE;
        }
      }
    }
  }

  li {
    list-style: none;
  }

  &__section-title {
    padding-top: 40px;

    &--first {
      padding-top: 0;
    }

    &--center {
      text-align: center;
    }

    @include media-query($small) {
      h3 {
        font-size: 18px;
      }
    }
  }

  &__link {
    border-bottom: 1px solid $COLOR_PRIMARY_LIGHT;
  }

  &__control {
    background-color: $COLOR_WHITE;
    border: 0;
    border-radius: 0;
    color: $COLOR_PRIMARY;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: $ACCORDION_PADDING 0;
    text-align: left;
    width: 100%;

    #{$parent}__arrow-up {
      display: none;
    }

    #{$parent}__arrow {
      float: right;
      height: 12px;
      position: relative;
      width: 12px;
  
      &::after {
        background: $COLOR_PRIMARY;
        content: '';
        height: 1px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
      }
    }

    #{$parent}__arrow-down {
      &::before {
        background: $COLOR_PRIMARY;
        content: '';
        height: 100%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
        width: 1px;
      }
    }
  }

  &__content {
    font-size: $FONT_SIZE_XSMALL;
    height: auto;
    max-height: 0;
    overflow: hidden;
    padding-bottom: 0;
    transition: 0.2s;

    max-height: 0;
    overflow: hidden;
    padding-bottom: 0;
    transition: 0.6s ease-out;

    ul, ol {
      padding-left: 25px;
      margin-bottom: 10px;

      li {
        font-size: $FONT_SIZE_XSMALL;
        list-style: disc;
      }
    }
  }

  &__item {
    border-bottom: 1px solid $COLOR_PRIMARY_LIGHT;

    &.is-active {
      #{$parent}__content {
        border-top: 0;
        // max-height: 800px;
        // padding-bottom: $ACCORDION_PADDING;
        // padding-top: 0;

        max-height: 200px;
        margin-bottom: 16px;
        padding-top: 0;
        overflow: auto;
        transition: 0.9s ease-in;
    
      }
  
      #{$parent}__arrow-down {
        display: none;
      }
    
      #{$parent}__arrow-up {
        display: inline;
      }
    }
  }
}