/* ============================================================================
  Accordion
============================================================================== */
$ACCORDION_PADDING: 16px;
$ACCORDION_PADDING_LARGE: 22px;

.accordion {
  $parent: &;
  border-top: 1px solid $COLOR_GREY_2;
  margin: 0 0 16px;
  padding: 0;

  &--large {
    border-top: 0;

    @include media-query($medium-up) {
      #{$parent}__control {
        font-size: $FONT_SIZE_SMALL;
        padding: $ACCORDION_PADDING_LARGE 0;
      }

      #{$parent}__content {
        font-size: $FONT_SIZE_SMALL;

        p {
          margin-bottom: 20px;
        }

        * {
          font-size: $FONT_SIZE_SMALL;
        }
      }

      &__item.is-active {
        #{$parent}__content {
          font-size: $FONT_SIZE_SMALL;
          padding-bottom: $ACCORDION_PADDING_LARGE;
        }
      }
    }
  }

  li {
    list-style: none;
  }

  &__section-title {
    padding-top: 40px;

    &--first {
      padding-top: 0;
    }

    &--center {
      text-align: center;
    }

    @include media-query($small) {
      h3 {
        font-size: 18px;
        font-size: 1.125em;
      }
    }
  }

  &__link {
    border-bottom: 1px solid $COLOR_GREY_2;
  }

  &__control {
    background-color: $COLOR_WHITE;
    border: 0;
    border-radius: 0;
    color: $COLOR_PRIMARY;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: $ACCORDION_PADDING 0;
    position: relative;
    text-align: left;
    width: 100%;

    #{$parent}__arrow-up {
      display: none;
    }

    #{$parent}__arrow {
      float: right;
      height: 14px;
      position: relative;
      width: 14px;

      svg {
        height: 14px;
        width: 14px;
      }
    }
  }

  &__content {
    font-size: $FONT_SIZE_XSMALL;
    padding-bottom: 16px;

    ul, ol {
      padding-left: 25px;
      margin-bottom: 10px;

      li {
        font-size: $FONT_SIZE_XSMALL;
        list-style: disc;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    border-bottom: 1px solid $COLOR_GREY_2;
    margin-bottom: 1px;

    &.is-active {
      #{$parent}__control {
        &::before {
          display: none;
        }
      }

      #{$parent}__content {
        border-top: 0;
      }
  
      #{$parent}__arrow-down {
        display: none;
      }
    
      #{$parent}__arrow-up {
        display: inline;
      }
    }
  }
}

.product-description {
  .accordion__content {
    p {
      font-size: 13px;
      font-size: 0.813em;

      * {
        font-size: 1em;
      }
    }

    ul, ol {
      li {
        font-size: 13px;
        font-size: 0.813em;
      }
    }
  }
}