// /*================ Links & Buttons ================*/
$BUTTON_COLOR: #032540;
$BUTTON_PRESS_COLOR: #032540;
$BUTTON_HOVER_COLOR: #021B2F;
$BUTTON_DISABLE_COLOR: #8FA1AE;
$BUTTON_TEXT_COLOR: #FFFFFF;

$BUTTON_WHITE_COLOR: #FFFFFF;
$BUTTON_WHITE_PRESS_COLOR: rgb(206, 224, 242);
$BUTTON_WHITE_HOVER_COLOR: rgb(206, 224, 242);
$BUTTON_WHITE_DISABLE_COLOR: rgb(233, 241, 249);
$BUTTON_WHITE_TEXT_COLOR: rgb(12, 45, 71);

$BUTTON_LETTER_SPACING: 0.25px;

%button {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  background: $BUTTON_COLOR;
  border: 1px solid $BUTTON_COLOR;
  border-radius: 0;
  color: $BUTTON_TEXT_COLOR;
  cursor: pointer;
  display: inline-block;
  font: 500 10px/40px $FONT_BODY;
  height: 40px;
  letter-spacing: $BUTTON_LETTER_SPACING;
  margin: 0;
  min-width: 152px;
  outline: 0;
  padding: 0 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s;
  vertical-align: top;

  &.disabled, &[disabled] {
    background: $BUTTON_DISABLE_COLOR;
    border-color: $BUTTON_DISABLE_COLOR;
    color: $BUTTON_TEXT_COLOR;
    cursor: not-allowed;

    &:hover {
      background-color: $BUTTON_DISABLE_COLOR;
      color: $BUTTON_TEXT_COLOR;
    }
  }

  &:hover {
    background-color: $BUTTON_HOVER_COLOR;
    color: $BUTTON_TEXT_COLOR;
  }
}

.button {
  @extend %button;

  &--large {
    min-width: 200px;
  }

  &--full-width {
    width: 100%;
  }

  &--compressed {
    height: 36px;
    // stylelint-disable-next-line
    line-height: 36px;
    padding: 0 25px;
  }
}

.button--white {
  @extend %button;
  background: $BUTTON_WHITE_COLOR;
  border-color: $BUTTON_WHITE_PRESS_COLOR;
  color: $BUTTON_WHITE_TEXT_COLOR;

  &:hover {
    background: $BUTTON_WHITE_HOVER_COLOR;
    border-color: $BUTTON_WHITE_HOVER_COLOR;
    color: $BUTTON_WHITE_TEXT_COLOR;
  }
}

.button--primary {
  @extend %button;
  background: $BUTTON_WHITE_COLOR;
  border-color: $COLOR_PRIMARY;
  color: $COLOR_WHITE;

  &:hover {
    background: $COLOR_PRIMARY_LIGHT;
    border-color: $COLOR_PRIMARY_LIGHT;
    color: $COLOR_BLACK;
  }
}

.button--secondary {
  @extend %button;
  background: $COLOR_SECONDARY;
  border-color: $COLOR_SECONDARY;
  color: $COLOR_BLACK;

  &:hover {
    background: $COLOR_SECONDARY_LIGHT;
    border-color: $COLOR_SECONDARY_LIGHT;
    color: $COLOR_BLACK;
  }
}

.button--tertiary {
  background-color: $COLOR_TERTIARY;
  border-color: $COLOR_TERTIARY;
  color: $COLOR_BLACK;

  &:hover {
    background-color: $COLOR_TERTIARY_LIGHT;
    border-color: $COLOR_TERTIARY_LIGHT;
    color: $COLOR_BLACK;
  }
}

.button--full {
  width: 100%;
}

.wolf-arrow {
  background-image: $ICON_ARROW_LEFT;
  background-position: calc(50% - 1px) calc(50% - 1px);
  background-repeat: no-repeat;
  background-size: 10px 13px;
  border: 1px solid $COLOR_SECONDARY;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
  padding: 17px;
  transition: 0.2s;
  z-index: 5;

  &:hover {
    background-color: $COLOR_SECONDARY;
  }
}

.wolf-arrow--right {
  background-image: $ICON_ARROW_RIGHT;
  background-position: calc(50% + 1px) calc(50% - 1px);
}

.button-arrow {
  background-color: transparent;
  background-image: $ICON_ARROW_RIGHT--WHITE;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  border: 0;
  padding: 0;
  width: 40px;
}
