// /*================ Links & Buttons ================*/
%button {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  background: $COLOR_BLACK;
  border: 1px solid $COLOR_BLACK;
  border-radius: 0;
  color: $COLOR_WHITE;
  cursor: pointer;
  display: inline-block;
  font: 500 14px/46px $FONT_BODY;
  height: 46px;
  margin: 0;
  outline: 0;
  padding: 0 45px;
  text-align: center;
  text-decoration: none;
  transition: 0.4s;
  vertical-align: top;

  &.disabled, &[disabled] {
    background: $COLOR_GREY_3;
    border-color: $COLOR_GREY_3;
    color: $COLOR_BLACK;
    cursor: not-allowed;
    opacity: 0.6;

    &:hover {
      background-color: $COLOR_GREY_3;
      color: $COLOR_BLACK;
    }
  }

  &:hover {
    background-color: $COLOR_PRIMARY_LIGHT;
    color: $COLOR_PRIMARY;
  }
}

.button {
  @extend %button;

  &--large {
    min-width: 200px;
  }

  &--full-width {
    width: 100%;
  }

  &--compressed {
    height: 36px;
    // stylelint-disable-next-line
    line-height: 36px;
    padding: 0 25px;
  }
}

.button--white {
  @extend %button;
  background: $COLOR_WHITE;
  border-color: $COLOR_WHITE;
  color: $COLOR_BLACK;

  &:hover {
    background: $COLOR_BLACK;
    border-color: $COLOR_BLACK;
    color: $COLOR_WHITE;
  }
}

.button--primary {
  @extend %button;
  background: $COLOR_PRIMARY;
  border-color: $COLOR_PRIMARY;
  color: $COLOR_WHITE;

  &:hover {
    background: $COLOR_PRIMARY_LIGHT;
    border-color: $COLOR_PRIMARY_LIGHT;
    color: $COLOR_BLACK;
  }
}

.button--secondary {
  @extend %button;
  background: $COLOR_SECONDARY;
  border-color: $COLOR_SECONDARY;
  color: $COLOR_BLACK;

  &:hover {
    background: $COLOR_SECONDARY_LIGHT;
    border-color: $COLOR_SECONDARY_LIGHT;
    color: $COLOR_BLACK;
  }
}

.button--tertiary {
  background-color: $COLOR_TERTIARY;
  border-color: $COLOR_TERTIARY;
  color: $COLOR_BLACK;

  &:hover {
    background-color: $COLOR_TERTIARY_LIGHT;
    border-color: $COLOR_TERTIARY_LIGHT;
    color: $COLOR_BLACK;
  }
}

.button--full {
  width: 100%;
}
