/* ============================================================================
Search Form
============================================================================== */

/* =============== Standard search =============== */
.search-form {
  input {
    padding-right: 50px;
  }

  button[type=submit] {
    background: transparent;
    border: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
  }
}

.site-header__search-icon {
  cursor: pointer;
  opacity: 1 !important;
  position: relative;

  &.search-form--is-active {
    .search-form {
      display: block;
    }
  }

  .search-form {
    display: none;
    position: absolute;
    right: 0;
    top: 7px;
    width: 200px;
    z-index: 1000;
  }
}

/* =============== Search hero =============== */
.search-hero {
  background: rgba(39, 39, 39, 0.95);
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;

  &--is-active {
    display: block;
    opacity: 1;
    overflow: hidden;
    z-index: 10000;
  }
}

.search-hero__inner {
  @include flexbox;
  @include align-items(center);
  height: 100%;

  .search {
    margin: 0 auto;
    max-width: 800px;
    padding: 25px;
    width: 80%;

    h6 {
      color: $COLOR_WHITE;
      margin: 0;
    }

    p {
      font-style: italic;
      margin: 0;
      opacity: 0.5;
    }
  }

  .search__input {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: $COLOR_WHITE;
    font-size: 45px;
    height: auto;
    padding-bottom: 10px;
    padding-left: 0;

    &::-webkit-input-placeholder {
      color: $COLOR_WHITE;
    }

    &::-moz-placeholder {
      color: $COLOR_WHITE;
    }

    &:-ms-input-placeholder {
      color: $COLOR_WHITE;
    }

    &::-ms-input-placeholder {
      color: $COLOR_WHITE;
    }
  }

  .btn {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: $COLOR_WHITE;;
    padding-right: 0;
  }
}

.search-hero__centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  .no-csstransforms & {
    top: 20%;
  }
}

.search-hero__close {
  border: 0;
  cursor: pointer;
  padding: 5px;
  position: fixed;
  right: 0;
  top: 0;

  .icon {
    fill: $COLOR_WHITE;
    font-size: em(20);
  }
}

.search-small--is-active {
  .search-title {
    display: none;
  }

  .search-hero__inner {
    .search__input {
      font-size: 25px;
    }

    .search {
      max-width: none;
      width: auto;
    }
  }
}
