/* ============================================================================
Search Form
============================================================================== */

/* =============== Standard search =============== */
.search-form {
  label {
    display: none;
  }

  input {
    padding-right: 50px;
  }

  button[type=submit] {
    background: transparent;
    border: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;

    .h6 {
      color: $COLOR_PRIMARY;
      display: none;
    }
  }

  &__close {
    display: none;
  }
}

.site-header__search-icon {
  cursor: pointer;
  display: inline-block;
  opacity: 1;
  position: relative;

  svg {
    pointer-events: none;
  }

  input {
    -webkit-appearance: none;
    border-radius: 0 !important;
  }

  &.search-form--is-active {
    .search-form {
      background: #fff;
      display: block;
      padding: 20px;
      position: fixed;
      top: 64px;
      width: 100%;

      .search-form__container {
        margin: 0 auto;
        max-width: 900px;
        position: relative;
      }

      input {
        border: 1px solid $COLOR_PRIMARY;
        border-left: 0;
        border-radius: 0 !important;
        border-right: 0;
        border-top: 0;
        color: $COLOR_PRIMARY;
        font-family: $FONT_BASE;
        padding-left: 0;

        &::-webkit-input-placeholder { /* Edge */
          color: $COLOR_WHITE;
          opacity: 0;
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $COLOR_WHITE;
          opacity: 0;
        }
        
        &::placeholder {
          color: $COLOR_WHITE;
          opacity: 0;
        }
      }

      button[type=submit] {
        bottom: 0;
        height: 100%;
        right: 0;
        top: 0;

        .h6 {
          display: none;
        }
      }
    }

    @include media-query($small) {
      .search-form {
        padding: 10px 20px;

        input {
          border-bottom: 0;
          font-size: 16px;
          font-size: 1em;
          padding-left: 60px;
          padding-right: 40px;

          &::-webkit-input-placeholder { /* Edge */
            color: $COLOR_PRIMARY;
            font-size: 16px;
            font-size: 1em;
            opacity: 1;
          }
          
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $COLOR_PRIMARY;
            font-size: 16px;
            font-size: 1em;
            opacity: 1;
          }
          
          &::placeholder {
            color: $COLOR_PRIMARY;
            font-size: 16px;
            font-size: 1em;
            opacity: 1;
          }
        }

        button[type=submit] {
          left: 0;
          padding-left: 0;
          right: initial;

          .h6 {
            display: none;
          }

          &:after {
            background: $COLOR_PRIMARY;
            bottom: 10px;
            content: '';
            left: 40px;
            position: absolute;
            top: 10px;
            width: 1px;
          }
        }

        .search-form__close {
          align-items: center;
          bottom: 0;
          display: flex;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }

    @include media-query($medium-up) {
      .search-form {
        input {
          &::-webkit-input-placeholder { /* Edge */
            color: $COLOR_WHITE;
            opacity: 0;
          }
          
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $COLOR_WHITE;
            opacity: 0;
          }
          
          &::placeholder {
            color: $COLOR_WHITE;
            opacity: 0;
          }
        }

        label[for] {
          color: $COLOR_PRIMARY;
          cursor: pointer;
          display: inline-block;
          float: left;
          font-family: $FONT_BODY;
          font-size: 10px;
          font-size: 0.625em;
          left: 0;
          margin-bottom: 0;
          opacity: 0.5;
          position: relative;
          text-transform: uppercase;
          top: 0;
          transition: 0.2s;
        }

        button[type=submit] {
          align-items: center;
          display: flex;
          height: auto;
          justify-content: center;
          top: 18px;
          width: auto;

          .h6 {
            display: block;
            margin-bottom: 0;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .search-form {
    display: none;
    position: absolute;
    right: 0;
    top: 7px;
    width: 200px;
    z-index: 1000;
  }
}

/* =============== Search hero =============== */
.search-hero {
  background: rgba(39, 39, 39, 0.95);
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;

  &--is-active {
    display: block;
    opacity: 1;
    overflow: hidden;
    z-index: 10000;
  }
}

.search-hero__inner {
  @include flexbox;
  @include align-items(center);
  height: 100%;

  .search {
    margin: 0 auto;
    max-width: 800px;
    padding: 25px;
    width: 80%;

    h6 {
      color: $COLOR_WHITE;
      margin: 0;
    }

    p {
      font-style: italic;
      margin: 0;
      opacity: 0.5;
    }
  }

  .search__input {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: $COLOR_WHITE;
    font-size: 45px;
    font-size: 2.8125em;
    height: auto;
    padding-bottom: 10px;
    padding-left: 0;

    &::placeholder {
      color: $COLOR_WHITE;
    }
  }

  .btn {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: $COLOR_WHITE;
    padding-right: 0;
  }
}

.search-hero__centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  .no-csstransforms & {
    top: 20%;
  }
}

.search-hero__close {
  border: 0;
  cursor: pointer;
  padding: 5px;
  position: fixed;
  right: 0;
  top: 0;

  .icon {
    fill: $COLOR_WHITE;
    font-size: em(20);
  }
}

.search-small--is-active {
  .search-title {
    display: none;
  }

  .search-hero__inner {
    .search__input {
      font-size: 25px;
      font-size: 1.5625em;
    }

    .search {
      max-width: none;
      width: auto;
    }
  }
}
