/* ============================================================================
Site Header
============================================================================== */
$MOBILE_TRANSITION: 0.2s;
$HEADER-HEIGHT: 64px;

body {
  padding-top: $HEADER-HEIGHT;
}

.site-header {
  $parent: &;
  background: $COLOR_WHITE;
  height: $HEADER-HEIGHT;
  left: 0;
  position: fixed;
  top: 0;
  transition: $MOBILE_TRANSITION;
  width: 100%;
  z-index: 10000;

  &.is-active {
    left: 300px;
  }

  &__site-logo {
    margin-bottom: 0;

    a {
      left: 50%;
      margin-top: 2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  &__hamburger-container {
    cursor: pointer;
    height: 44px;
    padding: 11px 10px;
    position: absolute;
    right: 10px;
    top: 33px;
    transform: translateY(-50%);
    width: 44px;
  }

  // &__hamburger {
  //   border-bottom: 3px solid $COLOR_BLACK;
  //   border-top: 3px solid $COLOR_BLACK;
  //   height: 11px;
  //   position: relative;
  //   width: 100%;

  //   &::after {
  //     border-bottom: 3px solid $COLOR_BLACK;
  //     bottom: -11px;
  //     content: '';
  //     display: block;
  //     position: absolute;
  //     width: 100%;
  //   }
  // }

  &__navigation {
    background-color: $COLOR_WHITE;
    height: 100%;
    padding: 20px 20px 0;
    position: fixed;
    right: -300px;
    top: 0;
    transition: $MOBILE_TRANSITION;
    width: 300px;
    z-index: 99999;

    &.is-active {
      right: 0;
    }

    &::before {
      background: transparent;
      content: '';
      height: 100%;
      left: -20px;
      position: absolute;
      top: 0;
      width: 20px;
    }
  }

  &__misc {
    margin: 0;

    li {
      list-style: none;
    }

    .icon {
      width: 16px;
    }
  }

  &__overlay {
    background: rgba($COLOR_BLACK, 0.8);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: $MOBILE_TRANSITION;
    width: 100%;
    z-index: 1009;

    &.is-active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__mobile-hide {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .site-header {
    &__site-logo a {
      width: 180px;
    }
  }
}

@media only screen and (max-width: 760px) {
  .site-header {
    &__usp {
      display: none;
    }
  }
}

@media only screen and (min-width: 761px) {
  .site-header {
    &__usp {
      align-items: center;
      display: flex;
      left: 50%;
      padding-bottom: 2px;
      position: absolute;
      transform: translateX(-50%);

      img {
        margin-right: 12px;
        width: 30px;
      }

      span {
        font-family: $FONT_BODY;
        font-size: 10px;
        letter-spacing: $LETTER_SPACING_BASE;
        padding-top: 7px;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (max-width: 676px) {
  .site-header {
    &__search-icon {
      top: 21px !important;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .site-header {
    &__site-logo a {
      left: 20px;
      transform: translateY(-50%) translateX(0%);
    }

    &__cart-icon {
      padding: 0;
      position: absolute;
      right: 61px;
      top: 50%;
      transform: translate(0, -50%);
    }

    &__search-icon {
      position: absolute !important;
      right: 94px !important;
      top: 19px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .site-header {
    $parent: &;

    &__mobile-hide {
      display: initial;
    }

    &__hamburger-container {
      display: none;
    }

    .page-width {
      align-items: center;
      display: flex;
      height: 100%;
      position: relative;
    }

    &__nav-search {
      form {
        position: relative;
      }

      input {
        padding-right: 60px;
        width: 100%;
      }

      button {
        background: $COLOR_WHITE;
        border: 1px solid rgba($COLOR_BLACK, 0.4);
        height: 48px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 48px;
      }
    }

    &__nav {
      float: left;
      margin: 0;
      padding: 0;
      width: 50%;

      ul {
        margin: 0 0 0 -20px;
        padding: 0;
      }

      li {
        display: inline-block;
      }

      a {
        font-family: $FONT_BODY;
        font-size: 10px;
        letter-spacing: $LETTER_SPACING_BASE;
        padding: 20px;
        text-transform: uppercase;
      }
    }

    &__usp {
      left: 75%;
    }

    &__misc {
      float: left;
      margin: 0;
      padding: 0;
      text-align: right;
      width: 50%;

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
      }

      a {
        padding: 20px 8px;
      }
    }

    &__cart-icon {
      display: inline-block;
      position: static;
      transform: translate(0);
    }

    &--left-align {
      #{$parent}__site-logo a {
        left: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      #{$parent}__nav {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 80%;
      }

      #{$parent}__misc {
        position: absolute;
        right: 25px;
        text-align: right;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.cursor {
  background: $COLOR_BLACK;
  border-radius: 50%;
  height: 4px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: 300ms;
  transition-timing-function: ease-out;
  width: 4px;
  z-index: 100000;

  &--hide {
    height: 0;
    width: 0;
  }

  &--close {
    // background: url('#{$image-path}icon-close.svg');
    background-color: $COLOR_WHITE;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    transition-duration: 0;
    width: 20px;
  }

  &.expand {
    height: 8px;
    width: 8px;
  }
}
