/* ============================================================================
Site Header
============================================================================== */
$MOBILE_TRANSITION: 0.2s;
$HEADER-HEIGHT: 64px;

body {
  padding-top: $HEADER-HEIGHT;
}

.site-header {
  $parent: &;
  background: $COLOR_WHITE;
  height: $HEADER-HEIGHT;
  left: 0;
  position: fixed;
  top: 0;
  transition: $MOBILE_TRANSITION;
  width: 100%;
  z-index: 10000;

  &.is-active {
    left: 300px;
  }

  &__site-logo {
    margin-bottom: 0;

    a {
      left: 50%;
      margin-top: 2px;
      outline: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  &__hamburger-container {
    cursor: pointer;
    height: 44px;
    padding: 11px 10px;
    position: absolute;
    right: 5px;
    top: 35px;
    transform: translateY(-50%);
    width: 44px;
  }

  &__navigation {
    background-color: $COLOR_WHITE;
    height: calc(100% - 64px);
    overflow: auto;
    padding: 0 20px;
    position: fixed;
    right: -100%;
    top: 64px;
    transition: $MOBILE_TRANSITION;
    width: 100%;
    z-index: 99999;

    &.is-active {
      right: 0;
    }

    &::before {
      background: transparent;
      content: '';
      height: 100%;
      left: -20px;
      position: absolute;
      top: 0;
      width: 20px;
    }
  }

  &__misc {
    float: right;
    height: 64px;
    margin: 0;
    width: 50%;

    .icon {
      vertical-align: initial;
      width: 16px;
    }

    ul {
      display: flex;
      height: 100%;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
      padding-right: 20px;
      width: 100%;
    }

    li {
      align-items: flex-end;
      display: flex;
      float: right;
      height: 100%;
      list-style: none;

      a {
        align-items: center;
        display: flex;
        height: 100%;
        outline: none;
        padding: 10px;
        position: relative;
        z-index: 1;
      }
    }

    .site-header__mobile-hide {
      display: none;
    }
  }

  &__overlay {
    background: rgba($COLOR_BLACK, 0.8);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: $MOBILE_TRANSITION;
    width: 100%;
    z-index: 1009;

    &.is-active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__mobile-hide {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .site-header {
    &__site-logo a {
      width: 180px;
    }
  }
}

@media only screen and (max-width: 350px) {
  .site-header {
    &__site-logo a {
      width: 160px;
    }
  }
}

@media only screen and (max-width: 760px) {
  .site-header {
    &__usp {
      display: none;
    }
  }
}

@media only screen and (min-width: 761px) {
  .site-header {
    &__usp {
      align-items: center;
      display: flex;
      height: 100%;
      left: 50%;
      padding-bottom: 2px;
      position: absolute;
      top: 0;
      transform: translateX(-50%);

      a {
        align-items: center;
        display: flex;
      }

      img {
        margin-right: 12px;
        width: 30px;
      }

      span {
        font-family: $FONT_BODY;
        font-size: $FONT_SIZE_XXSMALL;
        letter-spacing: $LETTER_SPACING_BASE;
        padding-top: 7px;
        text-transform: uppercase;
      }
    }
  }
}

@include media-query($tablet-down) {
  .site-header {
    &__site-logo a {
      left: 20px;
      transform: translateY(-50%) translateX(0%);
    }

    &__misc {
      ul {
        padding-right: 24px;
      }

      li a {
        padding: 8px;
      }

      .icon__search {
        position: relative;
        top: 3px;
      }
    }

    &__cart-icon {
      position: relative;

      .cart-icon__container {
        position: relative;
        top: 2px;
      }

      // &:after {
      //   content: '';
      //   position: absolute;
      //   border-bottom: 3px solid red;
      //   bottom: 18px;
      //   width: 300px;
      //   left: -150px;
      // }
    }
  }
}

@include media-query($medium-up) {
  .site-header {
    &__misc {
      ul {
        padding-right: 12px;
      }
    }
  }
}

@include media-query($tablet-up) {
  .site-header {
    $parent: &;

    &__mobile-hide {
      display: initial;
    }

    &__hamburger-container {
      display: none;
    }

    .page-width {
      align-items: center;
      display: flex;
      height: 100%;
      position: relative;
    }

    &__nav-search {
      form {
        position: relative;
      }

      input {
        padding-right: 60px;
        width: 100%;
      }

      button {
        background: $COLOR_WHITE;
        border: 1px solid rgba($COLOR_BLACK, 0.4);
        height: 48px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 48px;
      }
    }

    &__nav {
      float: left;
      margin: 0;
      padding: 0;
      width: 50%;

      ul {
        margin: 0 0 0 -20px;
        padding: 0;
      }

      li {
        display: inline-block;
      }

      a, .secret-a {
        font-family: $FONT_BODY;
        font-size: $FONT_SIZE_XXSMALL;
        letter-spacing: $LETTER_SPACING_BASE;
        padding: 20px;
        text-transform: uppercase;
      }
    }

    &__usp {
      left: 75%;
    }

    &__misc {
      ul {
        padding-right: 0;
      }

      li a {
        padding: 8px;
      }

      .site-header__mobile-hide {
        display: flex;
      }

      .icon__account {
        position: relative;
        top: 2px;
        width: 15px;
      }

      .icon__search {
        position: relative;
        top: 3px;
      }
    }

    &__cart-icon {
      position: relative;

      // &:after {
      //   content: '';
      //   position: absolute;
      //   border-bottom: 3px solid red;
      //   bottom: 18px;
      //   width: 300px;
      //   left: -150px;
      // }
    }

    &--left-align {
      #{$parent}__site-logo a {
        left: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      #{$parent}__nav {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 80%;
      }

      #{$parent}__misc {
        position: absolute;
        right: 25px;
        text-align: right;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.cursor {
  background: $COLOR_BLACK;
  border-radius: 50%;
  height: 4px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: 300ms;
  transition-timing-function: ease-out;
  width: 4px;
  z-index: 100000;

  &--hide {
    height: 0;
    width: 0;
  }

  &--close {
    // background: url('#{$image-path}icon-close.svg');
    background-color: $COLOR_WHITE;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    transition-duration: 0;
    width: 20px;
  }

  &.expand {
    height: 8px;
    width: 8px;
  }
}
