html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.page-width {
  @include clearfix;
  margin: 0 auto;
  max-width: $width-site;
  padding: 0 20px;

  @include media-query( $medium-up ) {
    padding: 0 $gutter;
  }

  @media (min-width: 1280px ) {
    padding: 0 80px;
  }

  &--slider {
    @include media-query( $tablet-up ) {
      padding: 0 80px;
    }
  }

  &--no-max {
    max-width: 100%;
  }
}

.page-content {
  margin-bottom: 60px;
  padding-top: 40px;
}

* {
  outline: none;
}

/**
 * Page load
 * -----------------------------------------------------------------------------
 *
 */
body {
  &.is-lockdown {
    overflow: hidden !important;
  }
}

#MainContent {
  opacity: 0;
  transition: 0.3s 0.6s ease-in;

  .no-js & {
    opacity: 1 !important;
  }

  &.is-loaded {
    opacity: 1!important;
  }
}

.shopify-challenge__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;

  .shopify-challenge__button {
    @extend .button;
    width: 100%;
  }
}