html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.page-width {
  @include media-query( $medium-up ) {
    padding: 0 $gutter;
  }

  @include clearfix;
  margin: 0 auto;
  max-width: $width-site;
  padding: 0 20px;
}

.page-content {
  margin-bottom: 60px;
  padding-top: 40px;
}
