/**
 * Typography
 * -----------------------------------------------------------------------------
 * Styles for displaying content with some of the most commonly used HTML elements,
 * including normalization, typography, images, tables, and more.
 *
 */
html, body {
  color: $COLOR_TEXT;
  font-family: $FONT_BASE;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: $WEIGHT_NORMAL;
  line-height: $LINE_HEIGHT_BODY;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

$FONT_SIZE_BASE: 16px;

.font-reset {
  font-size: $FONT_SIZE_BASE !important;
}

/**
 * Display styles.
 */
.d1 {
  font-family: $FONT_DISPLAY;
  font-size: 32px;
  font-size: 2em;
  font-weight: $WEIGHT_NORMAL;
  letter-spacing: $LETTER_SPACING_DISPLAY;
  line-height: $LINE_HEIGHT_DISPLAY;

  @include media-query($medium-up) {
    font-size: 48px;
    font-size: 3em;
  }

  @include media-query($large-up) {
    font-size: 80px;
    font-size: 5em;
  }
}

.d2 {
  font-family: $FONT_DISPLAY;
  font-size: 32px;
  font-size: 2em;
  font-weight: $WEIGHT_NORMAL;
  letter-spacing: $LETTER_SPACING_DISPLAY;
  line-height: $LINE_HEIGHT_DISPLAY;

  @include media-query($medium-up) {
    font-size: 40px;
    font-size: 2.5em;
  }

  @include media-query($large-up) {
    font-size: 56px;
    font-size: 3.5em;
  }
}

.d3 {
  @include ms-respond(font-size, 7);
  font-family: $FONT_DISPLAY;
  font-weight: $WEIGHT_NORMAL;
  letter-spacing: $LETTER_SPACING_DISPLAY;
  line-height: $LINE_HEIGHT_DISPLAY;
}

/**
 * Basic headers.
 */
h1, .h1 {
  font-family: $FONT_HEADING;
  font-size: 24px;
  font-size: 1.5em;
  font-weight: $WEIGHT_NORMAL;
  line-height: $LINE_HEIGHT_DISPLAY;
  margin: 0;

  @include media-query($medium-up) {
    font-size: 32px;
    font-size: 2em;
  }

  @include media-query($large-up) {
    font-size: 40px;
    font-size: 2.5em;
  }
}

h2, .h2 {
  font-family: $FONT_HEADING;
  font-size: 32px;
  font-size: 2em;
  font-weight: $WEIGHT_NORMAL;
  line-height: $LINE_HEIGHT_DISPLAY;
  margin: 0 0 $SPACING_L;

  @include media-query($medium-up) {
    font-size: 32px;
    font-size: 2em;
  }

  @include media-query($large-up) {
    font-size: 40px;
    font-size: 2.5em;
  }
}

h3, .h3 {
  font-family: $FONT_HEADING;
  font-size: 24px;
  font-size: 1.5em;
  font-weight: $WEIGHT_NORMAL;
  line-height: $LINE_HEIGHT_DISPLAY;
  margin: 0 0 $SPACING_M;

  @include media-query($small) {
    &.h3--ms {
      font-size: 18px;
      font-size: 1.125em;
    }
  }
}

h4, .h4 {
  font-family: $FONT_BODY;
  font-size: $FONT_SIZE_XSMALL;
  font-weight: $WEIGHT_NORMAL;
  line-height: $LINE_HEIGHT_DISPLAY;
  margin: 0 0 $SPACING_M;
  text-transform: uppercase;
}

h5, .h5 {
  font-family: $FONT_BODY;
  font-size: $FONT_SIZE_XSMALL;
  font-weight: $WEIGHT_NORMAL;
  line-height: $LINE_HEIGHT_DISPLAY;
  margin: 0 0 $SPACING_M;
  text-transform: uppercase;
}

h6, .h6 {
  font-family: $FONT_BODY;
  font-size: $FONT_SIZE_XXSMALL;
  font-weight: $WEIGHT_NORMAL;
  line-height: $LINE_HEIGHT_DISPLAY;
  margin: 0 0 $SPACING_M;
  text-transform: uppercase;
}

/**
 * Header styling.
 */
.smallcaps {
  @include ms-respond(font-size, -1.5);
  font-family: $FONT_BODY;
  font-weight: $WEIGHT_MEDIUM;
  letter-spacing: $LETTER_SPACING_SUBHEADING;
  text-transform: uppercase;
}

/**
 * Other styles.
 */
p {
  font-family: $FONT_BASE;
  font-size: $FONT_SIZE_XSMALL;
  font-weight: $WEIGHT_NORMAL;
  line-height: $LINE_HEIGHT_BODY;
  margin: 0 0 $SPACING_L;
}

a, .text-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.lead {
  @include ms-respond(font-size, 0.2);
  line-height: $LINE_HEIGHT_LEAD;
}

.meta {
  @include ms-respond(font-size, -4);
  font-family: $FONT_BODY;
  font-weight: $WEIGHT_MEDIUM;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

caption, .caption, label {
  @include ms-respond(font-size, -5);
  font-weight: $WEIGHT_MEDIUM;
}

.legal,
%legal {
  @include ms-respond(font-size, -6);
}

/**
 * Block styles.
 */
blockquote {
  border-left: 2px solid $COLOR_PRIMARY;
  line-height: $LINE_HEIGHT_BODY;
  margin: 0 0 $SPACING_XL;
  margin-bottom: $SPACING_XL;
  padding-left: $SPACING_2XL;

  cite {
    @include ms-respond(font-size, 0);
  }
}

ol,
.ol,
ul,
.ul {
  font-size: $FONT_SIZE_BASE;
  line-height: $LINE_HEIGHT_BODY;
}

input[type=email] {
  font-family: $FONT_BODY;
  font-size: $FONT_SIZE_XXSMALL;
  line-height: $LINE_HEIGHT_BODY;
}

code {
  background: $COLOR_PRIMARY_LIGHT;
  color: $COLOR_PRIMARY;
  display: inline-block;
  margin: 20px 0;
  overflow-x: auto;
  padding: 20px 40px;
  width: 100%;

  xmp {
    background: transparent;
    line-height: $LINE_HEIGHT_BODY;
    overflow-x: initial;
    padding: 0;
  }
}
