// Brand Colors
$COLOR_PRIMARY: rgb(3, 37, 64);
$COLOR_SECONDARY: rgb(206, 224, 242);
$COLOR_TERTIARY: rgb(0, 228, 124);

$COLOR_PRIMARY_LIGHT: rgb(249, 249, 255);
$COLOR_SECONDARY_LIGHT: rgb(169, 144, 255);
$COLOR_TERTIARY_LIGHT: rgb(159, 255, 211);

$COLOR_BLACK: rgb(0, 0, 0);
$COLOR_WHITE: rgb(255, 255, 255);

$COLOR_GREY: rgb(242, 242, 242);
$COLOR_GREY_1: rgb(136, 136, 136);
$COLOR_GREY_2: rgb(156, 156, 156);
$COLOR_GREY_3: rgb(204, 204, 204);
$COLOR_GREY_4: rgb(69, 69, 69);

/**
* FORMS.
*/
$COLOR_FORM_BORDER: $COLOR_GREY_3;
$COLOR_FORM_BORDER_DARK: $COLOR_GREY;

$COLOR_SWATCH_BORDER: rgb(235, 235, 235);

/**
 * Utilities.
 */
$COLOR_TEXT: rgb(3, 37, 64);
$COLOR_TEXT_LIGHT: $COLOR_GREY_2;

$COLOR_LINK: $COLOR_BLACK;
$COLOR_LINK_HOVER: $COLOR_PRIMARY;

$COLOR_BORDER: $COLOR_GREY_3;

$COLOR_DISABLED: $COLOR_GREY_3;
$COLOR_SUCCESS: rgb(35, 209, 96);
$COLOR_WARNING: rgb(254, 221, 86);
$COLOR_ERROR: rgb(237, 99, 71);
$COLOR_FOCUS: $COLOR_BLACK;
