// Text colors
$color-body-text: rgb(0, 0, 0);

// Background colors
$color-body: rgb(255, 255, 255);

$black: $color-body-text;

// Placeholders
$placeholder-color-foreground: rgb(22, 29, 37);
$placeholder-color-background: rgb(249, 250, 251);

// Other colors
$color-accent: rgb(0, 0, 0);
$color-border: rgb(0, 0, 0);

// Helper colors for form error states
$color-disabled: rgb(0, 0, 0);
$color-disabled-border: rgb(0, 0, 0);
$color-error: rgb(224, 32, 32);
$color-error-bg: rgb(255, 255, 255);
$color-success: rgb(0, 0, 0);
$color-success-bg: rgb(0, 0, 0);

$ICON_ARROW_LEFT: var(--icon-arrow-left);
$ICON_ARROW_RIGHT: var(--icon-arrow-right);
$ICON_ARROW_DOWN: var(--icon-arrow-down);
$ICON_ARROW_UP: var(--icon-arrow-up);
$ICON_PLUS: var(--icon-plus);
$ICON_ARROW_RIGHT--WHITE: var(--icon-arrow-right-white);
$ICON_FILTER: var(--icon-filter);
$ICON_CLOSE: var(--icon-close);
$WOLF: var(--wolf);

// Transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;

// Grid

/* stylelint-disable */
$grid-small: 749px;
$grid-medium: 748px;
$grid-large: 989px;
$grid-widescreen: 1400em;
$grid-max-width: 1180em;
$grid-gutter: 30px;
/* stylelint-enable */


$BUTTON_COLOR: #032540;
$BUTTON_PRESS_COLOR: #032540;
$BUTTON_HOVER_COLOR: #021B2F;
$BUTTON_DISABLE_COLOR: #8FA1AE;
$BUTTON_TEXT_COLOR: #FFFFFF;

$BUTTON_WHITE_COLOR: #FFFFFF;
$BUTTON_WHITE_PRESS_COLOR: #B2CFEB;
$BUTTON_WHITE_HOVER_COLOR: #B2CFEB;
$BUTTON_WHITE_DISABLE_COLOR: rgb(233, 241, 249);
$BUTTON_WHITE_TEXT_COLOR: rgb(12, 45, 71);

$BUTTON_LETTER_SPACING: 0.25px;



// Breakpoints used with the media-query mixin
$small: 'small';
$smallPX: 'small-px';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';
$tablet-down: 'tablet-down';
$tablet-up: 'tablet-up';

$breakpoints: (
  $small '(max-width: #{$grid-medium - 1})',
  $smallPX '(max-width: #{$grid-small})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})',
  $tablet-down '(max-width: 1024px)',
  $tablet-up '(min-width: 1025px)',
);

/* ============================================================================
  Generate breakpoint-specific column widths and push classes
    - Default column widths: $breakpoint-has-widths: ($small, $medium-up);
    - Default is no push classes
    - Will not work if `styles/global/grid.scss` is removed
============================================================================== */
$breakpoint-has-widths: ($small, $smallPX, $medium-up, $large-up);
$breakpoint-has-push: ($small, $medium-up, $large-up);

/* ================ Sizing Variables ================ */
$width-site: 1440px;
$gutter: 30px;
