<div class="page-width text-center" style="margin-bottom:300px">
  <div class="grid">
    <div class="grid__item text-center">
      <h1 class="h2 page-title">{{ 'general.404.title' | t  }}</h1>
    </div>
    <div class="grid__item">
      <div class="rte">
        {{ 'general.404.subtext_html' | t }}
      </div>
		</div>
	</div>
</div>
