<div class="page-width">
  <div class="grid">
    <div class="grid__item text-center">
      <h1 class="h2 page-title">{{ page.title }}</h1>
    </div>
    <div class="grid__item medium-up--eight-twelfths medium-up--push-two-twelfths">
      <div class="rte">
        {{ page.content }}
      </div>
		</div>
	</div>
</div>
