{% include 'page-header', title: 'Latest', content: {{ page.content }} %}

<p>I would like this p paragraph to get included on the content variable so we can create dynamic pages that are within the grid defined on the page-header.liquid snippet</p>
