<div class="page-width page-width--slider {{block.settings.margin_bottom}}">
  <div class="grid">
    <div class="grid__item medium-up--one-whole large-up--ten-twelfths large-up--push-one-twelfth">
      <div class="article__slider">
        {% for i in (1..5) %}
          {% assign image = 'image_' | append: i %}
          {% if block.settings[image] %}
            <img src="{{block.settings[image] | img_url: 'master' }}" alt="{{block.settings[image].alt}}">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>