{% for block in section.blocks %}
	{% if block.settings.filter-group-title != blank %}
	<h4>{{block.settings.filter-group-title}}</h4>
	{% endif %}
	{% if block.settings.tag-list %}

		<ul class="subnav clearfix">
		  
		{% assign taglist = block.settings.tag-list %}
		{% assign taglistsplit = taglist | split:"," %}


		{% assign stop_adding = false %}

		{% for tag in current_tags %}
		{% assign tag_to_test = tag | prepend:" " %}
			{% if taglist contains tag_to_test %}
				{% assign stop_adding = true %}
			{% endif %}
		{% endfor %}

		  	{% for tag in taglistsplit %}
				{% if stop_adding %}
				  <li>{{ tag | link_to_tag: tag }}</li>
				{% else %}
				  <li>{{ tag | link_to_add_tag: tag }}</li>
				{% endif %}
		  	{% endfor %}
		</ul>

	{% endif %}
	
{% endfor %}

{% if collection.handle %}
	<a href="/collections/{{ collection.handle }}">Clear All</a>
{% endif %}
