<div class="accordion_section">      
  <ul class="accordion">

    {% comment %}
      Examaple Description:
      %title-1-start%
      Title 1 Here 
      %title-1-end%
      %text-1-start%
      Text 1 Here
      %text-1-end%
      %title-2-start% 
      Title 2 here
      %title-2-end%
      %text-2-start%
      Text 2 Here
      %text-2-end%
    {% endcomment %}

    {% for i in (1..10) %}

      {% assign titleSplitTrigger = '%title-' | append: i | append: '-start%' %}
      {% assign titleSplitend = '%title-' | append: i | append: '-end%' %}
      {% assign titleSplit = product.description | split: titleSplitTrigger %}
      {% assign titleSplit = titleSplit[1] | split: titleSplitend %}

      {% assign textSplitTrigger = '%text-' | append: i | append: '-start%' %}
      {% assign textSplitend = '%text-' | append: i | append: '-end%' %}
      {% assign textSplit = product.description | split: textSplitTrigger %}
      {% assign textSplit = textSplit[1] | split: textSplitend %}
      
      {% if product.description contains titleSplitTrigger %}
      <li class="accordion__link {% if i == 1%} accordion__item--is-active {% endif %}">
        <h5 class="accordion__title" data-toggle="accordion-{{i}}">{{ titleSplit[0] | strip_html }} <span class="arrow-up arrow">{% include 'icon-angle-up' %}</span><span class="arrow arrow-down">{% include 'icon-angle-down' %}</span></h5>
        {% if product.description contains textSplitTrigger %}
          <div id="accordion-{{i}}" class="accordion__content {% if i == 1%} accordion__content--is-active {% endif %}">
              {{ textSplit[0] }}
          </div>
        {% endif %}
      </li>
      {% endif %}

    {% endfor %}

  </ul>
</div>