<div data-product-price>
  {{ current_variant.price | money_without_trailing_zeros }}
</div>

{% if product.compare_at_price_max > product.price %}
  <div class="compare_at_price" data-compare-price>
    {% if current_variant.compare_at_price > current_variant.price %}
      {{ current_variant.compare_at_price | money_without_trailing_zeros }}
    {% endif %}
  </div>
  <div class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</div>
{% endif %}
