<div class="recently-viewed related-products" data-handle="{{product.handle}}">
    <div class="page-width">
      <div class="grid feature-collection">
        

        <div class="grid__item">
          <div class="related-products__header">
            <h2 class="related-products__title">Recently Viewed</h2>
          </div>
        </div>

        <div id="recently-viewed"></div>


      </div>
    </div>
  </div>
</div>