<div class="signup-success">
  <div class="signup-success__close"> {% include 'icons' with icon: 'close--white' %} </div>
  <h4>Congratulations</h4>
  <p>You have now subscribed to our newsletter.</p>
</div>