<div class="size-guide__wrapper">
  <div class="size-guide__background"></div>
  <section class="size-guide">  
    <a href="#" class="size-guide__close">
      {% include 'icons' with icon: 'close' %}
    </a>

    <div class="size-guide__header">
      <h4 class="size-guide__title">Size Guide</h4>

      <div class="size-guide__toggle-wrapper">
        <div class="size-guide__toggle button--white active" data-size="size-guide__cm">CM</div>
        <div class="size-guide__toggle button--white" data-size="size-guide__inches">Inches</div>
      </div>
    </div>


    <div class="size-guide__body">

      <div class="size-guide__measurement size-guide__cm" >
        <div class="womens-clothing">
          <h5 class="">Women's Clothing  Size Guide</h5>
          <table class="size-guide__table">
            
            <thead>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell"></th>
                <th class="size-guide__table__cell">
                  XS
                  <span>UK 6-8</span>
                  <span>EU 34-36</span>
                  <span>USA 2-4</span>
                </th>
                <th class="size-guide__table__cell">
                  S
                  <span>UK 8-10</span>
                  <span>EU 36-38</span>
                  <span>USA 4-6</span>
                </th>
                <th class="size-guide__table__cell">
                  M
                  <span>UK 10-12</span>
                  <span>EU 38-40</span>
                  <span>USA 6-8</span>
                </th>
                <th class="size-guide__table__cell">
                  L
                  <span>UK 12-14</span>
                  <span>EU 40-42</span>
                  <span>USA 8-10</span>
                </th>
              </tr>
            </thead>
            
            <tbody>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Bust</th>
                <th class="size-guide__table__cell">81</th>
                <th class="size-guide__table__cell">86</th>
                <th class="size-guide__table__cell">91</th>
                <th class="size-guide__table__cell">96</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Waist</th>
                <th class="size-guide__table__cell">63</th>
                <th class="size-guide__table__cell">68</th>
                <th class="size-guide__table__cell">73</th>
                <th class="size-guide__table__cell">78</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Hips</th>
                <th class="size-guide__table__cell">89</th>
                <th class="size-guide__table__cell">94</th>
                <th class="size-guide__table__cell">99</th>
                <th class="size-guide__table__cell">104</th>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="womens-clothing">
          <h5 class="">Women's Double Size Guide</h5>
          <table class="size-guide__table">
            
            <thead>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell"></th>
                <th class="size-guide__table__cell">
                  S/M
                  <span>UK 8-10</span>
                  <span>EU 36-38</span>
                  <span>USA 4-6</span>
                </th>
                <th class="size-guide__table__cell">
                  M/L
                  <span>UK 12-14</span>
                  <span>EU 40-42</span>
                  <span>USA 8-10</span>
                </th>
              </tr>
            </thead>
            
            <tbody>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Bust</th>
                <th class="size-guide__table__cell">86-91</th>
                <th class="size-guide__table__cell">96-101</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Waist</th>
                <th class="size-guide__table__cell">68-73</th>
                <th class="size-guide__table__cell">78-81</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Low Hip</th>
                <th class="size-guide__table__cell">94-99</th>
                <th class="size-guide__table__cell">104-109</th>
              </tr>
            </tbody>
          </table>
        </div>




        <div class="womens-clothing">
          <h5 class="">Women's Swimwear Size Guide</h5>
          <table class="size-guide__table">
            
            <thead>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell"></th>
                <th class="size-guide__table__cell">
                  UK 6
                  <span>EU 34</span>
                  <span>USA 2</span>
                </th>
                <th class="size-guide__table__cell">
                  UK 8
                  <span>EU 36</span>
                  <span>USA 4</span>
                </th>
                <th class="size-guide__table__cell">
                  UK 10
                  <span>EU 39</span>
                  <span>USA 6</span>
                </th>
                <th class="size-guide__table__cell">
                  UK 12
                  <span>EU 40</span>
                  <span>USA 8</span>
                </th>
                <th class="size-guide__table__cell">
                  UK 14
                  <span>EU 42</span>
                  <span>USA 10</span>
                </th>
              </tr>
            </thead>
            
            <tbody>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Bust</th>
                <th class="size-guide__table__cell">81</th>
                <th class="size-guide__table__cell">86</th>
                <th class="size-guide__table__cell">91</th>
                <th class="size-guide__table__cell">96</th>
                <th class="size-guide__table__cell">101</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Waist</th>
                <th class="size-guide__table__cell">63</th>
                <th class="size-guide__table__cell">68</th>
                <th class="size-guide__table__cell">73</th>
                <th class="size-guide__table__cell">78</th>
                <th class="size-guide__table__cell">83</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Low Hip</th>
                <th class="size-guide__table__cell">89</th>
                <th class="size-guide__table__cell">94</th>
                <th class="size-guide__table__cell">99</th>
                <th class="size-guide__table__cell">104</th>
                <th class="size-guide__table__cell">109</th>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="mens-clothing">
          <h5 class="">Men's Clothing Size Guide</h5>
          <table class="size-guide__table">
            
            <thead>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell"></th>
                <th class="size-guide__table__cell">XS</th>
                <th class="size-guide__table__cell">S</th>
                <th class="size-guide__table__cell">M</th>
                <th class="size-guide__table__cell">L</th>
                <th class="size-guide__table__cell">XL</th>
              </tr>
            </thead>
            
            <tbody>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Chest</th>
                <th class="size-guide__table__cell">85-91</th>
                <th class="size-guide__table__cell">91-96</th>
                <th class="size-guide__table__cell">96-101</th>
                <th class="size-guide__table__cell">101-106</th>
                <th class="size-guide__table__cell">106-111</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Waist</th>
                <th class="size-guide__table__cell">71-76</th>
                <th class="size-guide__table__cell">76-81</th>
                <th class="size-guide__table__cell">81-86</th>
                <th class="size-guide__table__cell">86-91</th>
                <th class="size-guide__table__cell">91-96</th>
              </tr>

            </tbody>
          </table>
        </div>
      </div>      


      <div class="size-guide__measurement size-guide__inches" style="display: none">
        <div class="womens-clothing">
          <h5 class="">Women's Clothing  Size Guide</h5>
          <table class="size-guide__table">
            
            <thead>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell"></th>
                <th class="size-guide__table__cell">
                  XS
                  <span>UK 6-8</span>
                  <span>EU 34-36</span>
                  <span>USA 2-4</span>
                </th>
                <th class="size-guide__table__cell">
                  S
                  <span>UK 8-10</span>
                  <span>EU 36-38</span>
                  <span>USA 4-6</span>
                </th>
                <th class="size-guide__table__cell">
                  M
                  <span>UK 10-12</span>
                  <span>EU 38-40</span>
                  <span>USA 6-8</span>
                </th>
                <th class="size-guide__table__cell">
                  L
                  <span>UK 12-14</span>
                  <span>EU 40-42</span>
                  <span>USA 8-10</span>
                </th>
              </tr>
            </thead>
            
            <tbody>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Bust</th>
                <th class="size-guide__table__cell">31.7</th>
                <th class="size-guide__table__cell">33.7</th>
                <th class="size-guide__table__cell">35.7</th>
                <th class="size-guide__table__cell">37.7</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Waist</th>
                <th class="size-guide__table__cell">24.7</th>
                <th class="size-guide__table__cell">26.7</th>
                <th class="size-guide__table__cell">28.7</th>
                <th class="size-guide__table__cell">30.7</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Hips</th>
                <th class="size-guide__table__cell">35</th>
                <th class="size-guide__table__cell">37</th>
                <th class="size-guide__table__cell">39</th>
                <th class="size-guide__table__cell">41</th>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="womens-clothing">
          <h5 class="">Women's Double Size Guide</h5>
          <table class="size-guide__table">
            
            <thead>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell"></th>
                <th class="size-guide__table__cell">
                  S/M
                  <span>UK 8-10</span>
                  <span>EU 36-38</span>
                  <span>USA 4-6</span>
                </th>
                <th class="size-guide__table__cell">
                  M/L
                  <span>UK 12-14</span>
                  <span>EU 40-42</span>
                  <span>USA 8-10</span>
                </th>
              </tr>
            </thead>
            
            <tbody>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Bust</th>
                <th class="size-guide__table__cell">34-36</th>
                <th class="size-guide__table__cell">38-40</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Waist</th>
                <th class="size-guide__table__cell">27-29</th>
                <th class="size-guide__table__cell">31-33</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Low Hip</th>
                <th class="size-guide__table__cell">37-39</th>
                <th class="size-guide__table__cell">41-43</th>
              </tr>
            </tbody>
          </table>
        </div>




        <div class="womens-clothing">
          <h5 class="">Women's Swimwear Size Guide</h5>
          <table class="size-guide__table">
            
            <thead>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell"></th>
                <th class="size-guide__table__cell">
                  UK 6
                  <span>EU 34</span>
                  <span>USA 2</span>
                </th>
                <th class="size-guide__table__cell">
                  UK 8
                  <span>EU 36</span>
                  <span>USA 4</span>
                </th>
                <th class="size-guide__table__cell">
                  UK 10
                  <span>EU 39</span>
                  <span>USA 6</span>
                </th>
                <th class="size-guide__table__cell">
                  UK 12
                  <span>EU 40</span>
                  <span>USA 8</span>
                </th>
                <th class="size-guide__table__cell">
                  UK 14
                  <span>EU 42</span>
                  <span>USA 10</span>
                </th>
              </tr>
            </thead>
            
            <tbody>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Bust</th>
                <th class="size-guide__table__cell">32</th>
                <th class="size-guide__table__cell">34</th>
                <th class="size-guide__table__cell">36</th>
                <th class="size-guide__table__cell">38</th>
                <th class="size-guide__table__cell">40</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Waist</th>
                <th class="size-guide__table__cell">25</th>
                <th class="size-guide__table__cell">27</th>
                <th class="size-guide__table__cell">29</th>
                <th class="size-guide__table__cell">31</th>
                <th class="size-guide__table__cell">33</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Low Hip</th>
                <th class="size-guide__table__cell">35</th>
                <th class="size-guide__table__cell">37</th>
                <th class="size-guide__table__cell">39</th>
                <th class="size-guide__table__cell">41</th>
                <th class="size-guide__table__cell">43</th>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="mens-clothing">
          <h5 class="">Men's Clothing Size Guide</h5>
          <table class="size-guide__table">
            
            <thead>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell"></th>
                <th class="size-guide__table__cell">XS</th>
                <th class="size-guide__table__cell">S</th>
                <th class="size-guide__table__cell">M</th>
                <th class="size-guide__table__cell">L</th>
                <th class="size-guide__table__cell">XL</th>
              </tr>
            </thead>
            
            <tbody>
              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Chest</th>
                <th class="size-guide__table__cell">34-36</th>
                <th class="size-guide__table__cell">36-38</th>
                <th class="size-guide__table__cell">38-40</th>
                <th class="size-guide__table__cell">40-42</th>
                <th class="size-guide__table__cell">42-44</th>
              </tr>

              <tr class="size-guide__table__row">
                <th class="size-guide__table__cell">Waist</th>
                <th class="size-guide__table__cell">28-30</th>
                <th class="size-guide__table__cell">30-32</th>
                <th class="size-guide__table__cell">32-34</th>
                <th class="size-guide__table__cell">34-36</th>
                <th class="size-guide__table__cell">36-38</th>
              </tr>

            </tbody>
          </table>
        </div>
      </div>      

    </div>



  </section>
</div>