{% for option in product.options_with_values %}     
    
    {% assign swatchShow = false %}      

    {% assign optionName = option.name | downcase | handleize  %}
    {% if optionName == 'color' or optionName == 'colour' %}
        {% assign swatchShow = true %}
    {% endif %}

	{% assign file_extension = 'png' %}
	{% if swatchShow %}
	<div class="swatch__wrapper">
		{% for value in option.values %}


			{% for variant in product.variants %}     
				{% if variant.option1 == value or variant.option2 == value or variant.option3 == value%}

					{% assign color = value | handleize %}
					<a href="{{ variant.url }}" class="swatch" style="background-color: {{ color | split: ' ' | last | handle }}; background-image: url({{ color | handle | append: '.' | append: file_extension | asset_url }})"
					>
					</a>

				{% endif %}
			{% endfor %}

		{% endfor %}
	</div>
	{% endif %}
{% endfor %}