<div class="top-bar grid">
	<div class="grid__item medium-up--one-whole text-center">
		{% if section.settings.link_top-bar != blank %}<a href="{{section.settings.link_top-bar}}">{% endif %}
		{{section.settings.text_top-bar}}
		{% if section.settings.link_top-bar != blank %}</a>{% endif %}
	</div>
</div>