{% if type == "section" %}
  {% assign sectionEnable = section.settings.enable %}
  {% assign sectionFullWidth = section.settings.full-width %}
  {% assign sectionMarginBottom = section.settings.margin_bottom %}
  {% assign videoSectionBackground = section.settings.image | img_url: 'master' %}
  {% assign videoSectionUrlReady = section.settings.video_link %}
{% else %}
  {% assign sectionEnable = block.settings.enable %}
  {% assign sectionFullWidth = block.settings.full-width %}
  {% assign sectionMarginBottom = block.settings.margin_bottom %}
  {% assign videoSectionBackground = block.settings.image | img_url: 'master' %}
  {% assign videoSectionUrlReady = block.settings.video_link %}
{% endif %}

{% if sectionEnable %}

  {% if sectionFullWidth != 'full-width' %}<div class="page-width">{% endif %}
    <div class="video-block 
      {% if sectionMarginBottom == 'margin' %}section-margin-bottom{% endif %}" >

      <div class="video-block__image" style="background-image:url('{{ videoSectionBackground }}')">
      </div>
      
      <div class="play"></div>

      <div class="video-block__wrapper">
      {% if videoSectionUrlReady contains "youtube" %}
        {% assign videoSectionUrlReady = videoSectionUrlReady | split: "youtube.com/watch?v=" %}
        <iframe src="https://youtube.com/embed/{{ videoSectionUrlReady[1] }}" class="video youtube" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      {% elsif videoSectionUrlReady contains "vimeo" %}
        {% assign videoSectionUrlReady = videoSectionUrlReady | split: "vimeo.com/" %}
        <iframe src="https://player.vimeo.com/video/{{ videoSectionUrlReady[1] }}?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" class="video vimeo" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      {% endif %}
      </div>

    </div>
  {% if sectionFullWidth != 'full-width' %}</div>{% endif %}
{% endif %}