/* ============================================================================
Ajaxt-cart
============================================================================== */

/* =============== Counter =============== */
.cart-icon__container {
  position: relative;
}

.cart-count {
  background: $COLOR_BLACK;
  border-radius: 10px;
  color: $COLOR_WHITE;
  display: none;
  font-size: 10px;
  line-height: 18px;
  min-width: 18px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -8px;

  &--show {
    display: block;
  }
}

.cart-ajax__subtitle-counter {
  display: inline-block;
}

/* =============== Ajax cart =============== */
$CART_HEIGHT: calc(100vh - 280px);

.cart-ajax__wrapper {
  .cart-ajax {
    @include transform(translateX(100%));
  }

  &.cart-ajax--show {
    .cart-ajax__background {
      opacity: 1;
      pointer-events: all;
    }

    .cart-ajax {
      @include transform(translateX(0%));
      pointer-events: all;
    }
  }
}

.cart-ajax {
  $parent: &;
  background-color: $COLOR_WHITE;
  border: 0;
  border-left: 1px solid rgba($COLOR_WHITE, 0.4);
  bottom: 0;
  max-width: 100%;
  padding: 15px 20px 90px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.25s cubic-bezier(0.3, 0.6, 0.4, 1);
  width: 400px;
  z-index: 99999;

  &__tools {
    bottom: 15px;
    left: 15px;
    margin-top: 20px;
    position: fixed;
    right: 15px;

    .ie9 &,
    html[data-useragent*='MSIE 10.0'] &,
    html[data-useragent*='rv:11.0'] & {
      position: absolute;
      width: 370px;
    }

    .button {
      margin-bottom: 10px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__background {
    background: rgba($COLOR_WHITE, 0);
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: auto;
    padding: 20px 420px 20px 20px;
    pointer-events: none;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    transition: 0.2s;
    z-index: 99999;
  }

  /* =============== Ajax header section =============== */
  &__close {
    display: block;
    position: absolute;
    right: 20px;
    top: 17px;

    .icon {
      height: 14px;
      width: 14px;
    }
  }

  &__header {
    text-align: center;
  }

  &__title {
    background: $COLOR_GREY;
    font-family: $FONT_BODY;
    font-size: 12px;
    height: 64px;
    line-height: 64px;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-top: -15px;
    text-transform: uppercase;
    width: calc(100% + 40px);
  }

  &__subtitle {
    margin-top: 0;
  }

  /* =============== Ajax main body/rows of product =============== */
  &__list {
    border-bottom: rgba(#000, 0.3) 1px solid;
    height: $CART_HEIGHT;
    max-height: $CART_HEIGHT;
    overflow-y: auto;
    padding-bottom: 20px;
  }

  &__row {
    border-bottom: $COLOR_GREY 1px solid;
    display: table;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
    transition: opacity 0.35s cubic-bezier(0.2, 0.6, 0.4, 1);
    width: 100%;

    &.cart-ajax__row--deleted {
      opacity: 0;
    }

    &:last-child {
      border-top-width: 0;
      margin-bottom: 0;
      padding-top: 0;
    }
  }

  &__row__column {
    display: table-cell;
    position: relative;
    vertical-align: middle;

    &:nth-child(1) {
      padding: 0 3% 0 0;
      width: 25%;
    }

    &:nth-child(2) {
      padding: 0;
      width: 70%;
    }

    &:nth-child(3) {
      vertical-align: bottom;
    }
  }

  &__row__image {
    $dimensions: 90px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: $dimensions;
    margin-right: 10px;
    width: 60px;

    @include media-query($large-up) {
      $dimensions: 100px;
      height: $dimensions;
      width: $dimensions;
    }

    @media only screen and (min-width: 380px) {
      width: $dimensions;
    }
  }

  &__row__money {
    display: block;
    font-size: 12px;
    margin-bottom: 12px;
  }

  &__row__unit-price {
    display: block;
    font-size: 12px;
  }

  &__row__title {
    margin: 0;
    text-decoration: none;
  }

  &__row__subtitle {
    margin: 0 0 5px;
  }

  &__row__variant {
    display: block;
    margin: 0 0 5px;
  }

  &__remove {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;

    .icon {
      width: 11px;
    }
  }

  &__message {
    text-align: center;
  }

  &__link {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }

  /* =============== Gift Wrap in Ajax cart =============== */
  &__gift-wrap {
    display: none;

    #{$parent}__row__unit-price {
      display: none;
    }

    .quantity-wrapper {
      display: none;
    }
  }

  &__footer {
    
  }

  &__footer-text {
    display: flex;
    font-family: $FONT_BODY;
    font-size: 11px;
    justify-content: space-between;
    letter-spacing: $LETTER_SPACING_BASE;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
}

/* ============================================================================
Mini Cart
============================================================================== */
.cart-ajax--mini-cart {
  &.cart-ajax__wrapper .cart-ajax {
    @include transform(translateX(0%) translateY(10%));
    opacity: 0;
  }

  &.cart-ajax__wrapper.cart-ajax--show {
    .cart-ajax {
      @include transform(translateX(0%) translateY(0%));
      opacity: 1;
    }

    .cart-ajax__background {
      opacity: 0;
      pointer-events: none;
    }
  }

  .cart-ajax {
    border: 1px solid rgb(153, 153, 153);
    bottom: initial;
    max-width: calc(100% - 40px);
    position: absolute;
    right: 20px;
    top: 70px;
  }

  .cart-ajax__list {
    height: 200px;
    padding-bottom: 0;
  }

  .cart-ajax__continue-shopping {
    display: none;
  }

  .button--checkout {
    display: none;
  }

  @media only screen and (min-width: $width-site) {
    .cart-ajax {
      margin-right: -700px;
      position: absolute;
      right: 50%;
    }
  }
}

/* ============================================================================
Related Products
============================================================================== */
.cart-ajax__related-title {
  margin-bottom: 20px;
  margin-top: 20px;

  &.cart-ajax__related-title--hide {
    display: none;
  }
}

.cart-ajax__related__product-wrapper {

  @include media-query($medium-up) {
    margin-left: 1%;
    margin-right: 1%;
    width: 30%;
  }

  @include media-query($large-up) {
    width: 36%;
  }
  display: inline-block;
  margin: 20px;
  text-align: center;
  vertical-align: top;
  width: 80%;
}

.cart-ajax__related__product-image {
  background-position: center;
  background-size: cover;
  display: block;
  height: 0;
  margin-bottom: 10px;
  padding-top: 150%;
}

.cart-ajax__related__product-price {
  display: block;
}

/* ============================================================================
Free Shipping
============================================================================== */
.freeshipping {
  text-align: center;

  &__info {
    font-size: 12px;      
    margin-bottom: 10px;
  }

  &__bar {
    background: $COLOR_GREY;
    border-radius: 2px;
    height: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
  }

  &__percent {
    background: $COLOR_BLACK;
    height: 5px;
    transition: 0.3s;
  }
}
