/* ============================================================================
Ajaxt-cart
============================================================================== */

/* =============== Counter =============== */
.cart-icon__container {
  display: flex;
  position: relative;
  top: 2px;

  &.is-active {
    .cart-count {
      display: block;
    }

    svg.icon:not(.icon--full-color) rect, symbol.icon:not(.icon--full-color) rect {
      fill: $COLOR_PRIMARY;
    }
  }

  @include media-query($tablet-down) {
    top: 0;
  }
}

.cart-count {
  color: $COLOR_PRIMARY;
  display: none;
  font-size: $FONT_SIZE_XSMALL;
  height: 19px;
  line-height: 26px;
  padding-left: 6px;
}

.cart-ajax__subtitle-counter {
  display: inline-block;
}

/* =============== Ajax cart =============== */
$CART_HEIGHT: calc(100vh - 280px);

.cart-ajax__wrapper {
  opacity: 0;
  transition: 0.2s 0.6s;

  .no-js & {
    opacity: 1 !important;
  }

  &.is-loaded {
    opacity: 1!important;
  }

  .cart-ajax {
    @include transform(translateX(100%));
    left: initial;
    right: 0;
  }

  &.cart-ajax--show {
    .cart-ajax__background {
      opacity: 1;
      pointer-events: all;
    }

    .cart-ajax {
      @include transform(translateX(0%));
      box-shadow: 0 0 39px 0 rgba(0, 0, 0, 0.19);
      pointer-events: all;
    }
  }
}

.cart-ajax {
  $parent: &;
  background-color: $COLOR_WHITE;
  border: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 15px 0 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: all 0.25s cubic-bezier(0.3, 0.6, 0.4, 1);
  width: 600px;
  z-index: 99999;

  &__empty {
    margin-bottom: 54px;
    text-align: center;

    .button {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__tools {
    .button {
      margin-bottom: 10px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__background {
    background: rgba($COLOR_WHITE, 0);
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: auto;
    padding: 20px 420px 20px 20px;
    pointer-events: none;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    transition: 0.2s;
    z-index: 99999;
  }

  /* =============== Ajax header section =============== */
  &__close {
    border-bottom: 1px solid $COLOR_GREY;
    display: block;
    position: absolute;
    right: 20px;
    top: 17px;

    .icon {
      height: 14px;
      width: 14px;
    }

    &:focus {
      border-bottom: 1px solid $COLOR_PRIMARY;
    }
  }

  &__header {
    text-align: center;
  }

  &__body {
    height: calc(100vh - 63px);
    overflow: auto;
    padding: 20px 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    background: $COLOR_GREY;
    font-family: $FONT_BODY;
    font-size: $FONT_SIZE_XSMALL;
    height: 64px;
    line-height: 64px;
    margin-bottom: 0;
    margin-left: -20px;
    margin-top: -15px;
    text-transform: uppercase;
    width: calc(100% + 40px);
  }

  &__subtitle {
    margin-top: 0;
  }

  &__international {
    font-size: $FONT_SIZE_XSMALL;
    text-decoration: underline;

    &:focus {
      opacity: 0.6;
    }
  }

  /* =============== Ajax main body/rows of product =============== */
  // &__list {
  //   min-height: 360px;
  //   overflow-y: auto;
  // }

  &__row {
    border-bottom: $COLOR_GREY 1px solid;
    display: table;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
    transition: opacity 0.35s cubic-bezier(0.2, 0.6, 0.4, 1);
    width: 100%;

    &.cart-ajax__row--deleted {
      opacity: 0;
    }

    &:last-child {
      border-bottom: 0;
      border-top-width: 0;
      margin-bottom: 0;
      padding-top: 0;
    }
  }

  &__row__column {
    display: table-cell;
    position: relative;
    vertical-align: middle;

    &:nth-child(1) {
      padding: 0 3% 0 0;
      width: 25%;
    }

    &:nth-child(2) {
      padding: 0;
      width: 70%;
    }

    &:nth-child(3) {
      vertical-align: bottom;
    }
  }

  &__row__image {
    $dimensions: 90px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 1px solid $COLOR_WHITE;
    display: block;
    height: $dimensions;
    margin-right: 10px;
    width: 60px;

    &:focus {
      border-bottom: 1px solid $COLOR_PRIMARY;
    }

    @include media-query($large-up) {
      $dimensions: 100px;
      height: $dimensions;
      width: $dimensions;
    }

    @media only screen and (min-width: 380px) {
      width: $dimensions;
    }
  }

  &__row__money {
    bottom: 0;
    display: block;
    font-family: $FONT_BODY;
    font-size: $FONT_SIZE_XSMALL;
    margin-bottom: 12px;
    position: absolute;
    right: 0;
  }

  &__row__unit-price {
    display: block;
    font-size: $FONT_SIZE_XSMALL;
  }

  &__row__title {
    margin: 0;
    text-decoration: none;

    &:focus {
      text-decoration: underline;
    }
  }

  &__row__subtitle {
    margin: 0 0 5px;
  }

  &__row__variant {
    display: block;
    font-family: $FONT_BASE;
    font-size: $FONT_SIZE_XSMALL;
    font-size: 12px;
    margin: 6px 0 10px;
    text-transform: none;
  }

  &__remove {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 8px 16px;
    position: absolute;
    right: -10px;
    top: 0;

    .icon {
      border-bottom: 1px solid $COLOR_WHITE;
      width: 11px;
    }

    &:focus .icon {
      border-bottom: 1px solid $COLOR_PRIMARY;
    }
  }

  &__message {
    text-align: center;
  }

  &__link {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }

  /* =============== Gift Wrap in Ajax cart =============== */
  &__gift-wrap {
    display: none;

    #{$parent}__row__unit-price {
      display: none;
    }

    .quantity-wrapper {
      display: none;
    }
  }

  &__free-gift {
    #{$parent}__remove {
      display: none;
    }

    #{$parent}__row__money {
      bottom: initial;
      margin: 0;
      top: 50%;
      transform: translate(00%, -50%);
    }

    #{$parent}__row__variant {
      margin: 0;
    }

    .quantity-wrapper {
      display: none;
    }
  }

  &__footer-text {
    display: flex;
    font-family: $FONT_BODY;
    font-size: 11px;
    font-size: 0.6875em;
    justify-content: space-between;
    letter-spacing: $LETTER_SPACING_BASE;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  @include media-query($medium-up) {
    &__body {
      padding: 20px 40px 0;
    }

    &__title {
      margin-left: -40px;
      width: calc(100% + 80px);
    }

    &__close {
      right: 40px;
    }
  }
}

/* ============================================================================
Mini Cart
============================================================================== */
.cart-ajax--mini-cart {
  &.cart-ajax__wrapper .cart-ajax {
    @include transform(translateX(0%) translateY(10%));
    opacity: 0;
  }

  &.cart-ajax__wrapper.cart-ajax--show {
    .cart-ajax {
      @include transform(translateX(0%) translateY(0%));
      opacity: 1;
    }

    .cart-ajax__background {
      opacity: 0;
      pointer-events: none;
    }
  }

  .cart-ajax {
    border: 1px solid rgb(153, 153, 153);
    bottom: initial;
    max-width: calc(100% - 40px);
    position: absolute;
    right: 20px;
    top: 70px;
  }

  .cart-ajax__list {
    height: 200px;
    padding-bottom: 0;
  }

  .cart-ajax__continue-shopping {
    display: none;
  }

  .button--checkout {
    display: none;
  }

  @media only screen and (min-width: $width-site) {
    .cart-ajax {
      margin-right: -700px;
      position: absolute;
      right: 50%;
    }
  }
}

/* ============================================================================
Related Products
============================================================================== */
.ajax-related {
  background: $COLOR_GREY;
  display: none;
  margin-left: -20px;
  margin-top: 20px;
  padding: 20px 20px 120px;
  width: calc(100% + 40px);

  &.is-active {
    display: block;
  }

  .product-form__price {
    display: flex;
    font-family: $FONT_BASE;
    font-size: $FONT_SIZE_XSMALL;
    margin-bottom: 5px;
    div {
      margin-right: 10px;
    }
  }

  &__container {
  }

  &__product-wrapper {
    display: flex;
    margin-bottom: 30px;
  }

  &__product-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 1px solid $COLOR_GREY;
    display: block;
    height: 0;
    margin-bottom: 0;
    margin-right: 20px;
    min-width: 140px;
    padding-top: 25%;

    &:focus {
      border-bottom: 1px solid $COLOR_PRIMARY;
    }
  }

  &__text {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    width: 100%;
  }

  &__product-title {
    border-bottom: 1px solid $COLOR_GREY;
    font-size: 11px;
    font-size: 0.6875em;
    margin-bottom: 4px;

    &:focus {
      border-bottom: 1px solid $COLOR_PRIMARY;
    }
  }

  &__product-price {
    display: block;
    font-size: $FONT_SIZE_XSMALL;
    margin-bottom: 10px;
  }

  label {
    display: none;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  select {
    background: $COLOR_WHITE;
    background-image: $ICON_ARROW_DOWN;
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;
    border: 1px solid $COLOR_PRIMARY_LIGHT;
    color: $COLOR_PRIMARY;
    height: 40px;
    margin-right: 20px;
    width: 100%;

    &:focus {
      border-color: $COLOR_PRIMARY;
    }
  }

  .selector-wrapper--size {
    .visually-hidden {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      padding: 0 20px 0 0;
      position: static!important;
      width: auto;
    }

    select {
      display: block;
      width: 100%;
    } 

    .swatch__wrapper {
      display: none;
    }

    // @media (max-width: 1025px) {
      .selectric, .selectric-items {
        display: none!important;
      }

      .selectric-hide-select {
        height: auto;
        position: static;
        width: auto;

        select {
          border: 1px solid rgb(178, 207, 235);
          height: 42px;
          left: 0;
          opacity: 1!important;

          &:focus {
            border-color: $COLOR_PRIMARY;
          }
        }
      }
    // }
    // @media (min-width: 1026px) {
    //   select {
    //     display: none;
    //   }

    //   .selectric {
    //     background: $COLOR_WHITE;
    //     background-image: $ICON_ARROW_DOWN;
    //     background-position: calc(100% - 15px) center;
    //     background-repeat: no-repeat;
    //     border: 1px solid $COLOR_PRIMARY_LIGHT;
    //     color: $COLOR_PRIMARY;
    //     height: 40px;
    //     margin-right: 20px;
    //     width: 100%;
        
    //     span {
    //       color: $COLOR_PRIMARY;
    //       font-family: $FONT_BASE;
    //       font-size: 12px;
    //     }
        
    //     .button {
    //       display: none;
    //     }
    //   }

    //   .selectric-open {
    //     .selectric {
    //       background-image: $ICON_ARROW_UP;
    //     }
    //   }

    //   .selectric-items {
    //     background: $COLOR_WHITE;
    //     border: 1px solid $COLOR_PRIMARY_LIGHT;
  
    //     li {
    //       border-bottom: 1px solid $COLOR_PRIMARY_LIGHT;
    //       color: $COLOR_PRIMARY;
    //       font-family: $FONT_BASE;
    //       font-size: 12px;
  
    //       &:last-child {
    //         border-bottom: 0;
    //       }
          
    //       &.selected, &.highlighted {
    //         background: rgba($COLOR_PRIMARY_LIGHT, 0.1);
    //       }
    //     }
    //   }
    // }
  }

  .product-swatches {
    display: flex;
    flex-wrap: wrap;

    .swatch__wrapper {
      margin-left: -5px;
    }

    .selector-wrapper--color {
      width: 100%;
    }

    .swatch-product--color {
      height: 20px;
      margin: 0 6px 8px;  
      min-height: 20px;
      min-width: 20px;
      width: 20px;
    }

    .selector-wrapper--size {
      width: 50%;
    }

    .button {
      width: 50%;
    }
  }

  @media (max-width: 560px) {
    &__product-image {
      margin-right: 15px;
      min-width: 90px;
    }
  }

  @media (max-width: 490px) {
    .selector-wrapper--size {
      margin-bottom: 10px;
      min-width: 100%;
      width: 100%;

      .visually-hidden {
        padding-right: 0;
      }
    }

    .button {
      min-width: 100%;
      width: 100%;
    }
    &__product-image {
      margin-right: 15px;
      min-width: 90px;
    }
  }

  @include media-query($medium-up) {
    margin-left: -40px;
    padding: 20px 40px;
    width: calc(100% + 80px);
  }
}

/* ============================================================================
Free Shipping
============================================================================== */
.freeshipping {
  border-bottom: 1px solid $COLOR_GREY;
  margin-bottom: 18px;
  padding-bottom: 14px;
  text-align: center;

  &__info {
    font-size: $FONT_SIZE_XSMALL;      
    margin-bottom: 10px;
  }

  &__bar {
    background: $COLOR_GREY;
    border-radius: 2px;
    height: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
  }

  &__percent {
    background: $COLOR_BLACK;
    height: 5px;
    transition: 0.3s;
    width: 0;
  }
}
