/* ============================================================================
Blog page
============================================================================== */
.blog {
  &__width {
    margin-bottom: 40px;
    max-width: 1080px;
  }
}

.blog-grid-item {
  &__meta {
    margin-bottom: 35px;

    .button-text-and-arrow {
      display: none;
    }
  }

  &__image-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 0;
    margin-bottom: 20px;
    overflow: hidden;
    padding-top: 60%;
  }

  &__title {
    @include media-query($small) {
      font-size: 18px;
      font-size: 1.125em;
      margin-bottom: 3px;
    }
  }

  &__date {
    color: #8C8C8C;
    margin-bottom: 6px;
  }
}

#shopify-section-article-featured-posts {
  .blog-grid-item__meta {
    .button--white {
      display: none;
    }

    .button-text-and-arrow {
      display: flex;
      justify-content: flex-start;
    }
  }
}
