/*============================================================================
Cart page
==============================================================================*/
$border-color: #dedede;

#Cart, .cart-summary, .cart-notes {
  background: #fff;
  border: 1px solid $border-color;
  margin: 0 0 30px;

  input[name="update"] {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.cart {
  &__title {
    background: #f3f3f3;
    border-bottom: 1px solid $border-color;
    font-size: 16px;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
  }

  &__title-subtitle {
    float: right;
  }

  &__body {
    padding: 20px;
  }

  &__row {
    @include flexbox;
    @include align-items(center);
    margin-bottom: 30px;
    position: relative;

    &:last-of-type {
      margin-bottom: 10px;
    }
  }

  &__image {
    border: 1px solid #dedede85;
    display: inline-block;
    margin-right: 15px;
    padding: 10px 5px;

    img {
      min-width: 70px;
      width: 100px;
    }

    @include media-query($medium-up) {
      margin-right: 30px;
      padding: 15px;

      img {
        width: 120px;
      }
    }
  }
}

.cart__content {
  margin-right: 20px;
  width: 40%;
}

.cart-item {
  &__remove {
    color: $black;
  }

  &__title {
    font-size: 18px;
    margin: 0;
    padding-right: 10px;
  }

  &__price {
    display: inline-block;
    font-size: 18px;
    margin: 0;
  }

  &__price-per-unit {
    font-size: ms(1);
  }

  &__variant {
    @include opacity(0.6);
    font-size: ms(1);
    margin: 0 0 10px;
  }

  &__quanity {
    span {
      display: block;
      padding: 10px 0;
      text-align: center;
    }
  }
}

.cart-summary .cart__body {
  text-align: center;

  p {
    margin-top: 0;
  }
}

.cart-notes {
  label {
    display: block;
    font-size: ms(1);
    margin: 10px 0 20px;
  }

  textarea {
    border: 1px solid $border-color;
    min-height: 130px;
    min-width: 100%;
  }
}
