/* ============================================================================
Collection filter
============================================================================== */
.collection-filter {
  background-color: $COLOR_WHITE;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  margin-bottom: 0!important;
  padding-top: 18px;

  .filter-menu {
    margin: 0;
  }

  .filter-group--Collection {
    display: none!important;
  }

  .filter-group h4 {
    font-size: 11px;
    font-weight: normal;
    letter-spacing: $LETTER_SPACING_BASE;
    // margin-bottom: 17px;
  }

  .filter-group+.filter-group h4 {
    margin-top: 0px;
    padding-top: 18px;
  }

  .filter-group li a, .filter-group li a:visited, .filter-group .collection-count {
    color: $COLOR_PRIMARY;
    font-size: $FONT_SIZE_XSMALL;
    margin: 0;
    padding-bottom: 10px;
  }

  .filter-group ul {
    margin-bottom: 11px
  }

  .filter-group h4:after {
    align-items: center;
    background-image: $ICON_PLUS;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    color: transparent;
    content: '';
    display: flex;
    font-size: 0;
    height: 11px;
    justify-content: flex-end;
    margin-right: 6px;
    padding-right: 10px;
    width: 10px;
  }

  .filter-group.pt-group-expanded h4:after {
    background: $COLOR_PRIMARY;
    background-image: none;
    height: 1px;
    top: 8px;
  }

  .filter-group+.filter-group h4:after {
    top: 19px;
  }

  .filter-group+.filter-group.pt-group-expanded h4:after {
    top: 23px;
  }

  .filter-menu .has_group_selected .filter-clear {
    background: $COLOR_WHITE;
    color: $COLOR_PRIMARY;
    font-family: $FONT_BODY;
    font-size: 9px;
    letter-spacing: 0.25px;
    right: 0;
    text-transform: uppercase;
    top: 0;

    svg {
      margin-left: 7px;
      margin-top: -2px;
      width: 11px;
    }

    @include media-query($small) {
      top: 16px;
    }
  }

  .filter-group+.filter-group .filter-clear {
    top: 16px;
  }

  .nav-size, .nav-color {
    display: flex;
    flex-flow: wrap;

    li {
      width: 50%;
    }
  }

  .filter-group li.selected a {
    font-weight: normal;
    text-decoration: underline;
  }

  .arrow {
    height: 11px;
    position: relative;
    width: 11px;

    &::after {
      background: $COLOR_PRIMARY;
      content: '';
      height: 1px;
      position: absolute;
      top: 5px;
      width: 100%;
    }
  }

  .arrow-down {
    &::before {
      background: $COLOR_PRIMARY;
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      width: 1px;
    }
  }

  @include media-query($small) {
    padding: 0;
    margin-left: -20px;
    margin-right: -20px;

    .filter-menu {
      max-height: calc(100vh - 64px);
      overflow: scroll;

      .pt-mobile-header{
        position: relative;

        &:after {
          background: #eeeeee;
          bottom: 0;
          content: '';
          left: 50%;
          position: absolute;
          top: 0;
          width: 1px;
        }
      }

      .pt-mobile-header a.pt-nav-toggle {
        display: block;
        left: 0;
        margin: 0;
        padding: 0;
        position: relative;
        top: 50%;
        transform: translate(0%, -50%);
        transition: 0.4s ease-in-out;
        width: 50%;

        p {
          font-family: $FONT_BODY;
          font-size: 10px !important;
          margin: 0;
          position: relative;
          text-transform: uppercase;
          top: 0;

          &:after {
            content: '';
            background-image: $ICON_FILTER;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 10px 10px;
            height: 10px;
            position: absolute;
            top: 50%;
            transform: translate(10px, -50%);
            width: 10px;
          }
        }

        span {
          display: none;
        }

        &.active p:after {
          background-image: $ICON_CLOSE;
        }

        &.not-active {
          opacity: 0.4;
        }

      }

      .pt-mobile-header a.pt-nav-toggle-sort {
        display: block;
        left: 50%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        transition: 0.4s ease-in-out;
        width: 50%;

        p {
          font-family: $FONT_BODY;
          font-size: 10px !important;
          margin: 0;
          position: relative;
          text-transform: uppercase;
          top: 0;

          &:after {
            background-image: $ICON_ARROW_DOWN;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 10px 10px;
            content: '';
            height: 10px;
            position: absolute;
            top: 50%;
            transform: translate(10px, -50%);
            width: 10px;
          }
        }

        span {
          display: none;
        }

        &.active p:after {
          background-image: $ICON_CLOSE;
        }

        &.not-active {
          opacity: 0.4;
        }

      }

      .filter-menu__wrapper {
        padding: 0 20px;
      }

      .filter-group-sort-orders {
        h4 {
          font-size: 0;
          height: 0;
          padding: 0;

          &:after {
            display: none;
          }
        }
      }

      &.pt-expand {
        .filter-group-sort-orders {
          display: none!important;
        }

        .filter-group h4 {
          border-top: 1px solid #eeeeee;
          margin-top: 0;
          padding-top: 18px;

          &:after {
            top: 19px;
          }
        }

        .filter-group.pt-group-expanded h4:after {
          top: 23px;
        }
      }

      &.sort-expand {
        .filter-group {
          display: none;
        }

        .filter-group .scroll-content {
          max-height: 100px;
        }

        .filter-group-sort-orders {
          display: block;
          max-height: 800px;
        }

        .filter-group + .filter-group h4 {
          margin-top: 0;
        }
      }
    }
  }
}

.collection-filter__container {
  display: block;
  margin: 0 0 20px;
  position: relative;
  width: 100%;
  z-index: 100;
  
  &.is-active {
    height: 54px;

    .collection-filter {
      left: 0;
      margin: 0;
      position: fixed;
      right: 0;
      top: 64px;
      z-index: 100;
    }
  }

  @include media-query($small) {
    margin-top: -42px;
  }
}

.filter-group .scroll-content, .pt-expand .filter-group .scroll-content, .filter-menu .filter-group .filter-clear {
  height: auto;
  max-height: none !important;
  overflow: auto;
  transition: none !important;
  display: none;
}