/* ============================================================================
  #Collection Grid Item
============================================================================== */
.collection-grid-item {
  $parent: &;
  display: block;
  margin: 0 0 40px;
  padding: 12px;
  position: relative;

  &__badge {
    background-color: $COLOR_WHITE;
    color: $COLOR_BLACK;
    display: none;
    font-size: ms(1);
    left: -20px;
    overflow: hidden;
    padding: 10px 13px;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    top: 25px;
    white-space: nowrap;
    z-index: 10;
  }

  &__image-wrapper {
    display: block;
    height: 0;
    margin-bottom: 15px;
    overflow: hidden;
    padding-top: 110%;
    position: relative;

    img {
      height: auto;
      left: 0;
      margin: 0 auto;
      opacity: 1;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate3d(0, 0, 0);
      transition: ease-in-out 0.3s;
      width: 100%;
    }

    #{$parent}__second-image {
      opacity: 0;
      transition: ease-in-out 0.3s;
    }
  }

  &__text-wrapper {
    margin: 0;
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__price {
    font-family: $FONT_BASE;
    font-size: 12px;
    margin: 0;
  }

  .swatch__wrapper {
    margin: 0;
  }

  @include media-query( $tablet-up ) {
    padding: 32px 23px;
    transition: 0.2s;

    &:hover {
      background: $COLOR_WHITE;
      box-shadow: 0 2px 16px rgba($COLOR_BLACK, 0.1);

      #{$parent}__first-image {
        opacity: 0;
        transition: ease-in-out 0.4s;
      }

      #{$parent}__second-image {
        opacity: 1;
        transition: ease-in-out 0.4s 0.1s;
      }
    }
  }
}

.ie9 .collection-grid-item .collection-grid-item__badge {
  padding: 4px 13px 6px;
}
