/* ============================================================================
  #Collection navigation
============================================================================== */
.collection-navigation {
  $parent: &;
  background-color: $COLOR_GREY;
  margin-bottom: 42px;
  overflow: auto;

  ul {
    align-items: center;
    display: flex;
    height: 42px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;

    li {
      display: inline-block;
      padding: 5px 0;
      position: relative;
      top: -2px;
    }

    a {
      font-family: $FONT_BODY;
      font-size: $FONT_SIZE_XXSMALL;
      letter-spacing: $LETTER_SPACING_BASE;
      padding: 3px 15px;
      position: relative;
      text-transform: uppercase;

      &:hover {
        &.collection-navigation__link--active, &::after {
          background: $COLOR_PRIMARY;
          bottom: 0;
          content: '';
          height: 1px;
          left: 15px;
          position: absolute;
          right: 15px;
        }
      }
    }

    #{$parent}__link--active a::after {
      background: $COLOR_PRIMARY;
      bottom: 0;
      content: '';
      height: 1px;
      left: 15px;
      position: absolute;
      right: 15px;
    }
  }

  @include media-query($small) {
    li:last-child {
      padding-right: 30px;
    }
  }

  @media (max-width: 500px) {
    ul {
      text-align-last: left;
    }
  }

  @include media-query($medium-up) {
    ul {
      display: block;
    }
  }
}
