#shopify-section-collection-list {
  .page-width {
    overflow: hidden;
  }

  @include media-query($medium-up) {
    .grid {
      margin-left: -40px;
    }

    .grid__item {
      padding-left: 40px;
    }
  }

  @include media-query($medium-down) {
    .page-width {
      padding: 0 16px;
    }

    .grid {
      margin-left: -16px;
    }

    .grid__item {
      display: inline-block;
      float: none;
      padding-left: 16px;
      width: 351px;

      &:nth-of-type(3) {
        margin-right: 16px;
      }
    }

    .collection-list {
      // margin-right: -16px;
      // overflow: scroll;
      // white-space: nowrap;
      // width: calc(100% + 16px);
      // -ms-overflow-style: none;

      // &::-webkit-scrollbar {
      //   display: none;
      // }
    }

    .collection-list__image {
      padding-top: 101%;
    }
  }

  @media (max-width: 440px) {
    .grid__item {
      width: 300px;
    }
  }

  @media (max-width: 340px) {
    .grid__item {
      width: 280px;
    }
  }
}

.collection-list {
  $parnet: &;
  outline: none;

  * {
    outline: none;
  }

  &__image {
    background-position: center;
    background-size: cover;
    margin-bottom: 14px;
    padding-top: 110%;
    width: 100%;
  }

  h3 {
    margin-bottom: 8px;
  }

  .slick-list {
    margin-left: -20%;
    margin-right: -20px;
  }

  @include media-query($medium-up) {
    &__header h2 {
      margin-bottom: 24px;
      text-align: center;
    }

    h3 {
      margin-bottom: 14px;
    }
  }

  @include media-query($tablet-up) {
    &__image {
      background-size: auto 102%;
      transition: 0.4s ease-in-out;
    }

    &__item:hover {
      // #{$parnet}__image {
      //   background-size: auto 104%;
      // }

      .button--white {
        background-color: $COLOR_PRIMARY_LIGHT;
      }
    }
  }
}

.list-collections {
  border-bottom: 1px solid $COLOR_GREY;
  display: inline-block;
  margin-bottom: 36px;
  width: 100%;

  &--last {
    border-bottom: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__collection.slick-initialized {
    margin-right: -20px;
  }

  .collection-grid-item__match-height {
    &:nth-child(n+4) {
      display: none!important;
    }
  }

  @include media-query($small) {
    &__header {
      h3 {
        font-size: 18px;
        font-size: 1.125em;
      }
    }
  }
}
