/* ============================================================================
  #Collection
============================================================================== */
.collection__header {
  margin: 50px 0;
}

.collection__hero {
  margin-bottom: 32px;
}

.collection-wrapper {
  margin-bottom: 40px;
  min-height: 500px;
}
