/* ============================================================================
  #Feature collection
============================================================================== */
.related-products {
  margin-bottom: 60px;
  padding-top: 10px;

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }
}

.recently-viewed {
  display: none;

  &.is-active {
    display: block;
  }
}

.feature-collection {
  padding: 12px 0 0;

  &--dark {
    background: $COLOR_GREY;
  }

  &__button-row {
    // margin-top: -30px;
    padding: 0 0 40px;
    text-align: center;

    .button--white {
      background: transparent;

      &:hover {
        background: #cee0f2;
      }
    }
  }

  .collection-grid-item {
    margin-bottom: 60px;
  }

  .slick-arrow {
    left: -5px;
    position: absolute;
    top: 50%;
    transform: translateY(-140%);
    z-index: 5000;
  }

  .slick-next {
    background-position: calc(50% + 1px) calc(50% - 1px);
    left: initial;
    right: -15px;
  }

  .slick-dots {
    display: none;
  }

  .slick-list {
    width: 100%;

    .collection-grid-item {
      margin-bottom: 0;
    }
  }

  @include media-query($tablet-down) {
    &--dark {
      background: transparent;
    }

    &__button-row {
      display: none;
    }

    .page-width {
      padding: 0;
    }

    .grid, .grid__item {
      margin: 0;
      padding: 0;
    }

    .slick-arrow {
      display: none !important;
    }
  }

  @include media-query($medium-up) {
    .slick-prev {
      left: -50px;
    }

    .slick-next {
      right: -50px;
    }
  }

  @include media-query($large-up) {
    .slick-list {
      margin-left: -20px;
      padding: 20px;
      width: calc(100% + 40px);
    }
  }
}
