/* ============================================================================
  #Feature collection
============================================================================== */
.related-products {
  margin-bottom: 60px;
  padding-top: 10px;

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }
}

.feature-collection {
  overflow: hidden;

  &__title {
    font-size: $FONT_SIZE_SMALL;
    padding-top: 34px;
    text-align: center;
  }

  &--dark {
    background: $COLOR_GREY;
    padding: 12px 0 0;
  }

  &__button-row {
    padding: 0 0 40px;
    text-align: center;

    .button--white {
      background: transparent;
      position: relative;
      z-index: 1;

      &:hover {
        background: #cee0f2;
      }
    }
  }

  .swiper-container {
    // margin-left: -20px;
    // padding: 0 40px;
    // width: calc(100% + 40px);
  }

  .swiper-slide {
    align-self: stretch;
    height: auto;

    .collection-grid-item {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-bottom: 10px;
    }
  }

  .swiper-button-prev, .swiper-button-next {
    left: -5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5000;

    &::after {
      display: none !important;
    }
  }

  .swiper-button-next {
    background-position: calc(50% + 1px) calc(50% - 1px);
    left: initial;
    right: -15px;
  }

  .slick-dots {
    display: none;
  }

  .slick-list {
    width: 100%;

    .collection-grid-item {
      margin-bottom: 0;
    }
  }

  @include media-query($tablet-down) {
    &--dark {
      // background: transparent;
    }

    &__button-row {
      margin-top: 0;
      padding: 30px 0 36px;
    }

    .page-width {
      padding: 0;
    }

    .grid, .grid__item {
      margin: 0;
      padding: 0;
    }

    .swiper-button-next, .swiper-button-prev {
      display: none !important;
    }
  }

  @include media-query($medium-up) {
    &--dark {
      padding-top: 40px;
    }

  }
  
  @include media-query($tablet-up) {
    .swiper-button-prev {
      left: 0;
    }
  
    .swiper-button-next {
      right: 0;
    }
  }

  @include media-query($large-up) {
    .swiper-button-prev {
      left: 10px;
    }

    .swiper-button-next {
      right: 10px;
    }

    &.feature-collection--dark {
      .swiper-container {
        &:before, &:after {
          background-color: $COLOR_GREY;
        }
      }
    }

    .swiper-container {
      margin-left: -70px;
      padding: 10px 70px;
      width: calc(100% + 140px);

      &:before {
        background-color: $COLOR_WHITE;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: 60px;
        z-index: 10;
      }

      &:after {
        background-color: $COLOR_WHITE;
        bottom: 0;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        z-index: 10;
      }
    }
  }
}
