/* ============================================================================
  #Feature collection
============================================================================== */
.feature-collection__button-row {
  padding: 30px 0;
  text-align: center;
}

.related-products {
  margin-bottom: 60px;
  padding-top: 10px;

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }
}

.recently-viewed {
  display: none;

  &.is-active {
    display: block;
  }
}

.feature-collection .slick-list {
  width: 100%;
}

.collection-carousel {
  padding-bottom: 28px;
}

.feature-collection {
  .slick-arrow {
    background-image: $ICON_ARROW_LEFT;
    background-position: calc(50% - 1px) calc(50% - 1px);
    background-repeat: no-repeat;
    background-size: 10px 13px;
    border: 1px solid $COLOR_SECONDARY;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0;
    left: -5px;
    padding: 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-140%);
    transition: 0.2s;
    z-index: 5;

    &:hover {
      background-color: $COLOR_SECONDARY;
    }
  }

  .slick-next {
    background-image: $ICON_ARROW_RIGHT;
    background-position: calc(50% + 1px) calc(50% - 1px);
    left: initial;
    right: -15px;
  }

  .slick-dots {
    display: none;
  }

  .collection-grid-item {
    margin-bottom: 60px;
  }

  @include media-query($medium-up) {
    .collection-carousel {
      padding-left: 40px;
      padding-right: 40px;
    }

    .slick-prev {
      left: -15px;
    }

    .slick-next {
      right: -15px;
    }
  }
}
