/* ============================================================================
#Footer
============================================================================== */
.site-footer {
  background: $COLOR_PRIMARY;
  padding-top: 62px;

  h4 {
    color: $COLOR_WHITE;
    font-size: $FONT_SIZE_XSMALL;
    letter-spacing: $LETTER_SPACING_BASE;
    text-transform: uppercase;
  }

  p, a {
    color: $COLOR_WHITE;
    font-size: $FONT_SIZE_XSMALL;
    letter-spacing: $LETTER_SPACING_BASE;
  }

  ul {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
  }

  .copyright {
    color: $COLOR_WHITE;
    font-size: $FONT_SIZE_XSMALL;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: right;
  }

  .social-links {
    text-align: right;

    li {
      display: inline-block;
      margin-left: 10px;
    }

    .icon {
      height: 14px;
      width: 14px;
    }
  }

  .inline-form {
    border: 0;
    border-bottom: 1px solid $COLOR_WHITE;

    input, input::placeholder {
      color: $COLOR_WHITE;
      font-size: $FONT_SIZE_XXSMALL;
      letter-spacing: $LETTER_SPACING_BASE;
      padding-left: 0;
      text-transform: uppercase;
    }
  }

  input[type=email] {
    color: $COLOR_WHITE;

    &::-webkit-input-placeholder { /* Edge */
      color: $COLOR_WHITE;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $COLOR_WHITE;
    }

    &::placeholder {
      color: $COLOR_WHITE;
    }
  }

  @include media-query($small) {
    .grid {
      display: flex;
      flex-direction: column;
    }

    .medium-up--one-half {
      order: -1;
    }

    .newsletter {
      padding: 0 0 22px;
    }

    .social-links {
      text-align: left;
    }

    .copyright {
      text-align: left;
    }
  }

  @include media-query($medium-up) {
    .newsletter {
      padding-left: 30px;
    }
  }

  @include media-query($large-up) {
    .newsletter {
      padding-left: 50px;
    }
  }
}

/* ============================================================================
Newsletter
============================================================================== */
.newsletter {
  background-position: center;
  background-size: cover;
  padding: 0 0 50px;
  text-align: left;

  .inline-form {
    margin: 0 auto;
  }

  &__title {
    color: $COLOR_WHITE;
    font-size: 24px;
    font-size: 1.5em;
    margin-top: 0;
  }

  &__text {
    font-size: $FONT_SIZE_XSMALL;
    letter-spacing: 0.9px;
    max-width: 280px;
  }

  &--white {
    .newsletter__title, .newsletter__text {
      color: $COLOR_WHITE;
    }

    .form-wrap {
      border: 1px solid $COLOR_WHITE;
    }
  }
}
