/* ============================================================================
Gift wrapping
============================================================================== */
.giftwrapping {
  $parent: &;
  border: 1px solid $COLOR_GREY;
  border-left: 0;
  border-right: 0;
  font-size: 12px;
  margin-bottom: 12px;
  padding: 12px 0;

  &__remove {
    cursor: pointer;
    float: right;
  }

  &__success {
    display: none;
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;
  }

  &.is-hidden {
    #{$parent}__add {
      display: none;
    }

    #{$parent}__success {
      display: block;
    }
  }
}
