/* ============================================================================
Gift wrapping
============================================================================== */
.giftwrapping {
  $parent: &;
  border: 1px solid $COLOR_GREY;
  border-left: 0;
  border-right: 0;
  font-size: $FONT_SIZE_XSMALL;
  margin-bottom: 12px;
  padding: 12px 0;

  &__remove {
    background-color: transparent;
    border: 0;
    color: $COLOR_PRIMARY;
    cursor: pointer;
    float: right;
    font-family: $FONT_BASE;
    font-size: $FONT_SIZE_XSMALL;
    padding: 0;
    text-decoration: underline;

    &:focus {
      opacity: 0.6;
    }
  }

  &__success {
    display: none;
  }

  &__link {
    background-color: transparent;
    border: 0;
    color: $COLOR_PRIMARY;
    cursor: pointer;
    font-family: $FONT_BASE;
    font-size: $FONT_SIZE_XSMALL;
    padding: 0;
    padding-left: 5px;
    text-decoration: underline;

    &:focus {
      opacity: 0.6;
    }
  }

  &__add {
    align-items: flex;
    display: flex;

    svg {
      margin-right: 10px;
      margin-top: -2px;
    }

    button {
      font-size: 1em;
    }
  }

  &.is-hidden {
    #{$parent}__add {
      display: none;
    }

    #{$parent}__success {
      display: block;
    }
  }
}
