/* ============================================================================
Hero image
============================================================================== */
.hero-image {
  $parent: &;
  align-items: center;
  background-position: center center;
  background-size: cover;
  color: $COLOR_PRIMARY;
  display: flex;
  height: 80vh;
  justify-content: center;
  min-height: 640px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 100%;

  &--ambassador {
    #{$parent}__title {
      font-size: 80px;
      margin-bottom: 0;
    }

    #{$parent}__supertitle {
      margin-bottom: -10px;
    }

    #{$parent}__text p, #{$parent}__text, #{$parent}__supertitle {
      font-family: $FONT-BODY;
      font-size: 14px;
      letter-spacing: 0.35px;
      text-transform: uppercase;
    }

    @include media-query($small) {
      #{$parent}__title {
        font-size: 56px;
      }

      #{$parent}__supertitle {
        font-size: 12px;
        margin-bottom: -10px;
      }

      #{$parent}__text {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 25px;

    p {
      font-family: inherit;
      font-size: inherit;
      line-height: 1;
      margin: 0 !important;
    }
  }

  &__supertitle {
    // margin-bottom: 25px;

    // p {
    //   font-family: inherit;
    //   font-size: inherit;
    //   line-height: 1;
    //   margin: 0 !important;
    // }
  }

  &__text {
    p {
      display: none;
      margin: 0 0 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include media-query( $medium-up ) {
      max-width: 600px;
      position: relative;
      z-index: 1;

      p {
        display: block;
      }

      #{$parent}--center & {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  img {
    max-width: 100%;
  }

  p {
    margin-bottom: 15px;
  }

  &--white {
    #{$parent}__title, #{$parent}__text, #{$parent}__supertitle {
      color: $COLOR_WHITE;
    }
  }

  &--small {
    height: 280px;
    min-height: 280px;
  }

  &--medium {
    height: 380px;
    min-height: 380px;
  }

  &--large {
    height: 520px;
    min-height: 520px;
  }

  &--xlarge {
    height: 720px;
    min-height: 720px;
  }

  &--mobile-hide {
    display: none;
  }

  &__video video {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  @include media-query( $medium-down ) {
    &--mobile-text-under {
      height: 380px;
      min-height: 0;

      #{$parent}__wrapper {
        display: none;
      }
    }

    &__mobile-text {
      padding: 20px;
      text-align: center;

      #{$parent}__text p {
        display: block;
      }
    }

    &--collection {
      align-items: flex-end;
      justify-content: flex-start;
    }
  }

  @include media-query( $medium-up ) {
    padding: 34px;

    &__mobile-text {
      display: none;
    }

    &--mobile-text-under {
      #{$parent}__wrapper {
        display: block;
      }
    }

    &--center {
      justify-content: center;
    }

    &--right {
      justify-content: flex-end;

      #{$parent}__text {
        margin-left: auto;
        margin-right: 0;
      }
    }

    &--left {
      justify-content: flex-start;
    }

    &--top {
      align-items: flex-start;
    }

    &--middle {
      align-items: center;
    }

    &--bottom {
      align-items: flex-end;
    }

    &--text-left {
      text-align: left;
    }

    &--text-center {
      text-align: center;
    }

    &--text-right {
      text-align: right;
    }

    &--small {
      height: 375px;
      min-height: 375px;
    }

    &--medium {
      height: 580px;
      min-height: 580px;
    }

    &--large {
      height: 720px;
      min-height: 720px;
    }

    &__wrapper {
      // max-width: 580px;
    }

    &__title {
      position: relative;
      margin-top: 0;
      z-index: 1;
    }

    &__text {
      max-width: 600px;
      position: relative;
      z-index: 1;

      p {
        display: block;
      }

      #{$parent}--center & {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &--mobile-hide {
      display: flex;
    }
  }

  @include media-query( $large-up ) {
    padding: 56px;

    &--small {
      height: 430px;
      min-height: 430px;
    }
  }
}

/* ============================================================================
Two Column
============================================================================== */
@include media-query( $medium-up ) {
  .hero-image--50-50 {
    display: flex;

    .hero-image {
      max-width: 50%;
      min-width: 50%;
      width: 50%;
    }
  }
}

/* ============================================================================
Slider
============================================================================== */
.slideshow {
  &__container {
    display: block;
  }

  .slick-dots {
    display: none;
  }
}
