/* ============================================================================
Hero image
============================================================================== */
.hero-image {
  $parent: &;
  align-items: center;
  background-position: center center;
  background-size: cover;
  color: $COLOR_PRIMARY;
  display: flex;
  height: 80vh;
  justify-content: center;
  min-height: 640px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 100%;

  &--ambassador {
    #{$parent}__title {
      font-size: 80px;
      font-size: 5em;
      margin-bottom: 0;
    }

    #{$parent}__supertitle {
      margin-bottom: -10px!important;
    }

    #{$parent}__text p, #{$parent}__text, #{$parent}__supertitle {
      font-family: $FONT-BODY;
      font-size: 14px;
      font-size: 0.875em;
      letter-spacing: 0.35px;
      text-transform: uppercase;
    }

    @include media-query($small) {
      #{$parent}__title {
        font-size: 56px;
        font-size: 3.5em;
      }

      #{$parent}__supertitle {
        font-size: $FONT_SIZE_XSMALL;
      }

      #{$parent}__text {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 25px;

    p {
      font-family: inherit;
      font-size: inherit;
      line-height: 1;
      margin: 0 !important;
    }
  }

  &__supertitle {
    font-family: $FONT-BODY;
    font-size: 14px;
    font-size: 0.875em;
    letter-spacing: 0.35px;
    margin-bottom: 0px !important;
    text-transform: uppercase;

    @include media-query($small) {
      font-size: $FONT_SIZE_XSMALL;
    }
  }

  &__text {
    p {
      display: none;
      margin: 0 0 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include media-query( $medium-up ) {
      max-width: 600px;
      position: relative;
      z-index: 1;

      p {
        display: block;
      }

      #{$parent}--center & {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  img {
    max-width: 100%;
  }

  p {
    margin-bottom: 15px;
  }

  &--white {
    #{$parent}__title, #{$parent}__text, #{$parent}__supertitle {
      color: $COLOR_WHITE;
    }
  }

  &--small {
    height: 280px;
    min-height: 280px;
  }

  &--medium {
    height: 380px;
    min-height: 380px;
  }

  &--large {
    height: 520px;
    min-height: 520px;
  }

  &--xlarge {
    height: 720px;
    min-height: 720px;
  }

  &--full-height {
    height: calc(50vh);
    min-height: 400px;
  }

  &--mobile-hide {
    display: none;
  }

  &__video video {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  @include media-query($small) {
    .button--white {
      // @extend %button;
      background: $BUTTON_COLOR;
      border: 1px solid $BUTTON_COLOR;
      border-radius: 0;
      color: $BUTTON_TEXT_COLOR;
      cursor: pointer;
      display: inline-block;
      font: 500 10px/40px $FONT_BODY;
      height: 40px;
      letter-spacing: $BUTTON_LETTER_SPACING;
      margin: 0;
      min-width: 152px;
      outline: 0;
      padding: 0 40px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.4s;
      vertical-align: top;
      
      background: $BUTTON_WHITE_COLOR !important;
      border-color: $BUTTON_WHITE_PRESS_COLOR;
      color: $BUTTON_WHITE_TEXT_COLOR;

      &:hover {
        background: $BUTTON_WHITE_HOVER_COLOR !important;
        border-color: $BUTTON_WHITE_HOVER_COLOR;
        color: $BUTTON_WHITE_TEXT_COLOR;
      }
    }
  }

  @include media-query( $medium-down ) {
    &--mobile-text-under {
      height: 380px;
      min-height: 0;

      #{$parent}__wrapper {
        display: none;
      }
    }

    &__mobile-text {
      padding: 24px 20px 36px;
      text-align: center;

      #{$parent}__text p {
        display: block;
      }
    }

    &--collection {
      align-items: flex-end;
      justify-content: flex-start;
    }

    &--blog {
      align-items: center;
      justify-content: center;
    }
  }

  @include media-query( $medium-up ) {
    padding: 34px;

    &__mobile-text {
      display: none;
    }

    &--mobile-text-under {
      #{$parent}__wrapper {
        display: block;
      }
    }

    &--center {
      justify-content: center;
    }

    &--right {
      justify-content: flex-end;

      #{$parent}__text {
        margin-left: auto;
        margin-right: 0;
      }
    }

    &--left {
      justify-content: flex-start;
    }

    &--top {
      align-items: flex-start;
    }

    &--middle {
      align-items: center;
    }

    &--bottom {
      align-items: flex-end;
    }

    &--text-left {
      text-align: left;
    }

    &--text-center {
      text-align: center;
    }

    &--text-right {
      text-align: right;
    }

    &--small {
      height: 375px;
      min-height: 375px;
    }

    &--medium {
      height: 580px;
      min-height: 580px;
    }

    &--large {
      height: 720px;
      min-height: 720px;
    }

    &--full-height {
      height: calc(60vh - 64px);
      min-height: 500px;
    }

    &__title {
      position: relative;
      margin-top: 0;
      z-index: 1;
    }

    &__text {
      max-width: 600px;
      position: relative;
      z-index: 1;

      p {
        display: block;
      }

      #{$parent}--center & {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &--mobile-hide {
      display: flex;
    }
  }

  @include media-query( $tablet-up ) {
    &--full-height {
      height: calc(100vh - 64px);
      min-height: 500px;
    }
  }

  @include media-query( $large-up ) {
    padding: 56px;

    &--small {
      height: 430px;
      min-height: 430px;
    }
  }
}

@include media-query($small) {
  .page-width--hero-image {
    padding: 0;
  }
}

/* ============================================================================
Ratio sized image
============================================================================== */
.hero-image__ratio {
  overflow: hidden;
  position: relative;
  width: 100%; 

  &--16-8 {
    padding-bottom: 50%;
  }

  &--7-3 {
    padding-bottom: 43%;
  }

  &--responsize {
    padding-bottom: 115%;
  }

  &--collection {
    padding-bottom: 53%;
  }

  .hero-image {
    bottom: 0;
    height: 100%;
    left: 0;
    min-height: 100%;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

  @include media-query( $medium-up ) {
    .hero-image {
      padding: 34px;
    }

    &--16-8 {
      padding-bottom: 50%;
    }

    &--7-3 {
      padding-bottom: 43%;
    }

    &--responsize {
      padding-bottom: 68%;
    }
  }

  @include media-query( $large-up ) {
    .hero-image {
      padding: 56px;
    }

    &--responsize {
      padding-bottom: 43%;
    }
  }
}

/* ============================================================================
Two Column
============================================================================== */
.hero-image--50-50 {
  &__video-ratio {
    height: 0;
    overflow: hidden;
    padding-bottom: 86%;
    position: relative;
  }

  &__mobile-hide {
    display: none;
  }

  .hero-image {
    bottom: 0;
    height: 100%;
    left: 0;
    min-height: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  @include media-query( $medium-up ) {
    display: flex;

    &__video-ratio {
      max-width: 50%;
      min-width: 50%;
      padding-bottom: 56%;
      width: 50%;

    }

    &__mobile-hide {
      display: block;
    }
  }
}

/* ============================================================================
Slider
============================================================================== */
.slideshow {
  &__container {
    display: block;
  }

  .slick-dots {
    display: none;
  }
}

/* ============================================================================
Collection
============================================================================== */
.collection-wrapper {
  @include media-query($small) {
    .collection__hero {
      padding: 0;
      width: calc(100% + 20px);
    }
  }
}