.image-with-text {
  $parent: &;

  @include media-query( $medium-up ) {
    align-items: center;

    &__image {
      flex: 0 1 50%;
      min-width: 320px;
    }

    &__text {
      flex: 1 1 50%;
      padding: 0 0 0 70px;
    }

    &--right {
      flex-direction: row-reverse;

      #{$parent}__text {
        padding: 0 70px 0 0;
      }
    }
  }
  display: flex;
  flex-wrap: wrap;

  &__image {
    margin-bottom: 20px;
    min-width: 100%;
  }
}
