/**
 * Section: Instafeed
 * -----------------------------------------------------------------------------
 * Base styling for Instafeed app section.
 *
 */

 #instafeed-section {
  position: relative;

  &.active {
    display: block;
  }
}

/* ============================================================================
Instagram
============================================================================== */
.instafeed {
  $parent: &;
  overflow: hidden;

  &__header {
    text-align: center;
  }

  &__footer {
    text-align: center;
  }

  &__contianer {
    padding: 12px;
  }

  &__img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid $COLOR_WHITE;
    display: block;
    margin: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;

    @include media-query($tablet-up) {
      &:hover .instafeed__overlay {
        opacity: 1;
      }
    }
  }

  &__overlay {
    align-items: center;
    background-color: rgba($COLOR_PRIMARY, 0.5);
    bottom: 0;
    display: flex;
    left: 0;
    opacity: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.2s;
  }

  &__overlay-text {
    color: $COLOR_WHITE;
    display: none;
    height: 125px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
  }

  &__link {
    align-items: center;
    display: flex;
    font-family: $FONT_BODY;
    font-size: 11px;
    justify-content: center;
    letter-spacing: $LETTER_SPACING_BASE;
    text-transform: uppercase;

    .icon {
      margin-right: 6px;
      width: 11px;
    }
  }

  .slick-arrow {
    left: -50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-next {
    background-position: calc(50% + 1px) calc(50% - 1px);
    left: initial;
    right: -50px;
  }

  @include media-query($tablet-down) {
    .page-width {
      padding: 0;
    }

    .grid, .grid__item {
      margin: 0;
      padding: 0;
    }

    .slick-arrow {
      display: none !important;
    }
  }

  @include media-query($medium-up) {
    &__header--image {
      top: -60px;

      img {
        max-width: 250px;
      }
    }
  }

  @include media-query($tablet-up) {
    .slick-list {
      margin-left: 0;
      width: 100%;
    }
  }
}