/* ============================================================================
Login/account
============================================================================== */
.login-template {
  @include clearfix;
}

.login {
  &__image-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;

    @media (min-width: 1100px) {
      align-items: flex-start;
    }
  }

  &__form-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 40px 150px;
    width: 50%;

    .form-vertical {
      max-width: 400px;
    }

    @media (min-width: 1100px) {
      padding-top: 150px;
    }
  }

  &__image {
    background-position: center;
    background-size: cover;
    padding-bottom: 74%;
    width: 50%;
  }

  &__basic-wrapper {
    margin: 100px auto 160px;
    max-width: 400px;
    width: 100%;
  }

  &__wolf {
    margin: 0 auto 12px;
    text-align: center;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;

    @include media-query($medium-up) {
      font-size: 40px;
    }
  }

  &__subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__text {
    text-align: center;
  }

  .button {
    margin-bottom: 20px;
    margin-top: 32px;
  }

  &__link {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;

    a {
      text-decoration: underline;
    }
  }

  &__recover {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
    text-align: right;
  }

  &__password {
    position: relative;

    label {
      z-index: 1;
    }
  }

  &__password-toggle {
    position: absolute;
    right: 0;
    top: 32px;
  }

  @media (max-width: 880px) {
    &__image {
      display: none;
    }

    &__form-container {
      padding: 40px 20px 50px;
      width: 100%;
    }

    &__basic-wrapper {
      margin-bottom: 0;
      margin-top: 0;
      padding: 40px 20px 50px;
      width: 100%;
    }
  }
}

#HideRecoverPasswordLink {
  display: block;
  margin: 25px auto;
  text-align: center;
  text-decoration: underline;
}

#HideRecoverPasswordLink {
  font-size: 14px;
  border: 0;
  margin-top: 0;
}

.recover_wrapper {
  @include media-query($medium-up) {
    @include flexbox;
    @include align-items(center);
    min-height: 70vh;
  }
  padding: 25px;
  width: 100%;

  input {
    margin-bottom: 20px;
  }
}

/* ============================================================================
Register
============================================================================== */
.template-register {

}

/* ============================================================================
account
============================================================================== */
.account-page {
  margin-bottom: 160px;
}

.account-sidebar {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;

  li {
    line-height: 1.8;
  }

  a {
    font-size: 13px;
    line-height: 2;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      text-decoration: underline;
    }
  }
}

.address-form {
  background: rgba($COLOR_BLACK, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 111111;

  &__wrapper {
    @include transform(translate(-50%, -50%));
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    background: transparent;
    border-radius: 7px;
    bottom: 0;
    // box-shadow: 0 0 33px rgba($COLOR_BLACK, 0.2);
    height: 80vh;
    left: 50%;
    max-width: 90%;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 600px;
    z-index: 1000;
  }

  &__background {
    background: $COLOR_WHITE;
    border-radius: 3px;
    overflow: scroll;
    padding: 20px;
    width: 100%;
  }

  &__footer {
    background: $COLOR_WHITE;
    border-top: 3px solid $COLOR_BORDER;
    bottom: 10px;
    left: 10px;
    padding: 0 20px 20px;
    position: absolute;
    right: 10px;

    .checkbox {
      margin: 10px 0 0;
    }
  }

  form {
    margin-bottom: 160px;
    text-align: left;

    .h4 {
      color: $COLOR_SECONDARY;
      text-align: center;
    }
  }

  .button {
    margin-bottom: 10px;
  }

  .button--secondary {
    margin-bottom: 0;
  }

  @include media-query($medium-up) {
    &__background {
      padding: 40px;
    }

    &__footer {
      padding: 20px 40px;
    }

    &__footer-buttons {
      display: flex;

      .button {
        width: 50%;
      }

      .button--secondary {
        margin-bottom: 0;
        margin-left: 20px;
      }
    }
  }
}

.address-list {
  margin-bottom: 30px;
}

@include media-query($medium-up) {
  .address-list__wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
  }
}
