/* ============================================================================
Login/account
============================================================================== */
.login-template {
  @include clearfix;
}

.template-login {
  .form-success {
    background: $COLOR_PRIMARY;
    color: $COLOR_WHITE;
    font-size: $FONT_SIZE_XSMALL;
    padding: 12px;
    text-align: center;
    width: 100%;
  }
}

.login {
  &__image-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__form-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 50%;

    .form-vertical {
      max-width: 400px;
    }
  }

  &__image {
    background-position: center;
    background-size: cover;
    height: calc(100vh - 64px);
    min-height: 700px;
    width: 50%;
  }

  &__basic-wrapper {
    margin: 100px auto 160px;
    max-width: 400px;
    width: 100%;
  }

  &__wolf {
    margin: 0 auto 12px;
    max-width: 64px;
    text-align: center;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;

    @include media-query($medium-up) {
      font-size: 40px;
    }
  }

  &__subtitle {
    font-size: $FONT_SIZE_SMALL;
    margin-bottom: 20px;
    text-align: center;
  }

  &__text {
    text-align: center;
  }

  .button {
    margin-bottom: 20px;
    margin-top: 32px;
  }

  &__link {
    font-size: $FONT_SIZE_SMALL;
    margin-bottom: 20px;
    text-align: center;

    a {
      text-decoration: underline;
    }
  }

  &__recover {
    display: block;
    font-size: $FONT_SIZE_XSMALL;
    margin-bottom: 0;
    text-align: right;
  }

  &__password {
    position: relative;

    label {
      z-index: 1;
    }
  }

  &__password-toggle {
    position: absolute;
    right: 0;
    top: 32px;
  }

  @media (max-width: 880px) {
    &__image {
      display: none;
    }

    &__form-container {
      padding: 40px 20px 50px;
      width: 100%;
    }

    &__basic-wrapper {
      margin-bottom: 0;
      margin-top: 0;
      padding: 40px 20px 50px;
      width: 100%;
    }
  }
}

.input--password {
  text-transform: none!important;
}

#HideRecoverPasswordLink {
  display: block;
  margin: 25px auto;
  text-align: center;
  text-decoration: underline;
}

#HideRecoverPasswordLink {
  border: 0;
  font-size: $FONT_SIZE_SMALL;
  margin-top: 0;
}

.recover_wrapper {
  @include media-query($medium-up) {
    @include flexbox;
    @include align-items(center);
    min-height: 70vh;
  }
  padding: 25px;
  width: 100%;

  input {
    margin-bottom: 20px;
  }
}

/* ============================================================================
Register
============================================================================== */
.template-register {

}

/* ============================================================================
account
============================================================================== */
.account-page {
  margin-bottom: 160px;
}

.address-form {
  background: rgba($COLOR_BLACK, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 111111;

  &__wrapper {
    @include transform(translate(-50%, -50%));
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    background: transparent;
    border-radius: 7px;
    bottom: 0;
    // box-shadow: 0 0 33px rgba($COLOR_BLACK, 0.2);
    height: 80vh;
    left: 50%;
    max-width: 90%;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 600px;
    z-index: 1000;
  }

  &__background {
    background: $COLOR_WHITE;
    border-radius: 3px;
    overflow: scroll;
    padding: 20px;
    width: 100%;
  }

  &__footer {
    background: $COLOR_WHITE;
    border-top: 1px solid $COLOR_PRIMARY_LIGHT;
    bottom: 10px;
    left: 10px;
    padding: 0 20px 20px;
    position: absolute;
    right: 10px;

    .checkbox {
      margin: 10px 0 0;
    }
  }

  form {
    margin-bottom: 160px;
    text-align: left;

    h3 {
      text-align: center;
    }
  }

  .button {
    margin-bottom: 10px;
  }

  .button--white {
    margin-bottom: 0;
  }

  @include media-query($medium-up) {
    &__background {
      padding: 32px;
    }

    &__footer {
      padding: 20px 32px;
    }

    &__footer-buttons {
      display: flex;

      .button {
        width: 50%;
      }

      .button--white {
        margin-bottom: 0;
        margin-left: 20px;
      }
    }
  }
}

.address-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;

  &__address {
    margin-bottom: 10px;

    h3 {
      margin: 0 0 6px;

      @media (max-width: 749px){
        font-size: 18px;
      }
    }

    p {
      font-family: $FONT_BASE;
      font-size: $FONT_SIZE_SMALL;
      margin-bottom: 0px;
    }
  }

  strong {
    font-family: $FONT_BODY;
    font-size: $FONT_SIZE_SMALL;
    font-weight: normal;
    letter-spacing: $LETTER_SPACING_BASE;
    text-transform: uppercase;

    @media (max-width: 749px){
      font-size: 10px;
    }
  }

  &__footer {
    align-items: center;
    display: flex;

    button {
      background: transparent;
      border: 0;
      color: $COLOR_PRIMARY;
      font-family: $FONT_BASE;
      font-size: $FONT_SIZE_XSMALL;
      padding: 0;
    }

    span {
      color: $COLOR_PRIMARY;
      font-family: $FONT_BASE;
      // font-size: $FONT_SIZE_XSMALL;
      padding: 0 6px;
    }
  }
}

@include media-query($medium-up) {
  .address-list__wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
  }
}
