/* ============================================================================
MegaNav
============================================================================== */
.header-fixed--active {
  .meganav {
    position: fixed;
  }
}

.meganav {
  $parent: &;
  background: $COLOR_WHITE;
  display: none;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: $HEADER-HEIGHT;
  z-index: 100;

  .page-width {
    align-items: flex-start;
  }

  &__header {
    h3 {
      margin-bottom: 30px;
    }
  }

  &__container {
    padding: 50px 60px 80px;
  }

  &.is-active {
    display: block;
  }

  &__list {
    display: flex;
    width: 25%;

    #{$parent}__container {
      padding-left: 0;
    }

    ul {
      margin: 0 20px 20px 0;
      padding: 0;
    }

    li {
      display: block;
      list-style: none;
      padding: 0 0 8px;
    }

    a {
      padding: 0;
    }

    h5 {
      margin: 0 0 10px;
    }
  }

  &__images {
    background: $COLOR_GREY;
    height: 100%;
    position: relative;
    width: 75%;
    z-index: 1;

    &::after {
      background: $COLOR_GREY;
      bottom: 0;
      content: '';
      left: 100px;
      position: absolute;
      right: -600px;
      top: 0;
      z-index: -1;
    }
  }

  &__image-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  &__image {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0 !important;
    width: 25%;

    h6 {
      margin: 0;
      position: relative;
    }

    img {
      margin-bottom: 20px;
    }

    &:hover {
      h6::before {
        background: $COLOR_PRIMARY;
        bottom: -3px;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
      }
    }
  }

  &__link {
    position: relative;

    &--active::before, &:hover::before {
      background: $COLOR_PRIMARY;
      bottom: -6px;
      content: '';
      height: 1px;
      left: 0px;
      position: absolute;
      right: 0px;
    }
  }
}
