/* ============================================================================
  #Product--images
============================================================================== */
.product-images {
  display: inline-block;
  position: relative;
  width: 100%;

  &__container {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    &.is-active {
      height: 100%;
      opacity: 1;
    }

    @media (max-width: 1025px) {
      padding-right: 20px;
    }
  }

  img {
    outline: none;
    z-index: 10;
  }

  &__mobile-container {
    @include media-query($tablet-down) {
      background: $COLOR_GREY;
      margin-bottom: 18px;
      width: calc(100% + 30px);

      .product-header {
        display: block;
        margin-bottom: 0;
        padding-right: 20px;
        padding-top: 20px;

        &__price {
          flex-direction: row-reverse;
        }
      }
    }

    @include media-query($small) {
      width: calc(100% + 20px);
    }

    @include media-query($tablet-up) {
      .product-header {
        display: none;
      }
    }
  }

  &__zoom-container {
    position: relative;
  }

  &__zoom-pane {
    bottom: 66px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    * {
      background-color: $COLOR_WHITE;
    }

    @include media-query($tablet-down) {
      padding-right: 20px;
    }
  }

  .drift-zoom-pane {
    background-color: $COLOR_WHITE;
  }
}

.main-product-slider:not(.slick-initialized) {
  display: none;
}

.product-slider-nav__container:not(.slick-initialized) {
  display: none;
}

.main-product-slider {
  cursor: zoom-in;
  overflow: hidden;
  position: relative;

  .slick-dots {
    align-items: center;
    display: flex;
    justify-content: center;

    li {
      list-style: none;

      &.slick-active button {
        background: $COLOR_PRIMARY;
      }
    }

    button {
      background: transparent;
      border: 1px solid $COLOR_PRIMARY;
      border-radius: 50%;
      font-size: 0;
      height: 8px!important;
      margin: 0 5px;
      max-width: 8px!important;
      padding: 0;
      width: 8px!important;
    }
  }

  .slick-prev, .slick-next {
    background-color: transparent!important;
    background-size: 14px 24px;
    border: 0!important;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-prev {
    left: -10px;
    right: initial;
  }
}

.product-slider-nav {
  $parent: &;
  width: 80%;
  // width: 784px;

  .slick-track {
    margin-left: 0;
  }

  .slick-current {
    margin-bottom: 1px;

    #{$parent}__image-wrapper {
      border: 1px solid $COLOR_PRIMARY;
    }
  }

  &__image-wrapper {
    display: block !important;
    position: relative;
  }

  &__image {
    display: block !important;
    padding-right: 16px;
    // margin: 10px 10px 10px 0;

    img {
      margin: 0;
      padding: 0;
    }

    &--video {
      overflow: hidden;
      position: relative;

      img {
        opacity: 0.4;
      }

      &::after {
        background-color: rgba($COLOR_PRIMARY, 0);
        border: 2px solid rgba($COLOR_PRIMARY, 1);
        border-radius: 50%;
        content: '';
        height: 34px;
        left: calc(50% - 8px);
        position: absolute;
        top: 50%; 
        transform: translateY(-50%) translateX(-50%);
        transition: 0.3s;
        width: 34px;
        z-index: 10;
      }

      &::before {
        border-bottom: 5px solid transparent;
        border-left: 9px solid $COLOR_PRIMARY;
        border-top: 5px solid transparent;
        bottom: 50%;
        content: '';
        height: 0;
        left: calc(50% - 8px);
        pointer-events: none;
        position: absolute;
        transform: translateX(-50%) translateY(50%);
        transition: 0.4s;
        width: 0;
        z-index: 10;
      }
    }
  }

  .slick-prev {
    display: none !important;
  }

  .slick-next {
    background-color: transparent!important;
    border: 0!important;
    position: absolute;
    right: -27px;
    top: 50%;
    transform: translateY(-50%);
  }


  @include media-query($tablet-down) {
    display: none!important;
  }
}
