/* ============================================================================
  #Product--reviews
============================================================================== */
.product-reviews {
  padding-top: 64px;

  &__header {
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__stars {
    .stamped-badge-caption {
      display: none;
    }
  }

  &__based-on {
    font-family: $FONT_BODY;
    font-size: 10px;
    text-transform: uppercase;

    .stamped-starrating {
      display: none;
    }
  }

  .stamped-badge-starrating .stamped-fa, .stamped-fa-star-o {
    color: $COLOR_PRIMARY;

    &:before {
      font-size: 14px;
    }
  }

  div.stamped-container[data-widget-style], div[data-widget-style] div.stamped-container {
    // margin: 0 0 30px !important;
  }

  #stamped-main-widget {
    margin: 15px 0;
  }

  .stamped-summary {
    .summary-overview {
      display: none;
    }

    .stamped-summary-ratings {
      display: none;
    }

    .stamped-summary-photos.stamped-summary-photos-container {
      display: none;
    }
  }

  .stamped-review-avatar {
    display: none !important;
  }

  .stamped-tabs {
    display: none;
  }

  .stamped-fa-star {
    color: $COLOR_PRIMARY;

    &:before {
      font-size: 14px;
    }
  }

  .stamped-share-links {
    a {
      background: $COLOR_PRIMARY;
      border: 1px solid $COLOR_PRIMARY;
      color: $COLOR_WHITE;
      font-family: $FONT_BODY;
      font-size: $FONT_SIZE_XSMALL;
      letter-spacing: $LETTER_SPACING_BASE;
      text-transform: uppercase;
      margin-right: 10px;
      padding: 14px 40px 12px;
    }
  }

  .stamped-header {

    .stamped-review-options {
      background: transparent;
      margin: 0 -20px;
      padding: 0;

      ul li {
        font-size: 10px;
        margin-bottom: 0;
        margin-right: 0;
        padding: 20px;
        width: 33%;
      }
    }

    .stamped-review-option-title {
      color: $COLOR_PRIMARY;
      font-family: $FONT_HEADING;
      font-size: 24px;
      font-weight: normal;
      letter-spacing: 0.3px;
      line-height: 1;
      margin-bottom: 10px;
    }

    span.stamped-review-option-labels {
      color: $COLOR_PRIMARY;
      font-size: 10px;

      span {
        max-width: 100px;

        &:first-of-type {
          text-align: left;
        }

        &:last-of-type {
          display: block;
          text-align: right;
        }
      }
    }

    .stamped-review-option-scale {
      background: transparent;
      border: 0;
      // overflow: hidden;

      i {
        border-radius: 2px 0 0 2px;
        display: none;
        height: 4px;
        position: relative;

        &:before {
          background: $COLOR_PRIMARY;
          content: '';
          height: 8px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 2px;
        }

        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
          display: none!important;
        } 
      }

      &:after {
        background: $COLOR_GREY;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }
    }
    
    [data-value^="0"] {
      i {
        display: block;
        background: $COLOR_PRIMARY !important;
        width: 0%;
      }
    }
    
    [data-value^="1"] {
      i {
        display: block;
        background: $COLOR_PRIMARY !important;
        width: 20%;
      }
    }

    [data-value^="2"] {
      i {
        display: block;
        background: $COLOR_PRIMARY !important;
        width: 40%;
      }
    }

    [data-value^="3"] {
      i {
        display: block;
        background: $COLOR_PRIMARY !important;
        width: 60%;
      }
    }

    [data-value^="4"] {
      i {
        display: block;
        background: $COLOR_PRIMARY !important;
        width: 80%;
      }
    }

    [data-value^="5"] {
      i {
        display: block;
        background: $COLOR_PRIMARY !important;
        width: 100%;
      }
    }
  }

  #stamped-main-widget {
    .stamped-summary-actions {
      align-items: center;
      display: flex !important;
      float: none;
      justify-content: center;
      width: 100%;

      .stamped-summary-actions-newreview {
        border-radius: 0;
        float: none;
        font-family: $FONT_BODY;
        font-size: 10px;
        font-weight: normal;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: $LETTER_SPACING_BASE;

        &:before {
          display: none;
        }
      }

      .stamped-summary-actions-newquestion {
        display: none;
      }
    }
  }

  .stamped-content {

    .stamped-reviews {
      margin-bottom: 0;
    }

    .stamped-tab-container {
      display: none;
    }

    .stamped-reviews-filter {
      display: none !important;
    }

    .stamped-review-header {

      .stamped-verified-badge {
        color: $COLOR_PRIMARY;
        font-family: $FONT_BASE;
        font-size: $FONT_SIZE_XSMALL;
        font-weight: normal;  
      }

      .author {
        color: $COLOR_PRIMARY;
        font-family: $FONT_BODY;
        font-size: $FONT_SIZE_SMALL;
        font-weight: normal;
        text-transform: uppercase;
      }

      .stamped-location-flag {
        display: none;
      }

      .review-location {
        color: $COLOR_PRIMARY;
        font-family: $FONT_BASE;
        font-size: 10px;
        font-weight: normal;
        padding: 6px 0;
      }

      .created {
        color: $COLOR_PRIMARY;
        font-family: $FONT_BASE;
        font-size: $FONT_SIZE_XSMALL;
        font-weight: normal;
      }
    }

    .stamped-reviews span.stamped-review-option-scale[data-value="1"] span:nth-last-child(n+5),
    .stamped-reviews span.stamped-review-option-scale[data-value="2"] span:nth-last-child(n+4),
    .stamped-reviews span.stamped-review-option-scale[data-value="3"] span:nth-last-child(n+3),
    .stamped-reviews span.stamped-review-option-scale[data-value="4"] span:nth-last-child(n+2),
    .stamped-reviews span.stamped-review-option-scale[data-value="5"] span {
      background: $COLOR_PRIMARY;
    }

    .stamped-review-option-scale {
      background: $COLOR_GREY;
      border-radius: 2px;
      height: 4px;
      overflow: hidden;
      width: 50%;

      span {
        border: 0;
        font-size: 0!important;
        height: 4px;
        vertical-align: top;

        &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
          display: none;
        }
      }

      content: attr(data-content);
    }

    .stamped-review-product a {
      color: rgba($COLOR_PRIMARY, 1) !important;
      display: none;
    }
    
    [data-value^="0"] {
      span {
        background: $COLOR_PRIMARY !important;
        width: 0%;
      }
    }
    
    [data-value^="1"] {
      span {
        background: $COLOR_PRIMARY !important;
        width: 20%;
      }
    }

    [data-value^="2"] {
      span {
        background: $COLOR_PRIMARY !important;
        width: 40%;
      }
    }

    [data-value^="3"] {
      span {
        background: $COLOR_PRIMARY !important;
        width: 60%;
      }
    }

    [data-value^="4"] {
      span {
        background: $COLOR_PRIMARY !important;
        width: 80%;
      }
    }

    [data-value^="5"] {
      span {
        background: $COLOR_PRIMARY !important;
        width: 100%;
      }
    }

    .stamped-review-body {
      margin-bottom: 24px;
      margin-top: -50px;
      padding-left: 24px;

      .stamped-share-icon {
        display: none;
      }

      .stamped-review-vote {
        display: none;
      }
    }

    .stamped-review-footer {
      margin: 0;
    }

    .stamped-review {
      margin-bottom: 0;
      padding-top: 35px;

      &:first-child {
        border-top: 1px solid $COLOR_GREY!important;
      }

      .stamped-review-header-title {
        color: $COLOR_PRIMARY;
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 18px;
      }

      .stamped-review-content-body {
        color: $COLOR_PRIMARY;
        font-family: $FONT_BASE;
        font-size: 13px;
        font-weight: normal;
        line-height: 1.8;
      }

      .stamped-review-options {
        strong {
          color: $COLOR_PRIMARY;
          font-family: $FONT_BODY;
          font-size: 10px;
          font-weight: normal;
          letter-spacing: $LETTER_SPACING_BASE;
          min-width: 70px;
          text-transform: uppercase;
          width: auto;
        }

        ul li {
          align-items: center;
          flex-basis: 100%;
          flex-direction: inherit;
          justify-content: flex-start;
          margin-right: 0;
          width: 100%;
        }
      }

      .stamped-review-content {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;

        .stamped-review-options {
          min-width: 30%;
          width: 30%;
        }

        .stamped-review-body {
          width: 70%;
          max-width: 70%;
        }
      }

      .stamped-review-reply {
        display: none;
      }
    }
  }

  .stamped-pagination {
    border-top: 1px solid $COLOR_GREY;
    padding-top: 56px;

    .page {
      a {
        border-radius: 100%;
        color: $COLOR_PRIMARY;
        display: block;
        font-family: $FONT_BASE;
        font-size: $FONT_SIZE_XSMALL;
        height: 34px;
        line-height: 34px;
        margin: 0 5px;
        padding: 0;
        transition: 0.2s;
        width: 34px;

        &:hover {
          background: $COLOR_PRIMARY;
          color: $COLOR_WHITE;
        }
      }

      &.active a {
        background: $COLOR_PRIMARY;
        color: $COLOR_WHITE;
      }
    }

    .next {
      float: right;

      a {
        background-image: $ICON_ARROW_RIGHT;
        background-position: calc(50% + 1px) calc(50% - 1px);
        background-repeat: no-repeat;
        background-size: 10px 13px;
        border: 1px solid $COLOR_SECONDARY;
        border-radius: 50%;
        cursor: pointer;
        font-size: 0;
        padding: 17px;
        transition: 0.2s;
        z-index: 5;

        &:hover {
          background-color: $COLOR_SECONDARY;
        }

        &.disabled {
          display: none;
        }
      }
    }

    .stamped-link-disabled {
      display: none;
    }

    .previous {
      float: left;

      a {
        background-image: $ICON_ARROW_LEFT;
        background-position: calc(50% - 1px) calc(50% - 1px);
        background-repeat: no-repeat;
        background-size: 10px 13px;
        border: 1px solid $COLOR_SECONDARY;
        border-radius: 50%;
        cursor: pointer;
        font-size: 0;
        padding: 17px;
        transition: 0.2s;
        z-index: 5;

        &:hover {
          background-color: $COLOR_SECONDARY;
        }

        &.disabled {
          display: none;
        }
      }
    }
  }

  .stamped-form-custom-questions {
    label {
      font-family: $FONT_BODY;
      font-size: $FONT_SIZE_XSMALL;
      letter-spacing: 0.5px;
      margin-bottom: 16px;
      text-transform: uppercase;
      
      div {
        font-family: $FONT_BASE;
        font-size: $FONT_SIZE_XSMALL !important;
        letter-spacing: 0.3px;
        text-transform: none;
      }
    }
  }

  .stamped-form-contact, .stamped-form-review {
    max-width: 840px;

    .stamped-form-label {
      color: $COLOR_PRIMARY;
      display: block;
      font-family: $FONT_BODY;
      font-size: $FONT_SIZE_XSMALL;
      letter-spacing: 0.5px;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    .stamped-form-input-text, .stamped-form-input-textarea, .stamped-form-input-email {
      border: 1px solid $COLOR_PRIMARY;
      color: $COLOR_PRIMARY;
      font-family: $FONT_BASE;
      margin-bottom: 30px;
      padding: 8px 12px;

      &::placeholder {
        color: $COLOR_PRIMARY;
        font-family: $FONT_BASE;
      }
    }
  }

  .new-review-form {
    border-top: 1px solid $COLOR_PRIMARY_LIGHT;
  }

  @media (min-width: 768px) {
    .stamped-form-contact  {
      max-width: 855px;
    }

    .stamped-form-contact-email, .stamped-form-contact-location, .stamped-form-contact-name {
      max-width: 50%;
      width: 50%;
    }

    .new-review-form {
      padding-top: 54px;
    }
  }

  .new-review-form .stamped-form-custom-option-scale {
    border-top-color: $COLOR_PRIMARY;
    
    input[type=radio] {
      position: relative;

      &::before {
        background: $COLOR_WHITE;
        border: 2px solid rgba($COLOR_PRIMARY, 1);
        border-radius: 100%;
        content: '';
        cursor: pointer;
        height: 13px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 13px;
      }

      &:checked, &:hover {
        &::after {
          background: $COLOR_PRIMARY;
          border-radius: 100%;
          content: '';
          cursor: pointer;
          height: 5px;
          left: 4px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 5px;
        }
      }
    }
  
    label {
      color: $COLOR_PRIMARY;
      display: block;
      float: left;
      font-size: ms(1);
      line-height: 1.8;
      margin-bottom: 0;
      position: relative;
      text-transform: none;
    }  
  }

  #stamped-button-submit {
    background: $COLOR_PRIMARY;
    border: 0;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;

    @media (min-width: 768px) {
      width: auto;
    }
  }

  @include media-query($small) {
    .stamped-content .stamped-review .stamped-review-content {
      flex-wrap: wrap;

      .stamped-review-body {
        width: 100%;
        max-width: 100%;
      }
    }

    .stamped-content .stamped-review .stamped-review-content .stamped-review-options {
      min-width: 100%;
      width: 100%;
    }

    .stamped-content .stamped-review-body {
      margin-top: 0;
      padding-left: 0;
    }

    .stamped-content .stamped-review .stamped-review-header-title {
      font-size: 18px;
    }

    .stamped-pagination {
      padding-top: 36px;
      text-align: center;

      .page a {
        height: 24px;
        line-height: 24px;
        margin: 0 2px;
        text-align: center;
        width: 24px;
      }

      .previous, .next {
        margin-top: -6px;
      }
    }

    .stamped-header {
      .stamped-review-options ul li {
        margin-right: 0;
        padding: 14px 20px;
      }

      .stamped-review-option-title {
        font-size: 18px;
        text-align: left;
      }
    }
  }

  @media (max-width: 400px) {
    .stamped-pagination .next {
      // display: none;
    }
  }

  @media (max-width:560px) {
    .stamped-header .stamped-review-options ul li {
      width: 100%;
    }
    .stamped-pagination {
      // li.last {
      //   display: inline-block!important;
        
        
      //   a:after {
      //     height: 24px;
      //     line-height: 24px;
      //     margin: 0 2px;
      //     text-align: center;
      //     width: 24px;
      //     border-radius: 100%;
      //     color: #032540;
      //     display: block;
      //     font-family: "AtlasGrotesk-Light", sans-serif;
      //     font-size: 12px;
      //     margin: 0 5px;
      //     padding: 0;
      //     transition: 0.2s;
      //     content: attr(data-page);
      //   }
      // }
    //   .previous, .next {
    //     display: none !important;
    //     margin-right: 0;
    //   }

    //   .page {
    //     &.stamped-hide-mobile {
    //       display: inline-block !important;
    //     }

    //     a {
    //       margin: 0;
    //     }
    //   }
    }
  }
}
