/* ============================================================================
  #Product--details
============================================================================== */
.compare_at_price {
  font-size: $FONT_SIZE_XSMALL;
}

.selector-wrapper {
  margin-bottom: 20px;

  label {
    display: inline-block;
    text-transform: uppercase;
    width: 100px;
  }

  select {
    width: 380px;
  }
}

.product-share {
  a {
    padding: 0 5px;
  }
  margin-bottom: 100px;
}

.additional_label {
  p {
    font-size: 13px;
    margin: 30px 0;

    a {
      text-decoration: underline;
    }
  }
}

/* ============================================================================
  #Product--tabs
============================================================================== */
.tab_section {
  section {
    border-top: 1px solid rgb(221, 221, 221);
    display: none;
    padding: 20px 0 0;
  }

  input {
    display: none;
  }

  label {
    border: 1px solid transparent;
    color: rgb(187, 187, 187);
    display: inline-block;
    font-weight: 600;
    margin: 0 0 -1px;
    padding: 15px 25px;
    text-align: center;
  }

  label:hover {
    color: rgb(136, 136, 136);
    cursor: pointer;
  }

  input:checked + label {
    border: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 2px solid rgb(255, 165, 0);
    color: rgb(85, 85, 85);
  }

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4 {
    display: block;
  }
}

.product-shoe-image {
  // background: $COLOR_GREY;
  background-color: #f6f6f6;
  padding: 36px 20px;
  text-align: center;
  width: 100%;

  &__mobile {
    display: none;
  }

  &__tablet {
    display: none;
  }

  &__desktop {
    // display: none;
  }

  img {
    margin: 0 auto;
    max-width: 780px;
    width: 100%;
  }

  @media (min-width: 749px) {
    padding: 42px 20px;
  }

  @media (min-width: 1024px) {
    padding: 64px 20px;
  }
}