/* ============================================================================
  #Product--images
============================================================================== */
.product-images {
  display: inline-block;
  width: 100%;

  img {
    outline: none;
    z-index: 10;
  }
}

.main-product-slider:not(.slick-initialized) {
  display: none;
}

.product-slider-nav:not(.slick-initialized) {
  display: none;
}

.main-product-slider {
  overflow: hidden;
  position: relative;
}

.product-slider-nav {
  overflow: hidden;
}

.product-slider-nav__image {
  img {
    border-bottom: 3px solid rgb(255, 255, 255);
    padding: 10px;
  }

  &.slick-current img {
    border-bottom: 3px solid rgb(255, 69, 0);
  }
}
