/* ============================================================================
#Signup success
============================================================================== */
.signup-success {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  background-color: $COLOR_PRIMARY;
  bottom: -200px;
  height: 200px;
  left: 0;
  padding: 20px 20px 90px;
  position: fixed;
  text-align: center;
  transition: 0.4s;
  width: 100%;
  z-index: 25;

  h4 {
    color: rgb(255, 255, 255);
    margin: 0;
  }

  p {
    color: rgb(255, 255, 255);
    margin: 5px 0;
  }

  &.active {
    bottom: 0;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;

    .icon.icon-close-white {
      circle, ellipse, g, line, path, polygon, polyline, rect {
        fill: rgb(255, 255, 255);
      }
    }
  }

  @include media-query($medium-up) {
    padding-bottom: 40px;
  }
}
