/*============================================================================
Size Guide
==============================================================================*/
.size-guide__wrapper .size-guide {
  @include transform(translateX(100%));
}

.size-guide__wrapper.size-guide--show {
  .size-guide__background {
    opacity: 1;
    pointer-events: all;
  }

  .size-guide {
    @include transform(translateX(0%));
  }
}

.size-guide__background {
  background: rgba(#fff, 0.9);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.2s;
  z-index: 1000;
}

.size-guide {
  background-color: rbg(255, 255, 255);
  border: 0;
  border-left: 1px solid rgba(173, 173, 173, 0.7);
  bottom: 0;
  max-width: 100%;
  padding: 30px 30px 90px;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.25s cubic-bezier(0.3, 0.6, 0.4, 1);
  width: 500px;
  z-index: 99999;
}

/* =============== Size guide header section =============== */

.size-guide__close {
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
}

.size-guide__header {
  padding-bottom: 40px;
  text-align: center;
}

.size-guide__title {
  margin: 0;
}

.size-guide__subtitle {
  margin-top: 0;
}

.size-guide__toggle-wrapper {
  margin-top: 10px;

  .size-guide__toggle {
    width: 45%;

    &.active {
      background: $black;
      color: rbg(255, 255, 255);
    }
  }
}

$panel-height: calc(100vh - 120px);

.size-guide__body {
  height: $panel-height;
  max-height: $panel-height;
  overflow-y: auto;
  padding-bottom: 20px;
  position: relative;
}

/* =============== Size guide table =============== */
.size-guide__table {
  @include media-query($medium-up) {
    font-size: 13px;
  }
  border: 2px solid rbg(0, 0, 0);
  border-collapse: collapse;
  font-size: 12px;
  margin-bottom: 30px;
  width: 100%;

  thead {
    background: rgb(245, 245, 245);
  }

  @media only screen and (max-width: 380px) {
    font-size: 11px;
  }
}

.size-guide__table__cell {
  @include media-query($medium-up) {
    padding: 20px 10px;
  }
  border: 1px solid rgb(224, 224, 224);
  padding: 20px 0;

  span {
    display: block;
    font-size: 10px;
    margin: 5px 0 0;
    opacity: 0.4;
    width: 100%;
  }
}
