/* ============================================================================
Swatches Styles
============================================================================== */
.swatch__wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.swatch {
  $parent: &;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 12px 10px 10px;

  &__tooltip-info {
    display: none;
  }

  @include media-query($large-up) {
    &__tooltip {
      position: relative;

      &:hover #{$parent}__tooltip-info {
        opacity: 1;
        top: 20px;
      }
    }

    &__tooltip-info {
      background: $COLOR_WHITE;
      border: 1px solid $COLOR_SWATCH_BORDER;
      border-radius: 2px;
      color: $COLOR_PRIMARY;
      display: block;
      font-size: 10px;
      left: 50%;
      line-height: 16px;
      opacity: 0;
      padding: 3px 12px;
      position: absolute;
      text-transform: capitalize;
      top: 30px;
      transform: translateX(-50%);
      transition: 0.4s;
    }
  }

  &__header {
    @include clearfix;
    position: relative;

    &--flex {
      align-items: center;
      display: flex;
    }
  }

  &__header__color {
    font-family: $FONT_BASE;
    font-size: $FONT_SIZE_XSMALL;
    margin-left: 10px;
    text-transform: capitalize;
  }

  &__header__color-count {
    float: right;
    font-family: $FONT_BASE;
    font-size: 12px;
    text-transform: lowercase;

    @include media-query($tablet-up) {
      // display: none;
    }
  }

  &__header__size {
    align-items: center;
    cursor: pointer;
    display: flex;
    float: right;
    position: absolute;
    right: 0;
    top: 0;

    svg {
      margin-right: 10px;
    }
  }
}

.collection-grid-item {
  .swatch__wrapper {
    .swatch-product {
      cursor: none!important;
      font-size: 0;

      &:nth-child(n+6) {
        background-color: transparent !important;
        background-image: none !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 5px 10px;
        border-radius: 0;
        box-shadow: none !important;
        cursor: pointer !important;
        font-size: 10px;
        margin-left: 0;
        position: relative;
        top: 1px;

        .swatch__tooltip-info {
          display: none;
        }
      }

      &:nth-child(n+7) {
        display: none;
      }
    }
  }
}

.swatch-product {
  background: $COLOR_WHITE;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px $COLOR_SWATCH_BORDER;
  color: $COLOR_BLACK;
  height: 14px;
  line-height: 14px;
  margin: 0 4px;
  min-width: 14px;
  padding: 0;
  position: relative;
  transition: all 0.6s ease;
  width: 14px;

  &:hover, &.swatch-product--active {
    box-shadow: 0 0 0 1px $COLOR_SWATCH_BORDER, 0 0 0 2px $COLOR_BLACK;
  }
}

.swatch-soldout {
  opacity: 0.4;
}

.product-swatches {
  .selector-wrapper {
    margin-bottom: 0;
  }

  .swatch__header {
    margin-bottom: 16px;
    text-align-last: left;
    width: 100%;
  }

  .swatch__wrapper {
    flex-flow: wrap;
    justify-content: left;
    margin-bottom: 8px;
    margin-left: -8px;
    width: calc(100% + 16px);
  }

  .swatch-product {
    border: 1px solid $COLOR_PRIMARY_LIGHT;
    border-radius: 0;
    box-shadow: none;
    font-family: $FONT_BASE;
    font-size: $FONT_SIZE_XSMALL;
    height: 32px;
    line-height: 32px;
    margin: 0 8px 16px;
    min-width: 32px;
    padding: 0 5px;
    width: auto;

    &.swatch-product--active, &:hover {
      border: 1px solid $COLOR_PRIMARY;
      box-shadow: none;
    }
  }

  .swatch-product--color {
    border: 0;
    border-radius: 100%;
    box-shadow: 0 0 0 1px $COLOR_SWATCH_BORDER;
    height: 24px;
    min-height: 24px;
    min-width: 24px;
    width: 24px;

    &.swatch-product--active, &:hover {
      border: 0;
      box-shadow: 0 0 0 1px $COLOR_SWATCH_BORDER, 0 0 0 2px $COLOR_WHITE, 0 0 0 3px $COLOR_BLACK;
    }
  }
}

.product-form {
  @include media-query($tablet-down) {
    .swatch__wrapper--size {
      background-image: $ICON_ARROW_DOWN;
      background-position: calc(100% - 20px) 17px;
      background-repeat: no-repeat;
      border: 1px solid $COLOR_PRIMARY_LIGHT;
      border-radius: 0;
      color: $COLOR_PRIMARY;
      font-family: $FONT_BODY;
      font-size: 12px;
      line-height: 1.6;
      margin-bottom: 24px;
      margin-left: 0;
      max-width: 100%;
      outline: none;
      // padding: 10px 28px 10px 12px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

      .swatch__size-toggle__trigger {
        padding: 10px 28px 10px 12px;
        width: 100%;
      }

      .swatch {
        display: none;
      }

      &.is-active {
        background-image: $ICON_ARROW_UP;
        padding-bottom: 0;

        .swatch__size-toggle__title {
          margin-bottom: 12px;
        }
        
        .swatch__size-toggle__trigger {
          padding-bottom: 0;
        }

        .swatch {
          display: block;
        }
      }
    }
  }

  .selector-wrapper--size {
    @include media-query($small) {
      // display: flex;
      // flex-direction: column-reverse;
      // margin-bottom: 18px !important;
  
      // .visually-hidden {
      //   height: auto;
      //   position: static!important;
      //   clip: initial;
      //   width: 100%;
  
      //   label {
      //     display: none;
      //   }
  
      //   select {
      //     background: $ICON_ARROW_DOWN;
      //     background-position: calc(100% - 20px) center;
      //     background-repeat: no-repeat;
      //     border: 1px solid $COLOR_PRIMARY_LIGHT;
      //     color: $COLOR_PRIMARY;
      //     font-family: $FONT_BODY;
      //     width: 100%;
      //   }
      // }
  
      // .swatch__wrapper {
      //   // display: none;
      // }
    }
  }

  @include media-query($tablet-up) {
    .swatch__size-toggle {
      display: none;
    }

    .swatch__size-toggle__title {
      display: none;
    }
  }
}

