/* ============================================================================
Swatches Styles
============================================================================== */
.swatch__wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.swatch {
  $parent: &;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 12px 10px 10px;

  &__tooltip-info {
    display: none;
  }

  @include media-query($large-up) {
    &__tooltip {
      position: relative;

      &:hover #{$parent}__tooltip-info {
        opacity: 1;
      }
    }

    &__tooltip-info {
      background: $COLOR_WHITE;
      border: 1px solid $COLOR_GREY_4;
      border-radius: 2px;
      color: $COLOR_PRIMARY;
      display: block;
      font-size: $FONT_SIZE_XXSMALL;
      left: 50%;
      line-height: 16px;
      opacity: 0;
      padding: 3px 12px;
      position: absolute;
      text-transform: capitalize;
      top: 20px;
      transform: translateX(-50%);
      transition: 0.4s;
    }
  }

  &__header {
    @include clearfix;
    position: relative;

    &--flex {
      align-items: center;
      display: flex;
    }
  }

  &__header__color {
    font-family: $FONT_BASE;
    font-size: $FONT_SIZE_XSMALL;
    margin-left: 10px;
    text-transform: capitalize;
  }

  &__header__color-count {
    float: right;
    font-family: $FONT_BASE;
    font-size: $FONT_SIZE_XSMALL;
    text-transform: lowercase;
  }

  &__header__size {
    align-items: center;
    cursor: pointer;
    display: flex;
    float: right;
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 0;

    svg {
      margin-right: 10px;
    }
  }
}

.template-index {
  .collection-grid-item {
    @include media-query($medium-up) {
      .swatch-product {
        height: 16px;
        line-height: 16px;
        margin: 0 4px;
        min-width: 16px;
        width: 16px;
      }
    }
  }
}

.collection-grid-item {

  .swatch__container {
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: center;

    .swatch-product__counter {
      cursor: pointer;
      display: block;
      padding-top: 2px;
      padding-left: 4px;
    }

    @include media-query($small) {
      .swatch-product__counter--medium {
        display: none;
      }
    }

    @include media-query($medium-up) {
      .swatch-product__counter--small {
        display: none;
      }
    }
  }

  .swatch__wrapper {
    .swatch-product {
      font-size: 1em;

      @include media-query($small) {
        &:nth-child(n+4) {
          display: none;
        }
      }

      @include media-query($medium-up) {
        &:nth-child(n+6) {
          display: none;
        }
      }
    }
  }
}

.swatch-product {
  background: $COLOR_WHITE;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px $COLOR_GREY_4;
  color: $COLOR_BLACK;
  height: 20px;
  line-height: 20px;
  margin: 0 4px;
  min-width: 20px;
  padding: 0;
  position: relative;
  transition: all 0.6s ease;
  width: 20px;

  &:hover, &.swatch-product--active {
    box-shadow: 0 0 0 1px $COLOR_GREY_4, 0 0 0 2px $COLOR_BLACK;
  }

  @include media-query($medium-up) {
    height: 14px;
    line-height: 14px;
    margin: 0 4px;
    min-width: 14px;
    width: 14px;
  }
}

.swatch-soldout {
  opacity: 0.4;
}

.product-swatches {
  .selector-wrapper {
    margin-bottom: 0;
  }

  .swatch__header {
    margin-bottom: 16px;
    text-align-last: left;
    width: 100%;
  }

  .swatch__wrapper {
    flex-flow: wrap;
    justify-content: left;
    margin-bottom: 8px;
    margin-left: -8px;
    width: calc(100% + 16px);
  }

  .swatch-product {
    border: 1px solid $COLOR_SWATCH_BORDER;
    border-radius: 0;
    box-shadow: none;
    font-family: $FONT_BASE;
    font-size: $FONT_SIZE_XSMALL;
    height: 32px;
    line-height: 32px;
    margin: 0 8px 16px;
    min-width: 34px;
    padding: 0 5px;
    width: auto;

    &.is-active, &:hover {
      box-shadow: none;
    }
  }
  
  .swatch-product--size, .swatch-product--width {
    &.is-disabled {
      opacity: 0.5;

      &:hover, &.is-active {
        background: #f0f0f0 !important;
        border: 1px solid #f0f0f0;
        color: #a3aeb7;
        opacity: 1;
      }
    }

    &:hover, &.is-active, &:focus {
      border: 1px solid $COLOR_PRIMARY!important;
    }
  }

  .swatch-product--color {
    border: 0;
    border-radius: 100%;
    box-shadow: 0 0 0 1px $COLOR_BORDER;
    height: 24px;
    min-height: 24px;
    min-width: 24px;
    width: 24px;

    &.is-active, &:hover, &:focus {
      border: 0;
      box-shadow: 0 0 0 1px $COLOR_BORDER, 0 0 0 2px $COLOR_WHITE, 0 0 0 3px $COLOR_BLACK;
    }
  }

  .swatch__wrapper.option-3 {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    .swatch {
      border-right: 0;
      margin-left: 0;
      margin-right: 0;
      width: 100%;

      &:last-child {
        border-right: 1px solid $COLOR_PRIMARY_LIGHT;
      }
    }
  }
}

.product-form {
  .swatch__size-container__title,
  .swatch__header--tablet {
    display: none;
  }

  @include media-query($tablet-down) {
    .swatch__header--tablet {
      display: flex;
    }

    .swatch__size-container {
      background-image: $ICON_ARROW_DOWN;
      background-position: calc(100% - 20px) 17px;
      background-repeat: no-repeat;
      border: 1px solid $COLOR_PRIMARY_LIGHT;
      border-radius: 0;
      color: $COLOR_PRIMARY;
      font-family: $FONT_BODY;
      line-height: 1.6;
      margin-bottom: 24px;
      margin-left: 0;
      max-width: 100%;
      outline: none;
      // padding: 10px 28px 10px 12px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

      .swatch__size-container__title {
        display: block;
        font-size: $FONT_SIZE_XSMALL;
        padding: 10px 28px 10px 12px;
        width: 100%;
      }

      .swatch__size-container__content {
        display: none;
        padding: 12px 16px 32px;
        position: relative;
      }

      .swatch__header {
        display: flex;
        justify-content: center;
        position: static;
        text-align: center;
      }

      .selector-wrapper--size {
        .swatch__header {
          margin-bottom: 0;
        }

        .swatch__header__text {
          display: none;
        }
      }

      .swatch__header__size {
        bottom: 16px;
        display: flex;
        float: none;
        font-size: 10px;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: inherit;
      }

      .swatch__size-container__title-trigger {
        display: block;
      }

      .swatch__size-container__title-text {
        display: none;
      }

      &.is-active {
        background-image: $ICON_ARROW_UP;
        padding-bottom: 0;

        .swatch__size-container__content {
          display: block;
        }

        .swatch__size-container__title-trigger {
          display: none;
        }

        .swatch__size-container__title-text {
          display: block;
        }

        // .swatch__size-toggle__title {
        //   margin-bottom: 12px;
        // }

        // .swatch__size-toggle__trigger {
        //   padding-bottom: 0;
        // }

        // .swatch {
        //   display: block;
        // }
      }
    }
  }

  .selector-wrapper--size {
    @include media-query($small) {
      // display: flex;
      // flex-direction: column-reverse;
      // margin-bottom: 18px !important;
  
      // .visually-hidden {
      //   height: auto;
      //   position: static!important;
      //   clip: initial;
      //   width: 100%;
  
      //   label {
      //     display: none;
      //   }
  
      //   select {
      //     background: $ICON_ARROW_DOWN;
      //     background-position: calc(100% - 20px) center;
      //     background-repeat: no-repeat;
      //     border: 1px solid $COLOR_PRIMARY_LIGHT;
      //     color: $COLOR_PRIMARY;
      //     font-family: $FONT_BODY;
      //     width: 100%;
      //   }
      // }
  
      // .swatch__wrapper {
      //   // display: none;
      // }
    }
  }

  @include media-query($tablet-up) {
    .swatch__size-toggle {
      display: none;
    }

    .swatch__size-toggle__title {
      display: none;
    }
  }
}
