/* ============================================================================
#Testimonials
============================================================================== */
.testimonials {
  $parent: &;
  align-items: center;
  background: $COLOR_GREY;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 62px 0;

  @include media-query($tablet-up) {
    display: block;
    position: relative;

    .page-width {
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0%, -50%);
    }
  }

  * {
    outline: none;
  }

  blockquote {
    border: 0;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  &__header {

  }

  &__container {
    @include media-query($medium-up) {
      margin-bottom: 40px;
    }
  }

  &__slide {
    img {
      margin: 0 auto;
      max-width: 110px;
    }
  }

  &__slider-text {
    font-family: $FONT_HEADING;
    font-size: 16px;
    font-size: 1em;
    margin-bottom: 24px;
    text-align: center;

    @include media-query($medium-up) {
      font-size: 24px;
      font-size: 1.5em;
      margin: 0 auto;
      max-width: 790px;
    }
  }

  &__images {
    display: none;
  }

  .slick-arrow {
    left: -5px;
    position: absolute;
    top: calc(50% + 50px);
    transform: translateY(-140%);
    z-index: 5000;
  }

  .slick-next {
    background-position: calc(50% + 1px) calc(50% - 1px);
    left: initial;
    right: -15px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    .slick-active {
      button {
        background: $COLOR_PRIMARY;
      }
    }

    button {
      background-color: transparent;
      border: 1px solid $COLOR_PRIMARY;
      border-radius: 100%;
      font-size: 0;
      height: 8px;
      margin: 0 4px;
      padding: 0;
      transition: 0.2s;
      width: 8px;
    }
  }

  @media (max-width: 1300px) {
    .page-width {
      max-width: 100%;
    }
  }

  @include media-query($medium-up) {
    height: 380px;
    padding: 0;

    .slick-prev {
      left: -50px;
    }

    .slick-next {
      right: -50px;
    }

    .slick-current {
      #{$parent}__image--two {
        opacity: 1;
      }
    }

    &__slide {
      img {
        display: none;
      }
    }

    &__images {
      display: block;
      margin: 0 auto;
      max-width: 720px;

      * {
        outline: none;
      }
    }

    &__image-container {
      cursor: pointer;
      position: relative;

      img {
        margin: 0 auto;
        width: 120px;
      }

      &:hover {
        #{$parent}__image--two {
          opacity: 1;
        }
      }
    }

    &__image--two {
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 0;
      transform: translate(-50%);
      transition: 0.2s ease-in-out;
    }
  }
}
