/* ============================================================================
Video Section
============================================================================== */
.video-block {
  opacity: 1;
  padding-bottom: 48%;
  pointer-events: all;
  position: relative;

  &__image {
    background-position: center;
    background-size: cover;
    height: 100%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    pointer-events: all;
    position: absolute;
    top: 0;
    transition: 0.3s;
    width: 100%;
    z-index: 2;
  }

  &__wrapper {
    height: 100%;
    left: 0;
    max-width: 100%;
    opacity: 1;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: 0.3s;
    width: 100%;
    z-index: 1;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &:hover {
    cursor: pointer;

    .play {
      background: $COLOR_WHITE;
    }
  }

  &.active {
    pointer-events: none;

    .video-block__image {
      opacity: 0;
      pointer-events: none;
    }

    .video-block__wrapper {
      pointer-events: all;
    }

    .play {
      opacity: 0;
    }
  }

  .play {
    background: rgba($COLOR_WHITE, 0.4);
    border-radius: 50%;
    height: 80px;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: 0.3s;
    width: 80px;
    z-index: 10;

    @include media-query($medium-up) {
      height: 100px;
      width: 100px;
    }

    &::before {
      border-bottom: 12px solid transparent;
      border-left: 20px solid $COLOR_BLACK;
      border-top: 12px solid transparent;
      bottom: 50%;
      content: '';
      height: 0;
      left: 50%;
      pointer-events: none;
      position: absolute;
      transform: translateX(-50%) translateY(50%);
      transition: 0.4s;
      width: 0;
    }
  }

  @media only screen and (min-width: 1200px) {
    padding-bottom: 660px;
  }
}
