/* ============================================================================
Video modal Section
============================================================================== */
.video-modal {
  $parent: &;
  opacity: 1;
  padding-bottom: 48%;
  pointer-events: all;
  position: relative;

  &.is-active {
    #{$parent}__overlay {
      opacity: 0.5;
    }

    #{$parent}__title {
      opacity: 0;
    }

    #{$parent}__buttons {
      .button:first-child {
        opacity: 0;
      }
    }
  }

  &--white {
    #{$parent}__overlay {
      background: rgba($COLOR_PRIMARY, 0.6);
    }

    #{$parent}__text, #{$parent}__text *, #{$parent}__title {
      color: $COLOR_WHITE;
    }
  }

  &__video {
    height: 100%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    pointer-events: all;
    position: absolute;
    top: 0;
    transition: 0.3s;
    width: 100%;
    z-index: 1;

    video {
      left: 50%;
      min-height: 100%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 120%;
      z-index: 2;
    }
  }

  &__overlay {
    background: rgba($COLOR_WHITE, 0.6);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.8s ease-in-out;
    width: 100%;
    z-index: 3;
  }

  &__text-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 50%;
    margin: 0 auto;
    max-width: 600px;
    opacity: 1;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(-50%);
    transition: 0.3s;
    width: 100%;
    z-index: 4;
  }

  &__title {
    margin-bottom: 10px;
    transition: 0.8s ease-in-out;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__buttons {
    .button {
      margin: 0 5px;
      transition: 0.8s ease-in-out;
    }
  }

  .play_text {
    // position: relative;

    // &::before {
    //   border-bottom: 5px solid transparent;
    //   border-left: 7px solid $COLOR_PRIMARY;
    //   border-top: 4px solid transparent;
    //   content: '';
    //   float: right;
    //   height: 0;
    //   margin-left: 9px;
    //   pointer-events: none;
    //   position: absolute;
    //   right: 25px;
    //   top: 0;
    //   transform: translateX(0%) translateY(15px);
    //   transition: 0.4s;
    //   width: 0;
    // }
  }

  .play {
    background-color: rgba($COLOR_WHITE, 0);
    border: 1px solid rgba($COLOR_WHITE, 0.4);
    border-radius: 50%;
    height: 56px;
    left: 50%;
    transform: translateY(-10px) translateX(0);
    transition: 0.3s;
    width: 56px;
    z-index: 10;

    &::before {
      border-bottom: 5px solid transparent;
      border-left: 9px solid $COLOR_WHITE;
      border-top: 5px solid transparent;
      bottom: 50%;
      content: '';
      height: 0;
      left: 50%;
      pointer-events: none;
      position: absolute;
      transform: translateX(-50%) translateY(50%);
      transition: 0.4s;
      width: 0;
    }

    &:hover {
      border: 1px solid rgba($COLOR_WHITE, 1);
    }
  }

  @include media-query( $medium-down ) {
    padding-bottom: 58%;

    &__mobile-text {
      padding-top: 28px;
      text-align: center;

      #{$parent}__title {
        margin-bottom: 16px;
      }

      #{$parent}__text {
        display: none;
      }
    }

    &__text-area {
      #{$parent}__title {
        display: none;
      }
    
      #{$parent}__text {
        display: none;
      }
    
      #{$parent}__buttons {
        display: none;
      }
    }
  }

  @include media-query( $medium-up ) {
    &__mobile-text {
      display: none;
    }

    &__text-area {
      #{$parent}__title {
        display: block;
      }
    
      #{$parent}__text {
        display: block;
      }
    
      #{$parent}__buttons {
        display: block;

        .button, .button--white {
          width: 210px;
        }
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    padding-bottom: 660px;
  }
}


@include media-query( $medium-down ) {
  .page-width {
    .video-modal {
      // margin-left: -20px;
      // width: calc(100% + 40px);
    }
  }
}