/* ============================================================================
404
============================================================================== */
.four-zero-four {
  background-position: center;
  background-size: cover;

  .page-width {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
    min-height: 520px;

    @include media-query($large-up) {
      justify-content: flex-end;
      min-height: 720px;
    }
  }

  &__content {
    text-align: center;
    margin-top: -60px;

    h1 {
      color: $COLOR_WHITE;
      font-size: 140px;
      font-size: 8.75em;
      line-height: 1;
      text-align: center;
      
      span {
        display: block;
        font-size: 44px;
        font-size: 2.75em;
      }

      @include media-query($medium-up) {
        font-size: 160px;
        font-size: 10em;

        span {
          font-size: 54px;
          font-size: 3.375em;
        }
      }

      @include media-query($large-up) {
        font-size: 200px;
        font-size: 12.5em;

        span {
          font-size: 64px;
          font-size: 4em;
        }
      }
    }

    .rte {
      color: $COLOR_WHITE;
    }

    .button--white {
      width: 100%;

      @include media-query($large-up) {
        width: 360px;
      }
    }
  }
}
