/* ============================================================================
account
============================================================================== */
.account {
  &__header {
    margin: 78px 0 38px;
    text-align: center;
  }

  &__sidebar {
    border-right: 1px solid $COLOR_PRIMARY_LIGHT;
    list-style: none;
    margin: 0 0 30px;
    padding: 0 30px 100px 0;

    li {
      line-height: 1.8;
      padding-bottom: 8px;
    }

    a {
      display: block;
      font-size: $FONT_SIZE_XSMALL;
      line-height: 1.8;
      margin: 0;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      &.active {
        opacity: 1;
        text-decoration: none;
      }
    }

    &__logout a {
      opacity: 1;
      text-decoration: underline;
    }

    svg {
      display: none;
    }
  }

  &__breadcrumb {
    display: none;
    font-size: $FONT_SIZE_SMALL;
    margin-bottom: 36px;
    margin-top: 10px;

    svg {
      margin-right: 12px;
    }
  }

  @media (max-width: 749px) {
    &__header h1 {
      font-size: 32px;
      font-size: 2em;
    }

    &__sidebar {
      border-right: 0;
      border-top: 1px solid $COLOR_PRIMARY_LIGHT;
      padding: 0;

      li {
        border-bottom: 1px solid $COLOR_PRIMARY_LIGHT;
        padding: 0;
        position: relative;

        &:last-child {
          border-bottom: 0;
        }

        svg {
          height: 13px;
          position: absolute;
          right: 0;
          top: 18px;
          width: 22px;
        }
      }

      a {
        display: block;
        font-size: $FONT_SIZE_SMALL;
        margin: 0;
        opacity: 1;
        padding-bottom: 12px;
        padding-top: 12px;
      }

      svg {
        display: block;
      }
    }

    &__mobile-nav {

    }
  }

  @include media-query($medium-up) {
    &__sidebar {
      .h4 {
        font-size: $FONT_SIZE_SMALL;
      }

      &__logout {
        padding-top: 76px;
      }
    }
  }

  @include media-query($large-up) {

  }
}

@media (max-width: 749px) {
  #accountDetails {
    display: none;
  }

  #accountOrders {
    display: none;
  }

  #accountAddress {
    display: none;
  }

  &__breadcrumb {
    display: none;
  }

  .account-nav-hide {
    .account__header {
      display: none;
    }

    .account__breadcrumb {
      display: block;
    }

    .account__sidebar {
      display: none;
    }

    #accountDetails {
      display: none;

      &.is-active {
        display: block;
      }
    }

    #accountOrders {
      display: none;

      &.is-active {
        display: block;
      }
    }

    #accountAddress {
      display: none;

      &.is-active {
        display: block;
      }
    }
  }
}

@media (min-width: 750px) {
  #accountDetails {
    display: none;

    &.is-active {
      display: block;
    }
  }

  #accountOrders {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

.account-container {
  padding-left: 40px;

  &--no-padding {
    padding-left: 0;
  }

  &__header {
    display: none;
  }

  &__details {
    margin-bottom: 32px;

    .h4 {
      font-size: $FONT_SIZE_SMALL;
      line-height: 1.8;
    }
  }

  &__order {
    &__empty {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 80px;
      text-align: center;
      width: 66.6%;
    }
  }

  @media (max-width: 749px) {
    padding-left: 0;

    &__header {
      display: block;
      margin-bottom: 50px;
      text-align: center;
    }

    &__details {
      .h4 {
        font-size: $FONT_SIZE_XSMALL;
      }
    }

    &__order {
      &__empty {
        padding-top: 0;
        width: 100%;

        h3 {
          font-family: $FONT_BODY;
          font-size: $FONT_SIZE_XSMALL;
          font-weight: $WEIGHT_NORMAL;
          line-height: $LINE_HEIGHT_DISPLAY;
          margin: 0 0 30px;
          text-transform: uppercase;
        }

        .button {
          margin-bottom: 52px;
        }
      }
    }
  }
}

#shopify-section-account-featured-collection {
  height: 0;
  overflow: hidden;
  
  &.is-active {
    display: block;
    height: auto;
    margin-top: -160px;
    overflow: hidden;
  }

  .feature-collection {
    padding-bottom: 30px;
  }

  @include media-query($small) {
    margin-top: -100px;
  }
}

/* ============================================================================
Order
============================================================================== */
.order {
  &__table {
    border-collapse: collapse;
    margin-bottom: 32px;
    width: 100%;

    thead {
      border-bottom: 1px solid $COLOR_GREY;
    }

    thead th {
      font-family: $FONT_BASE;
      font-size: $FONT_SIZE_XSMALL;
      font-weight: normal;
      text-align: left;
      text-transform: capitalize;
    }

    th {
      padding: 10px 20px 10px 0;
      text-align: left;
    }

    tbody tr {
      border-bottom: 1px solid $COLOR_GREY;

      td {
        font-family: $FONT_BASE;
        font-size: $FONT_SIZE_SMALL;
        font-weight: normal;
        padding: 15px 20px 15px 0;
        text-align: left;
        text-transform: capitalize;

        &:first-child, &:last-child {
          font-family: $FONT_BODY;
        }
      }
    }

    tfoot {
      border-bottom: 1px solid $COLOR_GREY;

      td {
        font-family: $FONT_BASE;
        font-size: $FONT_SIZE_SMALL;
        font-weight: normal;
        padding: 15px 20px 15px 0;
        text-align: left;
        text-transform: capitalize;
      }
    }
  }

  &__fulfilled {
    dd {
      margin-left: 0;
    }

    span, a {
      font-family: $FONT_BASE;
    }
  }

  @media (max-width: 733px) {
    &__table tbody tr td {
      padding: 5px 0;
    }
  }
}

@media (max-width: 749px) {
  .template-order {
    .account__breadcrumb {
      display: block!important;
    }

    .account__sidebar, .account__header {
      display: none!important;
    }
  }
}

@media (min-width: 750px) and (max-width: 950px) {
  .account-container {
    padding-left: 0 !important;
  }

  .account__sidebar {
    padding-right: 10px;

    .h4 {
      font-size: $FONT_SIZE_XSMALL;
    }
  }

  .order__table tbody tr td {
    font-size: 13px;
    font-size: 0.8125em;
  }

  .order__table tfoot td {
    font-size: 13px;
    font-size: 0.8125em;
  }

  .account-container {
    padding-left: 20px;
  }
}

/* ============================================================================
account
============================================================================== */
.account-page {
  margin-bottom: 160px;

  @media (max-width: 749px) {
    &--address {
      #accountAddress {
        display: block!important;
      }

      .account__breadcrumb {
        display: block!important;
      }

      .account__header {
        display: none!important;
      }

      .account__sidebar {
        display: none!important;
      }
    }
  }
}

.address-form {
  background: rgba($COLOR_BLACK, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 111111;

  &__wrapper {
    @include transform(translate(-50%, -50%));
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    background: transparent;
    border-radius: 7px;
    bottom: 0;
    // box-shadow: 0 0 33px rgba($COLOR_BLACK, 0.2);
    height: 80vh;
    left: 50%;
    max-width: 90%;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 600px;
    z-index: 1000;
  }

  &__background {
    background: $COLOR_WHITE;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 100%;
    overflow: auto;
    padding: 20px;
    width: 100%;
  }

  &__footer {
    background: $COLOR_WHITE;
    border-top: 1px solid $COLOR_PRIMARY_LIGHT;
    bottom: 10px;
    left: 10px;
    padding: 0 20px 20px;
    position: absolute;
    right: 10px;

    .checkbox {
      margin: 10px 0 0;
    }
  }

  form {
    margin-bottom: 160px;
    text-align: left;

    h3 {
      text-align: center;
    }

    input[type=email], input[type=password], input[type=tel], input[type=text] {
      font-family: $FONT_BASE !important;
      font-size: 12px;
      text-transform: none;
      
      &:hover, &:focus {
        font-family: $FONT_BASE !important;
        font-size: 12px !important;
      }
    }
  }

  .button {
    margin-bottom: 10px;
  }

  .button--white {
    border: 1px solid $COLOR_PRIMARY_LIGHT;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
  }

  @include media-query($medium-up) {
    &__background {
      padding: 32px;
    }

    &__footer {
      padding: 20px 32px;
    }

    &__footer-buttons {
      display: flex;

      .button {
        width: 50%;
      }

      .button--white {
        margin-bottom: 0;
        margin-left: 20px;
      }
    }
  }
}

.address-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 30px;

  &__address {
    margin-bottom: 10px;

    h3 {
      margin: 0 0 16px;
    }

    .h4 {
      font-size: $FONT_SIZE_SMALL;
      letter-spacing: 0.3px;

      @media (max-width: 749px){
        font-size: $FONT_SIZE_XSMALL;
      }
    }

    p {
      font-family: $FONT_BODY;
      font-size: $FONT_SIZE_XXSMALL;
      letter-spacing: 0.25px;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }

  strong {
    font-family: $FONT_BODY;
    font-size: $FONT_SIZE_SMALL;
    font-weight: normal;
    letter-spacing: $LETTER_SPACING_BASE;
    text-transform: uppercase;

    @media (max-width: 749px){
      font-size: $FONT_SIZE_XXSMALL;
    }
  }

  &__footer {
    align-items: center;
    display: flex;

    button {
      background: transparent;
      border: 0;
      color: $COLOR_PRIMARY;
      font-family: $FONT_BASE;
      font-size: $FONT_SIZE_XSMALL;
      padding: 0;
    }

    span {
      color: $COLOR_PRIMARY;
      font-family: $FONT_BASE;
      // font-size: $FONT_SIZE_XSMALL;
      padding: 0 6px;
    }
  }
}

@include media-query($medium-up) {
  .address-list__wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
  }
}

/* ============================================================================
account product slider
============================================================================== */
@include media-query($small) {
  #account, #order {
    #shopify-section-account-featured-collection .feature-collection {
      padding-bottom: 40px;
    }
  }
}