.article {
  &__hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 34px;
    min-height: 270px;
  }

  &__header {
    margin-bottom: 44px;
    text-align: center;

    h1 {
      margin-bottom: 16px;
    }
  }

  &__container {
    position: relative;
  }

  &__body {
    margin-bottom: 36px;
  }

  ul {
    margin-bottom: 30px;
    margin-left: 0;
  }

  b, strong {
    font-weight: inherit;
  }

  li {
    font-size: $FONT_SIZE_XSMALL;
    line-height: 1.8;

    p {
      margin-bottom: 0;
    }
  }

  .rte {
    font-size: $FONT_SIZE_XSMALL;
  }

  p {
    img {
      margin-bottom: 0;
    }
  }

  img {
    margin-bottom: 20px;
    width: 100%;
  }

  .video-container {
    height: 0;
    margin-bottom: 20px;
    padding-bottom: 54%;
    position: relative;
    width: 100%;

    iframe {
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  &__slider {
    img {
      margin-bottom: 0;
    }
  }

  .slick-dots {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;

    li {
      list-style: none;

      &:hover, &.slick-active {
        button {
          background: $COLOR_PRIMARY;
        }
      }
    }

    button {
      background: $COLOR_WHITE;
      border: 1px solid $COLOR_PRIMARY;
      border-radius: 50%;
      font-size: 0;
      height: 8px !important;
      margin: 0 5px;
      padding: 0;
      width: 8px !important;
    }
  }

  &__image {
    img {
      display: block;
      margin-bottom: 0;
    }
  }

  &__video {
    video {
      max-width: 100%;
      width: 100%;
    }
  }

  &__quote {
    background: $COLOR_GREY;
    padding: 94px 0;
    text-align: center;

    h3 {
      font-size: 18px;
      font-size: 1.125em;
      line-height: 1.6;
      margin-bottom: 22px;
    }

    h6 {
      margin-bottom: 0;
    }

    @include media-query($small) {
      padding: 64px 0;

      h3 {
        font-size: $FONT_SIZE_SMALL;
      }
    }
  }

  .slick-arrow {
    left: -60px;
    position: absolute;
    top: 50%;
    transform: translateY(-140%);
    z-index: 5000;
  }

  .slick-next {
    background-position: calc(50% + 1px) calc(50% - 1px);
    left: initial;
    right: -60px;
  }

  .page-width {
    position: relative;
  }

  .social_sharing_header {
    display: none;
    left: 20px;
    position: absolute;

    h5 {
      display: none;
    }

    a {
      display: block;
      margin-bottom: 10px;
      text-align: center;

      svg {
        transition: 0.4s;
      }

      &:hover {
        svg {
          opacity: 0.5;
        }
      }
    }

    .copy {

      svg {
        transition: 0.4s;
      }

      &:hover {
        svg {
          opacity: 0.5;
        }
      }
    }
  }

  .social_sharing_footer {
    margin-bottom: 64px;

    .social-sharing {
      align-items: center;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      text-align: center;
    }

    h5 {
      margin-bottom: 25px;
      width: 100%;
    }

    .copy, a {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 10px;
      text-align: center;
      width: 20px;
    }

    svg {
      transition: 0.2s;
    }

    .copy:hover, a:hover {
      svg {
        opacity: 0.5;
      }
    }
  }

  .feature-collection h2 {
    margin-bottom: 40px;
  }

  &__related-title {
    margin-bottom: 40px;
    text-align: center;
  }

  @include media-query($medium-up) {
    &__hero {
      margin-bottom: 50px;
      min-height: 490px;
    }

    &__header {
      margin-bottom: 56px;
    }

    li {
      font-size: $FONT_SIZE_SMALL;
    }

    .rte, p, meta {
      font-size: $FONT_SIZE_SMALL;
    }

    .social_sharing_footer {
      .social-sharing {
        justify-content: left;
      }

      h5 {
        margin-bottom: 0;
        margin-right: 20px;
        width: auto;
      }
    }
  }

  @include media-query($tablet-up) {
    .social_sharing_header {
      display: block;

      &.is-active {
        .social-sharing {
          position: fixed;
          top: 101px;
        }
      }

      &.is-locked {
        bottom: -4px;
        top: initial;

        .social-sharing {
          position: static;
        }
      }
    }
  }

  @media (max-width: 989px) {
    .slick-arrow {
      display: none;
    }
  }
}

.copy {
  $parent: &;
  cursor: pointer;
  position: relative;

  &.is-active {
    #{$parent}__tooltip {
      opacity: 1;
    }
  }

  &__tooltip {
    background: $COLOR_WHITE;
    border: 1px solid $COLOR_SWATCH_BORDER;
    border-radius: 2px;
    color: $COLOR_PRIMARY;
    display: block;
    font-size: $FONT_SIZE_XXSMALL;
    left: 50%;
    line-height: 16px;
    opacity: 0;
    padding: 3px 12px;
    pointer-events: none;
    position: absolute;
    text-transform: capitalize;
    top: 30px;
    transform: translateX(-50%);
    transition: 0.4s ease-in-out;
  }

  @include media-query($medium-up) {
    &__tooltip {
      left: initial;
      right: 0;
      top: 40%;
      transform: translate(calc(100% + 10px), -50%);
    }
  }
}