/* ============================================================================
Contact
============================================================================== */
.contact {
  margin-bottom: 60px;

  .rte {
    text-align: left !important;

    p {
      font-size: $FONT_SIZE_SMALL;
      line-height: 1.8;
      margin-bottom: 20px;
    }
  }

  &__main-title {
    font-size: 32px;
    margin-bottom: 24px;
  }

  &__title {
    border-top: 1px solid $COLOR_PRIMARY_LIGHT;
    font-size: 24px;
    padding-top: 30px;

    @include media-query($medium-up) {
      font-size: 32px;
    }
  }

  &__body {
    font-size: $FONT_SIZE_SMALL;
    margin-bottom: 0;
  }

  input[type=email] {
    margin-bottom: 30px;
  }

  textarea {
    height: 125px;
    margin-bottom: 24px;
    margin-top: 5px;
  }

  .errors {
    background: transparent;
    color: $COLOR_ERROR ;
    cursor: default;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 6px;
    text-align: center;
    width: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-family: $FONT_BODY;
        font-size: 10px;
        letter-spacing: 0.25px;
        text-transform: uppercase;
      }
    }
  
    &.error--hide {
      display: none;
    }
  }

  &__careers-block {
    margin-bottom: 32px;

    p {
      margin-bottom: 12px;
    }
  }

  @include media-query($medium-up) {
    margin-bottom: 80px;

    .rte {
      padding-right: 40px;
    }

    &__form-full {
      display: flex;
    }

    &__form--empty {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &__form {
      border-left: 1px solid $COLOR_PRIMARY_LIGHT;
      border-top: 0;
      padding-left: 40px;
      padding-top: 0;
    }

    &__title {
      border-top: 0;
      padding-top: 0;
    }

    &__careers-block {
      p {
        margin-bottom: 16px;
      }
    }
  }

  @include media-query($large-up) {
    .rte {
      padding-right: 80px;
    }

    &__form {
      padding-left: 80px;
    }
  }
}

/* ============================================================================
Careers
============================================================================== */


/* ============================================================================
FAQs
============================================================================== */
.faqs {
  margin-bottom: 64px;

  @include media-query($medium-up) {
    margin-bottom: 100px;
  }

  .header {
    margin-bottom: 40px;
    margin-top: 40px;

    a {
      text-decoration: underline;
    }

    @include media-query($medium-up) {
      margin-top: 64px;
    }
  }
}

.faqs-footer {
  margin-top: 40px;

  &__title {
    text-align: center;
  }

  p {
    font-size: $FONT_SIZE_SMALL;
    margin-bottom: 28px;
  }

  &__link-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__link {
    padding: 0 30px;

    img {
      width: 56px;
    }
  }

  @include media-query($small) {
    margin-top: 20px;

    h3 {
      font-size: 18px;
    }
  }
}

/* ============================================================================
Pagelayout
============================================================================== */
.page-layout {
  p {
    font-size: $FONT_SIZE_SMALL;
  }

  li {
    font-size: $FONT_SIZE_SMALL;
  }

  @include media-query($small) {
    h3 {
      font-size: 18px;
    }
  }
}
