/* ============================================================================
trackmyorder
============================================================================== */
#tracktor {
  padding: 100px 20px 100px;

  #tracktorOrderForm {
    float: none;
    margin: 0 auto;
    max-width: 420px;
  }

  h1 {
    margin-bottom: 32px;
    text-align: center;

    &::sbefore {
      background-image: $WOLF;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 64px;
      margin: 0 auto;
      position: relative;
      width: 60px;
    }

    span {
      color: $COLOR_PRIMARY;
    }
  }

  div.field {
    padding: 10px 0 0;
  }

  label {
    color: $COLOR_PRIMARY;
    font-size: $FONT_SIZE_XSMALL;
    text-transform: capitalize;
  }

  input {
    border: 0;
    border-bottom: 1px solid $COLOR_PRIMARY;
    color: $COLOR_PRIMARY;
    font-family: $FONT_BODY;
    font-size: $FONT_SIZE_SMALL;
    letter-spacing: $LETTER_SPACING_BASE;
    padding: 0 0 4px;
  }

  #tracktorOrderEmail {
    margin-bottom: 24px;
  }


  button {
    @include prefix('user-select', 'none', moz ms webkit spec);
    @include prefix(appearance, none, webkit moz spec);
    background: $BUTTON_COLOR;
    border: 1px solid $BUTTON_COLOR;
    border-radius: 0;
    color: $BUTTON_TEXT_COLOR;
    cursor: pointer;
    display: inline-block;
    font: 500 10px/40px $FONT_BODY;
    height: 40px;
    letter-spacing: $BUTTON_LETTER_SPACING;
    margin: 0;
    min-width: 152px;
    outline: 0;
    padding: 0 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;
    vertical-align: top;
    width: 100%;
  
    &.disabled, &[disabled] {
      background: $BUTTON_DISABLE_COLOR;
      border-color: $BUTTON_DISABLE_COLOR;
      color: $BUTTON_TEXT_COLOR;
      cursor: not-allowed;
  
      &:hover {
        background-color: $BUTTON_DISABLE_COLOR;
        color: $BUTTON_TEXT_COLOR;
      }
    }
  
    &:hover {
      background-color: $BUTTON_HOVER_COLOR;
      color: $BUTTON_TEXT_COLOR;
    }
  }

  @include media-query($small) {
    padding-top: 60px;
  }
}
