/* ============================================================================
Password page
============================================================================== */
// .template-password {
//   align-items: center;
//   background: $COLOR_PRIMARY;
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
//   justify-content: center;
//   text-align: center;
//   width: 100%;

//   &__logo {
//     max-width: 180px;
//   }

//   &__form {
//     display: none;

//     &.is-active {
//       display: block;
//     }
//   }
// }

.password-page-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;

  @include media-query($medium-up) {
    padding: 30px;
  }
}

.password-header {
  h1 {
    float: left;
    height: 100px;
  }

  a {
    @include flexbox;
    @include align-content(center);
    @include justify-content(center);
    float: right;

    .icon {
      height: 100px;
    }
  }
}

.password-page-content {
  text-align: center;

  .form-success {
    list-style: none;
    margin: 30px 30px 80px;

    li {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
  }

  &__form {
    margin: 0 auto 60px;
    max-width: 440px;
    width: 100%;

    input {
      border: 1px solid $COLOR_BLACK;
      display: block;
      text-align: center;
      width: 100%;
    }

    button {
      border-radius: 0;
      display: block;
      height: 50px;
      text-align: center;
      width: 100%;
    }
  }
}

.password-footer {
  text-align: center;
}

#modal {
  background: rgba($COLOR_BLACK, 0.5);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.modal__close-link {
  color: #79878e;
  bottom: 11px;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  margin-top: 10px;
  width: 100%;
}

.modal__title {
  margin: 0 auto 10px;
}

.modal__message {
  margin:0 auto 30px auto;
}

#modal__signup_form {
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  left: 50%;
  max-width: 90%;
  padding: 30px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 600px;

  @include transform(translate(-50%, -50%));
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

  form {
    display: block;
    margin: 0 auto 10px;
    width: 100%;

    input {
      text-align: center;
      width: 100%;
      border: 1px solid #000;
      border-bottom: none;
      background: none;

      color: #000;
      padding: 5px 20px;
      height: 50px;
    }
    .input-group__btn, .btn{
      vertical-align: top;
      height: 50px;
      width: 100%;
    }
  }
}

.modal__close{
  position: absolute;
  top: -40px;
  right: -5px;
  padding: 5px;
}

#modal.modal--white {
  color: #fff;

  .modal__close, .modal__close-link {
    color: #fff;

    .icon {
      fill: #fff;
    }
  }

  form {
    input {
      border-color: #fff;
      color: #fff;
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #fff;
          opacity: 1; /* Firefox */
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #fff;
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
          color: #fff;
      }
    }

    button {
      border-color: #fff;
      color: #fff;

      &:hover {
        color: #000;
      }
    }
  }
}

.social-sharing {
  a {
    display: inline-block;
    margin: 15px;
  }
}
