.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $color-border;
  }
}

#shopify-section-product {
  margin-bottom: 32px;

  @include media-query($medium-up) {
    padding-top: 24px;
  }

  @include media-query($large-up) {
    margin-bottom: 56px;
  }
}

.product-header {
  display: none;
  margin-bottom: 24px;

  &__title {
    margin-bottom: 4px;
  }

  &__price {
    display: flex;
    font-family: $FONT_BODY;
    font-size: $FONT_SIZE_XSMALL;
    justify-content: space-between;
    letter-spacing: 0.35px;

    .stamped-badge-starrating {
      .stamped-fa-star {
        color: $COLOR_PRIMARY;
      }
    }

    .review-info {
      cursor: pointer;
      font-family: $FONT_BASE;
      font-size: $FONT_SIZE_XSMALL;
      text-transform: capitalize;

      .stamped-product-reviews-badge {
        pointer-events: none;
      }
      
      .fa-star-half-o:before, .fa-star-o:before, .fa-star:before, .stamped-fa-star-half-o:before, .stamped-fa-star-o:before, .stamped-fa-star:before {
        font-size: $FONT_SIZE_SMALL;
      }

      .stamped-badge-starrating {
        margin: 0 7px 0 0!important;
      }
    }

    [data-product-price] {
      order: -1;
    }
  }

  @include media-query($medium-up) {
    display: block;
  }
}

.product-form {
  margin-bottom: 24px;
}

.product-description {
  font-size: $FONT_SIZE_XSMALL;

  &__plain {
    margin-bottom: 18px;
  }

  &__usp {
    align-items: center;
    display: flex;
    left: 50%;
    padding-bottom: 2px;

    img {
      margin-right: 12px;
      width: 30px;
    }

    span {
      font-family: $FONT_BODY;
      font-size: 10px;
      letter-spacing: $LETTER_SPACING_BASE;
      padding-top: 7px;
      text-transform: uppercase;
    }
  }
}

.product-meta {
  margin: 0 auto;
  max-width: 560px;

  @include media-query($large-up) {
    padding-left: 0;
    margin: 0 0 0 auto;
    max-width: 425px;
  }
}

.product-featured-collection {
  padding-bottom: 56px;

  &--dark {
    background: $COLOR_GREY;
    padding-top: 52px;
  }

  &__title {
    margin-bottom: 0;
    text-align: center;
  }

  @include media-query($large-up) {
    margin-bottom: 0;
  }
}

.product-instagram {
  .instafeed__contianer {
    display: block!important;
    padding-bottom: 0;
    padding-top: 0;
  }

  .instafeed__img {
    border: 0;
    display: block;
    overflow: hidden;
  }
}
