.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $color-border;
  }
}

#shopify-section-product {
  margin-bottom: 32px;

  @include media-query($medium-up) {
    padding-top: 24px;
  }

  @include media-query($large-up) {
    margin-bottom: 56px;
  }
}

.product-header {
  margin-bottom: 24px;

  &__title {
    margin-bottom: 4px;
  }

  &__price {
    display: flex;
    font-family: $FONT_BODY;
    font-size: 12px;
    justify-content: space-between;
    letter-spacing: 0.35px;

    .review-info {
      font-family: $FONT_BASE;
      font-size: 12px;
      text-transform: capitalize;

      .stamped-fa-star:before {
        font-size: 14px;
      }

      .stamped-badge-starrating {
        margin: 0 7px 0 0!important;
      }
    }
  }
}

.product-form {
  margin-bottom: 24px;
}

.product-description {
  font-size: 12px;

  &__plain {
    margin-bottom: 18px;
  }

  &__usp {
    align-items: center;
    display: flex;
    left: 50%;
    padding-bottom: 2px;

    img {
      margin-right: 12px;
      width: 30px;
    }

    span {
      font-family: $FONT_BODY;
      font-size: 10px;
      letter-spacing: $LETTER_SPACING_BASE;
      padding-top: 7px;
      text-transform: uppercase;
    }
  }
}

.product-meta {
  margin: 0 auto;
  max-width: 560px;

  @include media-query($large-up) {
    padding-left: 0;
    margin: 0 0 0 auto;
    max-width: 425px;
  }
}

.product-featured-collection {
  &__title {
    text-align: center;
  }
}

.product-instagram {
  .instafeed__contianer {
    display: block!important;
    padding-bottom: 0;
    padding-top: 0;
  }

  .instafeed__img {
    border: 0;
    display: block;
    overflow: hidden;
  }
}

.product-collection {
  margin-bottom: 56px;

  @include media-query($large-up) {
    margin-bottom: 0;
  }
}
