.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $color-border;
  }
}

#shopify-section-product {
  margin-bottom: 32px;

  @include media-query($tablet-up) {
    padding-top: 24px;
  }

  @include media-query($large-up) {
    margin-bottom: 56px;
  }
}

.product-header {
  display: none;
  margin-bottom: 24px;

  &__title {
    margin-bottom: 4px;
  }

  &__price {
    display: flex;
    font-family: $FONT_BODY;
    font-size: $FONT_SIZE_XSMALL;
    justify-content: space-between;
    letter-spacing: 0.35px;

    .stamped-badge-starrating {
      .stamped-fa-star {
        color: $COLOR_PRIMARY;
      }
    }

    .review-info {
      cursor: pointer;
      font-family: $FONT_BASE;
      font-size: $FONT_SIZE_XSMALL;
      text-transform: capitalize;

      .stamped-product-reviews-badge {
        pointer-events: none;
      }
      
      .stamped-fa-star:before ,.fa-star-half-o:before, .fa-star-o:before, .fa-star:before, .stamped-fa-star-half-o:before, .stamped-fa-star-o:before, .stamped-fa-star:before {
        font-size: $FONT_SIZE_SMALL;
      }
      
      .fa-star, .fa-star-checked, .fa-star-half-o, .fa-star-o, .stamped-fa-star, .stamped-fa-star-checked, .stamped-fa-star-half-o, .stamped-fa-star-o {
        color: $COLOR_PRIMARY;
        font-size: $FONT_SIZE_SMALL;
      }

      .stamped-badge-starrating {
        margin: 0 7px 0 0!important;
      }
    }

    [data-product-price] {
     // order: -1;
     // position: relative;
     // top: -27px;
    }
  }

  @include media-query($tablet-up) {
    display: block;

    &__price {
      [data-product-price] {
       // position: static;
      }
     [data-compare-price] {
        margin-right: auto;
        margin-left: 10px;
       }
    }
  }
}

.product-form {
  margin-bottom: 24px;

  .spurit-po-wrapper {
    width: 100%;

    .design-pre-order-template-wrapper {
      display: flex!important;
      flex-direction: column-reverse!important;
      width: 100%!important;
    }

    button {
      width: 100%;
    }
  }

  .design-pre-order-template-wrapper [data-editable="pre-order-button-hover"],
  .design-pre-order-template-wrapper .pre-order-2-button {
    @extend .button;
    width: 100%;
  }

  .spurit-po-wrapper .design-pre-order-template-wrapper.hover-visible.right-direction .pre-order-2-message,
  .pre-order-message, .pre-order-2-message {
    background: $COLOR_PRIMARY_LIGHT;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    color: $COLOR_PRIMARY;
    font-family: $FONT_BASE;
    font-size: $FONT_SIZE_XSMALL;
    margin-bottom: 16px;
    max-width: 100%;
    opacity: 1;
    padding: 20px 40px;
    position: static;
    text-align: center;
    transform: none;
    width: 100%;
  }
}

.product-description {
  font-size: $FONT_SIZE_XSMALL;

  &__plain {
    margin-bottom: 18px;
  }

  &__usp {
    align-items: center;
    display: flex;
    left: 50%;
    padding-bottom: 2px;

    img {
      margin-right: 12px;
      width: 30px;
    }

    span {
      font-family: $FONT_BODY;
      font-size: $FONT_SIZE_XXSMALL;
      letter-spacing: $LETTER_SPACING_BASE;
      padding-top: 7px;
      text-transform: uppercase;
    }
  }
}

.product-meta__container {
  @include media-query($tablet-down) {
    width: 100%;
  }
}

.product-meta {
  margin: 0 auto;
  max-width: 560px;

  @include media-query($tablet-up) {
    margin: 0 0 0 auto;
    max-width: 425px;
    padding-left: 0;
  }
}

.product-featured-collection {
  padding-bottom: 56px;

  &--dark {
    background: $COLOR_GREY;
    padding-top: 52px;
  }

  &__title {
    margin-bottom: 0;
    text-align: center;
  }

  @include media-query($large-up) {
    margin-bottom: 0;
  }
}

.product-instagram {
  .instafeed__contianer {
    display: block!important;
    padding-bottom: 0;
    padding-top: 0;
  }

  .instafeed__img {
    border: 0;
    display: block;
    overflow: hidden;
  }
}
