{% include 'hero-image' with type: 'blog' %}

{% if section.settings.linklist != blank %}
  <div class="collection-navigation">
    <div class="page-width">
      <ul>
      {% for link in linklists[section.settings.linklist].links %}
        <li class="collection-navigation__item {% if link.active %}collection-navigation__link--active{% endif %}">
          <a class="collection-navigation__link" href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% paginate blog.articles by 8 %}
  {% comment %}
  Article Previews
  ====================
  {% endcomment %}
  <div class="blog">
    <div class="page-width blog__width">
      <div class="grid">
        {% for article in blog.articles %}

          {%- capture postCounterClass -%}
            grid__item small--one-whole medium-up--one-half
          {%- endcapture -%}

          {% include 'featured-posts'  with gridWidth: postCounterClass %}

        {% endfor %}
      </div>
    </div>

    <div class="page-width">
    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
    </div>
  </div>

{% endpaginate %}

{% schema %}
  {
    "name": "Blog Layout",
    "settings": [
      {
        "type": "header",
        "content": "Blog hero image"
      },
      {
        "type": "select",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "default": "no-margin",
        "options": [
          {
            "label": "Margin bottom",
            "value": "section-margin-bottom"
          },
          {
            "label": "No margin",
            "value": "no-margin"
          }
        ]
      },
      {
        "type": "select",
        "id": "full-width",
        "label": "Full width",
        "default": "full-width",
        "options": [
          {
            "label": "Full width",
            "value": "full-width"
          },
          {
            "label": "Within wrapper",
            "value": "wrapper"
          }
        ]
      },
      {
        "type": "select",
        "id": "positionX",
        "label": "Text position horizontal",
        "default": "hero-image--center",
        "options": [
          {
            "value": "hero-image--left",
            "label": "Left"
          },
          {
            "value": "hero-image--center",
            "label": "Center"
          },
          {
            "value": "hero-image--right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "positionY",
        "label": "Text position vertical",
        "default": "hero-image--middle",
        "options": [
          {
            "value": "hero-image--top",
            "label": "Top"
          },
          {
            "value": "hero-image--middle",
            "label": "Middle"
          },
          {
            "value": "hero-image--bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Text alignment",
        "default": "hero-image--text-center",
        "options": [
          {
            "value": "hero-image--text-left",
            "label": "Left"
          },
          {
            "value": "hero-image--text-center",
            "label": "Center"
          },
          {
            "value": "hero-image--text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text colour",
        "default": "hero-image--black",
        "options": [
          {
            "label": "Light",
            "value": "hero-image--white"
          },
          {
            "label": "Dark",
            "value": "hero-image--black"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Desktop image"
      },
      {
        "type": "header",
        "content": "Mobile Settings"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile image"
      },
      {
        "type": "header",
        "content": "Blog Settings"
      },
      {
        "type": "link_list",
        "id": "linklist",
        "label": "Navigation"
      }
    ]
  }

{% endschema %}
