
{% assign sectionEnable = section.settings.enable %}
{% assign sectionFullWidth = section.settings.full-width %}
{% assign sectionMarginBottom = section.settings.margin_bottom %}
{% assign videoSectionBackground = section.settings.image | img_url: 'master' %}
{% assign videoSectionUrlReady = section.settings.video_link %}

{% if sectionEnable %}

  {% if sectionFullWidth != 'full-width' %}<div class="page-width">{% endif %}
    <div class="video-player {% if sectionMarginBottom == 'margin' %}section-margin-bottom{% endif %}" >

      <div class="video-player__image" style="display:none;background-image:url('{{ videoSectionBackground }}')">
      </div>
    
      <div class="video-player__container">
        {% if videoSectionUrlReady contains "youtube" %}
          {% assign videoSectionUrlReady = videoSectionUrlReady | split: "youtube.com/watch?v=" %}
          <div class="video-player__wrapper">
            <div class="video-player__wrapper__position">
              <div id="video-player--youtube"></div>
            </div>
          </div>
        {% elsif videoSectionUrlReady contains "vimeo" %}
          {% assign videoSectionUrlReady = videoSectionUrlReady | split: "vimeo.com/video/" %}
          <div class="video-player__wrapper">
            <div id="video-player--vimeo"></div>
          </div>
        {% endif %}
      </div>

<style>  
  .video-player__container .video-player__wrapper {
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    position: relative;
  }
  .video-player__container .video-player__wrapper__position {
    position: relative;
    padding-bottom: 200%;
    transform: translateY(-35.95%);
  }
  .video-player__container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*pointer-events: none;*/
  }
</style>



<script src="https://player.vimeo.com/api/player.js"></script>
<script>

  var vimeoBoo = document.getElementById('video-player--vimeo');

  if(vimeoBoo){

    var options = {
      id: {{ videoSectionUrlReady[1] }},
      muted: 1,
      background: true,
      loop: true,
      autoplay: true,
      autopause: false,
      playsinline: true    
    };
    var vimeoPlayer = new Vimeo.Player('video-player--vimeo', options);


    vimeoPlayer.loadVideo({{ videoSectionUrlReady[1] }}).then(function(){
          vimeoPlayer.play()
          vimeoPlayer.pause()
          setTimeout(function() { vimeoPlayer.play() }, 750);
    });
  }


  var youtubeBoo = document.getElementById('video-player--youtube');

  if(youtubeBoo){

    var tag = document.createElement('script');
    tag.id = 'iframe-demo';
    tag.src = 'https://www.youtube.com/iframe_api';
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('video-player--youtube', {
          videoId: '{{- videoSectionUrlReady[1] -}}',
          playerVars: { 
            'modestbranding': 1,
            'showinfo':0,
            'autoplay': 1, 
            'controls':0,
            'rel':0, 
            'title': 0
          },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
      });
    }

    function onPlayerReady(event) {
      player.playVideo();
      player.mute();
    }
    function onPlayerStateChange(event) {
      if(event.data == 0){
        player.seekTo(0)
      }
    }
  }

</script>

    </div>
  {% if sectionFullWidth != 'full-width' %}</div>{% endif %}
{% endif %}
