{% comment %}
------------------------------------------------------------------------------
  Section: Instafeed
  - This section requires an Instafeed installation
------------------------------------------------------------------------------
{% endcomment %}
<section 
  id="instafeed-section" 
  class="instafeed {{ alignContent }} {% if template != 'index' %} instafeed--load-more {% endif %} {% if section.settings.margin_bottom == 'margin' %}section-margin-bottom{% endif %}" data-section-id="{{ section.id }}" data-section-type="instafeed">
  {% if section.settings.full-width != 'full-width' %}<div class="page-width">{% endif %}


  <div class="instafeed__header">

    {% if section.settings.title != blank %}
      <h2 class="instafeed__title">{{ section.settings.title | escape }}</h2>
    {% endif %}
    
  </div>

  <div id="instafeed"></div>

  <div class="instafeed__footer">

    <a href="https://www.instagram.com/WolfandShepherd/" target="_blank" class="instafeed__link">@WolfandShepherd</h2>

  </div>



  {% if section.settings.full-width != 'full-width' %}</div>{% endif %}
</section>

{% schema %}
  {
    "name": "Instafeed",
    "class": "index-section",
    "settings": [
      {
        "type": "header",
        "content": "Options"
      },
      {
        "type": "select",
        "id": "full-width",
        "label": "Collection Banner Full width",
        "default": "full-width",
        "options": [
          {
            "label": "Full width",
            "value": "full-width"
          },
          {
            "label": "Within wrapper",
            "value": "wrapper"
          }
        ]
      },
      {
        "type": "select",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "default": "no-margin",
        "options": [
          {
            "label": "Margin bottom",
            "value": "margin"
          },
          {
            "label": "No margin",
            "value": "no-margin"
          }
        ]
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Instagram"
      }
    ],
    "presets": [
      {
        "name": "Instafeed",
        "category": "Apps"
      }
    ]
  }
{% endschema %}
