<div data-section-id="{{ section.id }}" 
  data-section-type="product-miniform" 
  data-enable-history-state="false"
  onclick="_tfa.push({notify: 'event', name: 'Add_to_Bag', id: 1065515});">
  {% include 'product-form-mini' %}
  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>


{% schema %}
  {
    "name": "Product Miniform",
    "settings": [
      
    ]
  }
{% endschema %}
