<div class="page-width">
  <div class="grid">
    <div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">

      {%- assign current_variant = product.selected_or_first_available_variant -%}
      {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

      <div class="grid__item medium-up--one-half">
        {% include 'product-images' %}
      </div>

      <div class="grid__item medium-up--one-half">
        <div class="grid__item product-meta">
          <h1 class="product-header__title {% if product.title contains " | " %} no-marginb {% endif %}">{{ product.title | split:" || " | first}}</h1>
          {% if product.title contains " | " %}
          <p class="product-header__subtitle">{{ product.title | split:" || " | last }}</p>
          {% endif %}

          {% include 'product-form' %}

          {% if section.settings.show_size_guide %}            
            <a href="#!" class="product-form__size-guide js--size-guide">Size Guide</a>
          {% endif %}

          <div class="rte">
            {% include 'product-description' %}

            {% if section.settings.tabs_position == 'form' %}
              {% if product.description contains '%title-' %}
                {% if section.settings.show_product_tabs %}
                  <div class="small--hide">
                    {% include 'product-tabs' %}
                  </div>
                  <div {% if section.settings.show_product_tabs %} class="medium-up--hide"{% endif %}>
                    {% include 'product-accordion' %}
                  </div>
                {% else %}
                  <div>
                    {% include 'product-accordion' %}
                  </div>
                {% endif %}
              {% endif %}
            {% endif %}
          </div>

        {% if section.settings.show_share_buttons %}
          <div class="product-share text-center">
            {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          </div>
        {% endif %}
      </div>
    </div>

    {% if section.settings.tabs_position == 'below_form' %}
      <div class="grid__item">
        {% if product.description contains '%title-' %}

          {% if section.settings.show_product_tabs %}
            <div class="small--hide">
              {% include 'product-tabs' %}
            </div>
            <div {% if section.settings.show_product_tabs %} class="medium-up--hide"{% endif %}>
              {% include 'product-accordion' %}
            </div>
          {% else %}
            <div>
              {% include 'product-accordion' %}
            </div>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}

    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}

    </div>

  </div>
</div>

{% if section.settings.show_size_guide %} 
  {% include 'size-guide' %}
{% endif %}


{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_quantity",
        "label": "Show quantity",
        "default": false
      },
      {
        "type": "richtext",
        "id": "additional_label",
        "label": "Additional label"
      },
      {
        "type": "checkbox",
        "id": "show_size_guide",
        "label": "Show size guide",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_product_tabs",
        "label": "Show description tabs",
        "default": true
      },
      {
        "type": "select",
        "id": "tabs_position",
        "label": "Tabs position",
        "default": "below_form",
        "options": [
          {
            "value": "form",
            "label": "Below in description in main content"
          },
          {
            "value": "below_form",
            "label": "New section below main content"
          }
        ]
      }
    ]
  }
{% endschema %}
