{% assign sectionId = section.id %}
{% assign sectionEnable = section.settings.enable %}   
{% assign sectionImage = section.settings.image | img_url: '1700x'  %}
{% assign sectionImageAlt = section.settings.image.alt  %}
{% assign sectionImageTablet = section.settings.image_tablet | img_url: '1200x'  %}
{% assign sectionImageTabletAlt = section.settings.image_tablet.alt  %}
{% assign sectionImageMobile = section.settings.image_mobile | img_url: '800x'  %}
{% assign sectionImageMobileAlt = section.settings.image_mobile.alt  %}
{% assign sectionFullWidth = section.settings.full-width %}
{% assign sectionMarginBottom = section.settings.margin_bottom %}

{% if sectionEnable %}
  {% if sectionFullWidth != 'full-width' %}<div class="page-width">{% endif %}



  <div class="product-shoe-image {{ sectionMarginBottom }}">

    {% include 'header' with title: section.settings.title, text: section.settings.text %}

    <img class="product-shoe-image__desktop lazyload" data-src="{{ sectionImage }}" alt="{{sectionImageAlt}}"/>
  </div>

  {% if sectionFullWidth != 'full-width' %}</div>{% endif %}
  
{% endif %}
 
{% schema %}
  {
    "name": "Performance Shoe",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Show section"
      },
      {
        "type": "select",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "default": "no-margin",
        "options": [
          {
            "label": "Margin bottom",
            "value": "section-margin-bottom"
          },
          {
            "label": "No margin",
            "value": "no-margin"
          }
        ]
      },
      {
        "type": "select",
        "id": "full-width",
        "label": "Full width",
        "default": "full-width",
        "options": [
          {
            "label": "Full width",
            "value": "full-width"
          },
          {
            "label": "Within wrapper",
            "value": "wrapper"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Perfomance Shoe"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "We took the best principles from designing running shoes and applied them<br> to classic and timeless dress shoes you can wear all day."
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Desktop image",
        "info": "Advised size:"
      }
    ]
  }
{% endschema %}