{% comment %}
  modules/feature-collection.scss
{% endcomment %}
<div class="product-featured-collection {% if section.settings.background_light == false %}product-featured-collection--dark{% endif %}">
{% if section.settings.title %}
  <div class="page-width">
    <div class="grid">
      <div class="grid__item small--one-whole">
        <h2 class="product-featured-collection__title">{{section.settings.title}}</h2>
      </div>
    </div>
  </div>
{% endif %}
{% include 'section-featured-collection' %}
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "select",
        "id": "product_count",
        "label": "Number of products to show",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },          
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "select",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "default": "no-margin",
        "options": [
          {
            "label": "Margin bottom",
            "value": "section-margin-bottom"
          },
          {
            "label": "No margin",
            "value": "no-margin"
          }
        ]
      },
      {
        "id": "show_carousel",
        "type": "checkbox",
        "label": "Show as carousel"
      },      
      {
        "id": "show_button",
        "type": "checkbox",
        "label": "Show Collection button"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Button text"
      },
      {
        "id": "background_light",
        "type": "checkbox",
        "label": "Light background",
        "default": true
      }
    ]
  }

{% endschema %}
